---
role: ingest
artifact_id: data-prepper-no-jdk
version: data-prepper-DATA_PREPPER_VERSION
platform: linux
architecture: x64
type: targz
artifact_url: https://artifacts.opensearch.org/data-prepper/DATA_PREPPER_VERSION/opensearch-data-prepper-DATA_PREPPER_VERSION-linux-x64.tar.gz
signature: https://artifacts.opensearch.org/data-prepper/DATA_PREPPER_VERSION/opensearch-data-prepper-DATA_PREPPER_VERSION-linux-x64.tar.gz.sig
slug: data-prepper-DATA_PREPPER_VERSION-linux-x64
category: opensearch
---