---
layout: fullwidth-with-breadcrumbs
title: Versions
primary_title: Versions
breadcrumbs:
  icon: opensearch-admin
  items:
    - title: Downloads
      url: /downloads.html
    - title: Versions
      url: /versions/index.html
omit_from_search: true
notice: true
---
<ul>
  {% assign versions = site.versions | sort_versions: 'version_sort' | reverse %}
  {% for version in versions %}
    <li><a href="{{ version.url }}">
      {% if version.product == 'odfe' %} Open Distro for Elasticsearch {% else %} OpenSearch {% endif %} {{ version.version }}</a>
    </li>
  {% endfor %}
</ul>
