<div class="artifact-download-tree">
    <ul class="tree">
      {% for id_group in include.artifact_list %}
          <li id="{{id_group.name}}">{{ id_group.name }}
          {% assign artifacts_by_platform = id_group.items | sort: "platform" | group_by: "platform" %}
          <ul class="tree">
          {% for platform_group in artifacts_by_platform %}    
            {% assign architecture_group = platform_group.items | sort: "name" | group_by: "architecture" %}
            {% for artifacts in architecture_group %}
              <li>{{ platform_group.name }}-{{ artifacts.name }}
                <ul class="tree">
                  {% assign artifacts_items = artifacts.items | sort_versions: "version" %}
                  {% for artifact in artifacts_items %}
                    {% if artifact.link %}
                      <li><a href="{{ artifact.link }}">{{ artifact.link }}</a> [External]</li>
                    {% elsif artifact.artifact_url %}                   
                      <li><a href="{% if artifact.indirect %}{{artifact.url}}{% else %}{{artifact.artifact_url}}{% endif %}">{{ artifact.artifact_url | split: "/" | last }}</a></li>
                    {% else %}
                      <li></li>                   
                    {% endif %}
                  {% endfor %}
                </ul> 
              </li>
          {% endfor %}
          {% endfor %}
          </ul>
        </li>
      {% endfor %} 
      </ul>
  </div>
