
<div class="container {{ page.layout_class | default: layout_class | default: '' }}">
  <div id="subwrap">
    <div role="main">
      <div id="content-main">
        {{ content }}
        {{ content_secondary}}
      </div>
    </div>
    
    <!-- END #content-main -->
    <div id="content-related" class="sidebar">
    {{ content_related }}
    </div>
    <!-- END #content-related -->
  </div>
  <!-- END #subwrap -->
  <div id="content-extra" class="sidebar">
  {{ content_extra }}
  </div>
  <!-- END #content-extra -->
</div>