


  
    <div class="container {{ page.layout_class | default: layout_class | default: '' }}">
      <div class="row">
        
        <div id="subwrap">
          <div role="main">
            <div id="content-main" class="col">
              {{ content }}
              {{ content_secondary}}
            </div>
          </div>
          
          <!-- END #content-main -->
          <div id="content-related" class="sidebar col">
          {{ content_related }}
          </div>
          <!-- END #content-related -->
        </div>
        <!-- END #subwrap -->

        <!-- END #content-extra -->


      </div>
    </div>

