<script>
((opensearch) => {
    const cardContainerSelector = '{{ include.card_container_selector }}';
    const cardClassName = '{{ include.card_classname }}';
    
    if (document.readyState === 'loading') {
        if (!opensearch.cardClickabilityIncludeConfigStack) {
            opensearch.cardClickabilityIncludeConfigStack = [];
        }
        opensearch.cardClickabilityIncludeConfigStack.push({
            cardContainerSelector,
            cardClassName,
        });
    } else {
        window.opensearch.makeCardsClickable(
            cardContainerSelector, 
            cardClassName
        ).then(console.log);
    }
})(window.opensearch || (window.opensearch = {}));
</script>
