<template id="contact_info_element_tpl">
  <style>
      ul {
          list-style: none;
          padding: 0;
          margin: 0;
      }
  </style>
  <ul></ul>
</template>
<script type="module">
    class ContactInfoElement extends HTMLElement {
        isEmailAddress(value) {
            const pattern = /^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/;
            return pattern.test(value);
        }
        isPhoneNumber(value) {
            const pattern = /^[+-.() ]*(\d+)[+-.() ]*[-. ]*((\d{3}[-. ]*){0,5}(\d{1,2})?)?/;
            return pattern.test(value);
        }
        isWebAddress(value) {
            const pattern = /^https?:\/\/[^\n]+$/;
            return pattern.test(value);
        }

        createEmailLink(contactInfo) {
            const link = document.createElement('a');
            link.href = `mailto:${contactInfo}`;
            link.target = '_blank';
            link.textContent = contactInfo;
            return link;
        }
        createPhoneLink(contactInfo) {
            const link = document.createElement('a');
            link.href = `tel:${contactInfo}`;
            link.target = '_blank';
            link.textContent = contactInfo;
            return link;
        }
        createWebLink(contactInfo) {
            const link = document.createElement('a');
            link.href = contactInfo;
            link.target = '_blank';
            link.textContent = contactInfo;
            return link;
        }
        createListItem(childElement) {
            const li = document.createElement('li');
            li.appendChild(childElement);
            return li;
        }
        static get observedAttributes() {
            return ['conact-info'];
        }
        
        render() {
            const contactInfo = this.getAttribute('contact-info')?.split?.(',') ?? [];
            const childElements = contactInfo.map(contactInfo => {
                if (this.isEmailAddress(contactInfo)) {
                    return this.createListItem(this.createEmailLink(contactInfo));
                } else if (this.isPhoneNumber(contactInfo)) {
                    return this.createListItem(this.createPhoneLink(contactInfo));
                } else if (this.isWebAddress(contactInfo)) {
                    return this.createListItem(this.createWebLink(contactInfo));
                } else {
                    const span = document.createElement('span');
                    span.textContent = contactInfo;
                    return this.createListItem(span);
                }
            });
            const ul = this.shadowRoot.querySelector('ul');
            ul.append(...childElements);
        }

        constructor() {
            super();
            this.attachShadow({ mode: 'open' });
            const tpl = document.getElementById('contact_info_element_tpl');
            this.shadowRoot.appendChild(tpl.content.cloneNode(true));
        }
        connectedCallback() {
            this.render();
        }
        attributeChangedCallback(name, oldValue, newValue) {
            if (oldValue !== newValue) {
                this.render();
            }
        }
    }

    customElements.define('contact-info', ContactInfoElement);
</script>
