<ul class="contact-info-list">
{%- for info in include.contact_info -%}
    {% case info.type %}
        {% when 'email' %}
            <li class="contact-info-list--item"><a href="mailto:{{ info.value }}" target="_blank">{{ info.value }}</a></li>
        {% when 'phone' %}
            <li class="contact-info-list--item"><a href="tel:{{ info.value }}" target="_blank">{{ info.value }}</a></li>
        {% when 'website' %}
            <li><a href="{{ info.value }}" target="_blank">{{ info.value }}</a></li>
        {% else %}
            <li class="contact-info-list--item">{{ info.value }}</li>
    {% endcase %}
{%- endfor -%}
</ul>
