<br/>
<div class="whats-new-post" style="padding: 15px;  margin-bottom: 30px; background: #e4f0f9; border-left: 2px solid blue;">
<h4 style="margin-top: 5px"> Give us your feedback! </h4>
<p>
	Every quarter OpenSearch obtains feedback from users. This helps us make improvements to the OpenSearch Project. Please take a few minutes to take this survey.
</p>
<a class="cta" style="padding: 10px; margin-bottom: 0px; border-radius: 5px; border: 1px solid blue;" href="https://amazonmr.au1.qualtrics.com/jfe/form/SV_1BxJNrtCo4LbweW">Take the Survey</a>
</div>
