
<div role="contentinfo">
  <div class="subfooter">
    <div class="container">
      <h1 class="visuallyhidden">OpenSearch Links</h1>
      <div class="subfooter--flex-wrapper">
        <div class="subfooter--columns-wrapper">
          {% for column in site.data.footer.columns %}
            <div class="subfooter--columns-wrapper--column">
              <h4>{{ column.title }}</h4>
              <ul>
              {% for link in column.links %}
                <li><a href="{{ link.url }}">{{ link.title}}</a></li>
              {% endfor %}
              </ul>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="container">
      <div class="footer--flex-wrapper">
        <div class="footer--legal-rows-wrapper">
          <div class="footer--legal-rows-wrapper--row">
            <div class="footer--legal-rows-wrapper--row--logo__mobile">
              <div>
                <a href="{{ '/' | relative_url }}">
                  {% include icons.html type='opensearch-logo-monochrome-4' %}
                </a>
              </div>
              <div>
                <a href="{{ '/' | relative_url }}">Build Freely</a>
              </div>
            </div>
            <div class="footer--legal-rows-wrapper--row--logo__desktop">
              <a href="{{ '/' | relative_url }}">
                {% include icons.html type='opensearch-logo-with-tagline-horizontal-monochrome' %}
              </a>
            </div>
          </div>
          <div class="footer--legal-rows-wrapper--row">
            {% include footer_legal.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
