{% assign url_parts = page.url | split: "/" %}
{%if page.alert %}
<div role="banner" class="banner-alert">
  <div class="container">
    {{page.alert | markdownify}}
  </div>
</div>
{%endif%}
{%if site.data.alert.message %}
<div role="banner" class="banner-alert">
  <div class="container">
  {{site.data.alert.message | markdownify}}
  </div>
</div>
{%endif%}
<div role="banner" id="top">
  <div class="container">
    <a class="logo" href="{{ '/' | relative_url }}">
      OpenSearch
      {% include icons.html type='opensearch-logo-default-1' %}          
    </a>
    <div role="navigation">
      <ul class="nested-nav">
        {%- assign url_fragment = url_parts[1] | replace: '.html', '' -%}
        {%- if url_parts.size > 2 -%}
          {%- if url_parts[2] == "opensearchcon" -%}
            {%- assign is_conference_page = true -%}
          {%- else -%}
            {%- assign is_conference_page = false -%}
          {%- endif -%}
        {%- else -%}
          {%- if url_parts[1] == "opensearchcon2023-cfp.html" -%}
            {%- assign is_conference_page = true -%}
          {%- else -%}
            {%- assign is_conference_page = false -%}
          {%- endif -%}
        {%- endif -%}
        {% for nav_item in site.data.top_nav.items %}
          <li>
            {%- unless nav_item.children -%}
              {%- assign nested_nav_item_wrapper_classname = "nested-nav--top-menu-item--wrapper__without-children" -%}
            {%- else -%}
              {%- assign nested_nav_item_wrapper_classname = "nested-nav-top-menu-item--wrapper__has_children" -%}
            {%- endunless -%}
            <div class="nested-nav--top-menu-item-wrapper {{nested_nav_item_wrapper_classname}}">
              <div class="nested-nav--top-menu-item-wrapper--link">
                <a {% if nav_item.url %} href="{{ nav_item.url }}" {% endif %}
                  {%- unless is_conference_page -%}
                    {% if nav_item.fragments contains url_fragment or nav_item.fragment == url_fragment %} class="in-category" {% endif %}
                  {%- else -%}
                   {% if nav_item.fragment == "opensearchcon" %} class="in-category" {% endif %}
                  {%- endunless -%}
                >{{ nav_item.label }}</a>
              </div>
              {%- if nav_item.children -%}
                <div class="nested-nav--top-menu-item-wrapper--toggle">
                  {% include redesign_buttons.html name='expand-collapse-toggle' %}
                </div>
              {%- endif -%}
            </div>
            {% if nav_item.children %}
              <ul>
                {% for nav_child in nav_item.children %}
                  {%- if nav_child.url contains '://' -%}
                    {%- assign child_url_fragment = '#' -%}
                  {%- else -%}
                    {%- assign child_url_parts = nav_child.url | split: "/" -%}
                    {%- unless child_url_parts.size > 2 -%}
                      {%- assign child_url_fragment = child_url_parts.last | replace: '.html', '' -%}
                    {%- else -%}
                      {%- assign fragment_index = child_url_parts.size | minus: 2 -%}
                      {%- assign child_url_fragment = child_url_parts[fragment_index] -%}
                    {%- endunless -%}
                  {%- endif -%}
                  <li>
                    <a href="{{ nav_child.url }}"
                      {%- unless is_conference_page -%}
                        {%- unless nav_child.url contains "opensearchcon" -%}
                          {%- if url_fragment == "platform" -%}
                            {% if url_parts[2] == child_url_fragment %} class="in-category" {% endif %}
                          {%- else -%}
                            {% if child_url_fragment == url_fragment %} class="in-category" {% endif %}
                          {%- endif -%}
                        {%- endunless -%}
                      {%- else -%}
                        {%- assign split_child_url = nav_child.url | split: "/" -%}
                        {%- assign url_part_to_remove = "/" | append: split_child_url.last -%}
                        {%- assign child_url_parts_to_compare = nav_child.url | remove: url_part_to_remove -%}
                        {%- unless split_child_url.size == 2 -%}
                          {% if page.url contains child_url_parts_to_compare %} class="in-category" {% endif %}
                        {%- else -%}
                          {% if page.url == nav_child.url %} class="in-category" {% endif %}
                        {%- endunless -%}
                      {%- endunless -%}
                    >{{ nav_child.label }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
        <li class="landing-page-redesign--nav--search">
          <div class="landing-page-redesign--nav-search--field-with-results">
            <div class="landing-page-redesign--nav-search--field-with-results--field">
              <div class="landing-page-redesign--nav-search--field-with-results--field--wrapper">
                <div class="search">
                  <div class="search-input-wrap">
                    <input type="text" id="search-input" class="search-input"
                      placeholder="Search for Anything" aria-label="Search {{ site.title }}"
                      data-docs-version="latest" autocomplete="off"
                    >
                    <div class="search-spinner"><i></i></div>
                    <label for="search-input" class="search-label">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="search-icon" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
                        <circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                      </svg>
                    </label>
                  </div>
                  <div id="search-results" class="search-results custom-search-results"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="search-overlay"></div>
        </li>
      </ul>
    </div>
  </div>
</div>
<script type="module">
  document.addEventListener('DOMContentLoaded', () => {
    const subMenuHeights = [
      '336px',
      '144px',
      '288px',
      '240px',
    ];
    function getSubMenu(button) {
      const parentLI = button.closest('li');
      const childUL = parentLI.querySelector('ul');
      return childUL;
    }
    function initializeCustomMenuHeights(button, index) {
        const height = subMenuHeights[index];
        const childUL = getSubMenu(button);
        childUL?.style?.setProperty?.('--expanded-height', height);
    }
    function onToggleButtonClick(e) {
      const visibleClassName = 'opensearch-toggle-button-link__visible';
      const visibleSelector = `.${visibleClassName}`;
      const invisibleClassName = 'opensearch-toggle-button-link__invisible';
      const invisibleSelector = `.${invisibleClassName}`;

      const toggle = e.currentTarget;
      const visibleLink = toggle.querySelector(visibleSelector);
      const invisibleLink = toggle.querySelector(invisibleSelector);
      visibleLink.classList.remove(visibleClassName);
      visibleLink.classList.add(invisibleClassName);
      invisibleLink.classList.remove(invisibleClassName);
      invisibleLink.classList.add(visibleClassName);
      
      const childUL = getSubMenu(toggle);
      childUL?.toggleAttribute?.('expanded');
    }
    const topNavigationToggleButtons = document.querySelectorAll('#top .opensearch-toggle-button--wrapper');
    for (let i = 0; i < topNavigationToggleButtons.length; ++i) {
      const button = topNavigationToggleButtons[i];
      initializeCustomMenuHeights(button, i);
      button.addEventListener('click', onToggleButtonClick);
    }
  });
</script>
