<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% feed_meta %}
  {% assign pagetitle = page.title | strip_newlines %}
  {%- include head-twitter-metatags.html -%}
  
  <title>{% if pagetitle != "" %} {{ page.title | append: " &middot;" }} {% endif %} OpenSearch</title>

  <!-- Favicons -->
  {{ page.link_rel_tags }}
  <link rel="apple-touch-icon" href="{{'assets/img/apple-touch-icon.png' | relative_url }}">
  <link rel="icon" sizes="192x192" href="{{'assets/img/apple-touch-icon.png' | relative_url }}">
  <link rel="shortcut icon" href="{{'assets/img/favicon.ico' | relative_url }}">
  <link rel="canonical" href="{%if page.canonical %}{{page.canonical}}{%else%}{{site.url | append: page.url}}{%endif%}" />

  <meta name="msapplication-TileColor" content="#113228">
  <meta name="msapplication-TileImage" content="{{'img/icon-tile.png' | relative_url }}">

  <link rel="stylesheet" href="{{'assets/css/output.css' | relative_url }}" >
  {% if page.has_science_table %}
    {%- include science-table-styles.html -%}
  {% endif %}
  <script src="{{ 'assets/js/lib/modernizr.js' | relative_url }}"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-BQV14XK08F"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-BQV14XK08F');
  </script>
  {{ page.head_extra }}
</head>
