
<!-- MOBILE MENU -->
<nav class="navbar navbar-expand-lg d-block d-lg-none">
    <div class="container">
        <a class="navbar-brand" href="{{ '/' | relative_url }}">
            {% include icons.html type='opensearch-logo-default-1' %}          
        </a>

        <!-- TOGGLER -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">



                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Pages</a>
                    <div class="dropdown-menu dropdown-menu-xxl">
                        <div class="row row-cols-lg-4 row-cols-1 g-0">
                            <div class="col">
                                <div>
                                    <div>
                                        <div class="dropdown-header">Blog</div>
                                        <a class="dropdown-item" href="@@webRoot/blog-list-view.html">List View</a>
                                        <a class="dropdown-item" href="@@webRoot/blog.html">Grid View</a>
                                        <a class="dropdown-item" href="@@webRoot/blog-grid-thumbnail.html">Grid View v.2</a>
                                        <a class="dropdown-item" href="@@webRoot/blog-sidebar.html">Sidebar</a>
                                        <a class="dropdown-item" href="@@webRoot/blog-category.html">Category</a>
                                        <a class="dropdown-item" href="@@webRoot/blog-single.html">Single Post</a>
                                    </div>
                                    <div class="mt-3">
                                        <div class="dropdown-header">About</div>
                                        <a class="dropdown-item" href="@@webRoot/about.html">About v.1</a>
                                        <a class="dropdown-item" href="@@webRoot/about-v2.html">About v.2</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mt-3 mt-lg-0">
                                    <div>
                                        <div class="dropdown-header">Service</div>
                                        <a class="dropdown-item" href="@@webRoot/service-v1.html">Service v.1</a>
                                        <a class="dropdown-item" href="@@webRoot/service-v2.html">Service v.2</a>
                                        <a class="dropdown-item" href="@@webRoot/service-v3.html">Service v.3</a>
                                    </div>
                                    <div class="mt-3">
                                        <div class="dropdown-header">Events</div>

                                        <a class="dropdown-item" href="@@webRoot/events.html">List</a>
                                        <a class="dropdown-item" href="@@webRoot/event-single.html">Single</a>
                                    </div>
                                    <div class="mt-3">
                                        <div class="dropdown-header">Contact</div>

                                        <a class="dropdown-item" href="@@webRoot/contact-1.html">Contact Us</a>
                                        <a class="dropdown-item" href="@@webRoot/contact-2.html">Contact Sales</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mt-3 mt-lg-0">
                                    <div>
                                        <div class="dropdown-header">Portfolio</div>

                                        <a class="dropdown-item" href="@@webRoot/portfolio.html">Grid View</a>

                                        <a class="dropdown-item" href="@@webRoot/portfolio-single.html">Single View</a>
                                    </div>
                                    <div class="mt-3">
                                        <div class="dropdown-header">Pricing</div>
                                        <a class="dropdown-item" href="@@webRoot/pricing-v1.html">Pricing v.1</a>
                                        <a class="dropdown-item" href="@@webRoot/pricing-v2.html">Pricing v.2</a>
                                    </div>
                                    <div class="mt-3">
                                        <div class="dropdown-header">Career</div>
                                        <a class="dropdown-item" href="@@webRoot/career.html">Career</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mt-3 mt-lg-0">
                                    <div>
                                        <div class="dropdown-header">Integration</div>
                                        <a class="dropdown-item" href="@@webRoot/integration.html">Grid View</a>
                                        <a class="dropdown-item" href="@@webRoot/integration-single.html">Single</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            
            <div class="d-grid gap-2">
                <button class="btn btn-outline-primary" aria-current="download">Download OpenSearch 2.6</button>
            </div>
            
            <!-- Search form -->
            <form class="input-group w-auto my-auto d-none d-sm-flex">
                <input
                    autocomplete="off"
                    type="search"
                    class="form-control rounded"
                    placeholder="Search for Anything"
                    style="min-width: 125px;"
                />
                <span class="input-group-text border-0 d-none d-lg-flex">
                    <i class="fas fa-search"></i>
                </span>
            </form> 

        </div>
    </div>
</nav>



<!--Third button-->
<!-- <section class="mb-3">
    <nav class="navbar navbar-info bg-info">
      <div class="container-fluid">
        <button data-mdb-button-init class="navbar-toggler third-button" type="button" data-mdb-collapse-init
          data-mdb-target="#navbarToggleExternalContent11"
          aria-controls="navbarToggleExternalContent11" aria-expanded="false"
          aria-label="Toggle navigation">
          <div class="animated-icon3"><span></span><span></span><span></span></div>
        </button>
      </div>
    </nav>
    <div class="collapse" id="navbarToggleExternalContent11">
      <div class="bg-body-tertiary shadow-3 p-4">
        <button data-mdb-button-init data-mdb-ripple-init
          class="btn btn-link btn-block border-bottom m-0">Link 1</button>
        <button data-mdb-button-init data-mdb-ripple-init
          class="btn btn-link btn-block border-bottom m-0">Link 2</button>
        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-block m-0">Link
          3</button>
      </div>
    </div>
  </section>

  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <button data-mdb-button-init class="navbar-toggler" type="button" data-mdb-collapse-init
        data-mdb-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
    </div>
  </nav>
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-body-tertiary shadow-3 p-4">
      <button data-mdb-button-init data-mdb-ripple-init
        class="btn btn-link btn-block border-bottom m-0">Link 1</button>
      <button data-mdb-button-init data-mdb-ripple-init
        class="btn btn-link btn-block border-bottom m-0">Link 2</button>
      <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-block m-0">Link
        3</button>
    </div>
  </div> -->

<!-- DESKTOP MENU -->


{% assign datafile = "header_navmenu_datafile.json" %}
<div class="nav-drawer accordion accordion-flush" id="accordion-megamenu">


    <nav class="navbar top-nav-desktop navbar-expand-lg d-none d-lg-block">
        <div class="container">
            <a class="navbar-brand" href="{{ '/' | relative_url }}">
                {% include icons.html type='opensearch-logo-default-1' %}          
            </a>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item accordion-header my-auto mx-3">
                    <a class="nav-link btn  accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent-Platform" aria-controls="navbarToggleExternalContent-Platform" aria-expanded="false" aria-label="Toggle navigation Platform" href="#">Platform</a>
                </li>
                <li class="nav-item accordion-header my-auto mx-3">
                    <a class="nav-link btn accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent-Blog" aria-controls="navbarToggleExternalContent-Blog" aria-expanded="false" aria-label="Toggle navigation Blog" href="#">Blog</a>
                </li>
                <li  class="nav-item accordion-header my-auto mx-3">
                    <a class="nav-link btn accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent-Community" aria-controls="navbarToggleExternalContent-Community" aria-expanded="false" aria-label="Toggle navigation Community" href="#">Community</a>
                </li >
                <li  class="nav-item accordion-header my-auto mx-3">
                    <a class="nav-link btn accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent-Documentation" aria-controls="navbarToggleExternalContent-Documentation" aria-expanded="false" aria-label="Toggle navigation Documentation" href="#">Documentation</a>
                </li >

            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                <div class=" my-auto pt-2 pb-2 mx-3 d-none d-xxl-block">
                    <button class="btn top-nav-button btn-outline-primary my-1 py-1" aria-current="Download">Download OpenSearch 2.16</button>
                </div>
                <div class=" my-auto pt-2 pb-2 mx-3 d-block d-xxl-none">
                    <button class="btn top-nav-button btn-outline-primary my-1 py-1" aria-current="Download">Download</button>
                </div>

                <div class="accordion-header my-auto mx-auto">
                    <button class="btn accordion-button nav-search-icon collapsed my-auto p-0 rounded-circle" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent-Search" aria-controls="navbarToggleExternalContent-Search" aria-current="Toggle navigation Search" aria-expanded="false" >
                        {% include icons.html type='search-magnifying-glass-navbar' %}
                    </button>
                </div>


            </ul> 

        </div>
    </nav>





    <div class="container accordion accordion-flush">

        {% assign data_platform_dropdown = site.data.header_navmenu_datafile.Desktop['Platform']  %}
        {% assign left_column = data_platform_dropdown['LeftColumn'] %}
        {% assign center_column = data_platform_dropdown['CenterColumn'] %}
        {% assign right_column = data_platform_dropdown['RightColumn'] %}
        <!-- PLATFORM -->
        <div class="accordion-item">
            <div class="accordion-collapse collapse" data-bs-parent="#accordion-megamenu" data-bs-toggle="collapse" aria-expanded="false" id="navbarToggleExternalContent-Platform" >
                <div class="accordion-body">
                    <div class="row">

                        <!-- LEFT COLUMN -->
                        <div class="col-md-4 col-12">

                            {% for content_section in left_column %}
                                <div class="mb-4">
                                    <span class="mb-0 drawer-content-header-link">{{content_section.Title}}</span>
                                </div>

                                <div>
                                    {% for nav_link in content_section.SubNav %}
                                        <div class="mb-4 row">
                                            <div class="col-2 icon-div-box">
                                                {% include icons.html type=nav_link.Icon %}
                                            </div>
                                            <div class="col-10">
                                                <div class="row mb-1">
                                                    <a href='{{ nav_link.URL }}' class="drawer-content-subheader">{{ nav_link.Name }}</a>
                                                </div>
                                                <div class="row">
                                                    <span class="mb-0 drawer-content-text">{{ nav_link.SubText }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>

                            {% endfor %}
                        </div>

                        <!-- CENTER COLUMN -->
                        <div class="col-md-3 col-12">
                            {% for content_section in center_column %}
                                <div class="pb-2 mb-4">
                                    <span class="mb-0 drawer-content-header">{{content_section.Title}}</span>
                                </div>
                                <div>
                                    {% for nav_link in content_section.SubNav %}
                                        
                                        <div class="mb-5 row">
                                            <div class="col-2 icon-div-box">
                                                {% include icons.html type=nav_link.Icon %}
                                            </div>
                                            <div class="col">
                                                <div class="row mb-2">
                                                    <a href='{{ nav_link.URL }}' class="drawer-content-subheader">{{ nav_link.Name }}</a>
                                                </div>
                                                {% for sub_nav_link in nav_link.SubLinks %}
                                                    <div class="row mb-1 ps-1">
                                                        <a href='{{ sub_nav_link.URL }}' class="drawer-content-text-link">{{ sub_nav_link.Name }}</a>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>

                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>

                        <!-- RIGHT COLUMN -->
                        <div class="col-md-4 offset-md-1 col-12">
                            {% for content_section in right_column %}
                                <div class="pb-2 mb-4">
                                    <span class="mb-0 drawer-content-header">{{content_section.Title}}</span>
                                </div>

                                <div>
                                    {% for nav_link in content_section.SubNav %}
                                        
                                        <div class="mb-2 row">
                                            <div class="col-2 icon-div-box">
                                                {% include icons.html type=nav_link.Icon %}
                                            </div>
                                            <div class="col">
                                                <div class="row mb-2">
                                                    <a href='{{ nav_link.URL }}' class="drawer-content-subheader">{{ nav_link.Name }}</a>
                                                </div>
                                            </div>
                                        </div>

                                    {% endfor %}
                                </div>
    
                                <div class="px-5">
                                    <a href="/benchmarks/" class="btn button-light">View Data</a>
                                </div>
                                
                            {% endfor %}
                        </div>


                        <!-- BOTTOM TRIANGLE ICON -->
                        <div class="position-relative">
                            <div class="nav-drawer-triangle position-absolute bottom-0 end-0" >
                                {% include icons.html type=data_platform_dropdown.BottomTriangleIcon %}
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    

        {% assign data_community_dropdown = site.data.header_navmenu_datafile.Desktop['Blog']  %}
        {% assign left_column = data_community_dropdown['LeftColumn'] %}
        {% assign right_column = data_community_dropdown['RightColumn'] %}

        {% assign paginator = paginator %}
        {% assign featured_post = site.posts | where: "featured_blog_post", true | first %}
        <!-- BLOG -->
        <div class="accordion-item">
            <div class="accordion-collapse collapse" data-bs-parent="#accordion-megamenu" data-bs-toggle="collapse" aria-expanded="false" id="navbarToggleExternalContent-Blog" >
                <div class="accordion-body">
                    <div class="row">
    
                        <!-- LEFT COLUMN -->
                        <div class="col-md-8 col-12">

                            {% for content_section in left_column %}
                                <div class="mb-4">
                                    <span class="drawer-content-header-link">{{content_section.Title}}</span>
                                </div>

                                <!-- TABLE -->
                                <table class="table blog-table shadow mb-5">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="megamenu-table-heading">{{ content_section.TableHeading }}</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-group-divider">
                                        {% for post in site.posts limit:5 %}
                                            {% if post != featured_post %}
                                                {% assign post_metadata_date_string = "" %}

                                                <!-- Date -->
                                                {% assign post_metadata_date_string = post_metadata_date_string | append: post.date | date: "%b %d, %Y" %}
                            

                                                <tr>
                                                    <td scope="row"><a class="megamenu-blog-title" href="{{  post.url }}" >{{ post.title }}</a></td>
                                                    <td class="megamenu-blog-date">{{ post_metadata_date_string }}</td>
                                                </tr>

                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>


                            {% endfor %}


                        </div>



                        <!-- RIGHT COLUMN -->
                        <div class="col-lg-4 col-12">

                            {% for content_section in right_column %}
                                <div class="mb-4">
                                    <span class="drawer-content-header">{{content_section.Title}}</span>
                                </div>









                                <!-- FEATURED POST -->
                                {% assign post_metadata_string = "" %}
                                <!-- Date -->
                                {% assign post_metadata_string = post_metadata_string | append: featured_post.date | date: "%b %d %Y" %}
                
                                {% assign post_metadata_string = post_metadata_string | append: " &bull; " %}
                                <!-- Categories -->
                                {% for category in featured_post.categories %}
                                    {% assign post_metadata_string = post_metadata_string | append: category %}
                                    {% if forloop.length > 1 and forloop.last != true %}
                                        {% assign post_metadata_string = post_metadata_string | append: ", " %}
                                    {% endif %}
                                {% endfor %}
                                <div class="card mb-5 border shadow-sm rounded text-body-emphasis bg-body-secondary">
                                    <img class="card-img-top cropped-img" src="{{featured_post.featured_image | default: '/assets/img/blog-hero-placeholder.png'}}" alt="Card image cap">
                                    <div class="card-body">
                                        <div class="p-0">
                                            <h3 class=" display-6 ">{{ featured_post.title }}</h3>
                                            <a href="{{  featured_post.url }}" class="stretched-link"></a>
                                        </div>
                                    </div>
                                </div>

                                <!-- BUTTON -->
                                <div class="mb-5 px-1">
                                    <a href="/blog/" class="btn button-light">Visit the OpenSearch Blog</a>
                                </div>


                            {% endfor %}

                        </div>





                        <!-- BOTTOM TRIANGLE ICON -->
                        <div class="position-relative">
                            <div class="nav-drawer-triangle position-absolute bottom-0 end-0" >
                                {% include icons.html type=data_community_dropdown.BottomTriangleIcon %}
                            </div>
                        </div>
    
                    </div>
                </div>
    
            </div>
        </div>
    

        {% assign data_community_dropdown = site.data.header_navmenu_datafile.Desktop['Community']  %}
        {% assign left_column = data_community_dropdown['LeftColumn'] %}
        {% assign right_column = data_community_dropdown['RightColumn'] %}
        <!-- COMMUNITY -->
        <div class="accordion-item">
            <div class="accordion-collapse collapse" data-bs-parent="#accordion-megamenu" data-bs-toggle="collapse" aria-expanded="false" id="navbarToggleExternalContent-Community" >
                <div class="accordion-body">
                    <div class="row">
    
                        <!-- LEFT COLUMN -->
                        <div class="col-md-8 col-12">

                            {% for content_section in left_column %}
                                <div class="mb-4">
                                    <span class="drawer-content-header-link">{{content_section.Title}}</span>
                                </div>

                                <div class="row row-cols-1 row-cols-lg-2">    
                                    {% for nav_link in content_section.SubNav %}
                                        <div class="row mb-4">
                                            <div class="col-4 icon-div-box">
                                                {% include icons.html type=nav_link.Icon class='object-fit-contain' %}
                                            </div>
                                            <div class="col pe-0">
                                                <div class="row mb-1">
                                                    <a href='{{ nav_link.URL }}' class="drawer-content-subheader">{{ nav_link.Name }}</a>
                                                </div>
                                                <div class="row">
                                                    <span class="mb-0 pe-0 drawer-content-text">{{ nav_link.SubText }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
        
                            {% endfor %}
                        </div>





                        <!-- RIGHT COLUMN -->
                        <div class="col-lg-4 col-12">

                            {% for content_section in right_column %}
                                <div class="mb-4">
                                    <span class="drawer-content-header">{{content_section.Title}}</span>
                                </div>

                                <div class="card mb-4 hero-card rounded">
                                    <img src="{{ content_section.OpenSearchCon_HeroBanner }}" class="card-img h-100" alt="{{ content_section.OpenSearchCon_ButtonText}}">
                                    <a href="{{ content_section.OpenSearchCon_Link }}" class="stretched-link"></a>
                                </div>

                                <div class="row mb-1">
                                    <span class="drawer-content-subheader">{{ content_section.Name }}</span>
                                </div>
                                {% for nav_link in content_section.SubNav %}
                                    <div class="row mb-1 ps-2">
                                        <a href='{{ nav_link.URL }}' class="drawer-content-text-link">{{ nav_link.Name }}</a>
                                    </div>
                                {% endfor %}
                            {% endfor %}

                        </div>





                        <!-- BOTTOM TRIANGLE ICON -->
                        <div class="position-relative">
                            <div class="nav-drawer-triangle position-absolute bottom-0 end-0" >
                                {% include icons.html type=data_community_dropdown.BottomTriangleIcon %}
                            </div>
                        </div>
    
                    </div>


    
                </div>
    
            </div>
        </div>    
    
        

        {% assign data_documentation_dropdown = site.data.header_navmenu_datafile.Desktop['Documentation']  %}
        {% assign left_column = data_documentation_dropdown['LeftColumn'] %}
        <!-- DOCUMENTATION -->
        <div class="accordion-item">
            <div class="accordion-collapse collapse" data-bs-parent="#accordion-megamenu" data-bs-toggle="collapse" aria-expanded="false" id="navbarToggleExternalContent-Documentation" >
                <div class="accordion-body">
                    
                    <div class="row mb-5">
                        <!-- LEFT COLUMN -->
                        <div class="col-md-9 col-12">

                            {% for content_section in left_column %}
                                <div class="mb-5">
                                    <span class="drawer-content-header-link">{{content_section.Title}}</span>
                                </div>

                                <div class="row row-cols-1 row-cols-lg-2 g-4">    
                                    {% for nav_link in content_section.SubNav %}
                                        <div class="row mb-4">
                                            <div class="col-4 icon-div-box">
                                                {% include icons.html type=nav_link.Icon class='object-fit-contain' %}
                                            </div>
                                            <div class="col-8">
                                                <div class="row mb-1">
                                                    <a href='{{ nav_link.URL }}' class="drawer-content-subheader">{{ nav_link.Name }}</a>
                                                </div>
                                                <div class="row">
                                                    <span class="mb-0 drawer-content-text">{{ nav_link.SubText }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
        
                            {% endfor %}
                        </div>

                    </div>

                    <!-- BOTTOM TRIANGLE ICON -->
                    <div class="position-relative">
                        <div class="nav-drawer-triangle position-absolute bottom-0 end-0" >
                            {% include icons.html type=data_documentation_dropdown.BottomTriangleIcon %}
                        </div>
                    </div>

                </div>
    
            </div>
        </div>    
    

        {% assign data_search_dropdown = site.data.header_navmenu_datafile.Desktop['Search']  %}
        <!-- SEARCH -->
        <div class="accordion-item">
            <div class="accordion-collapse collapse" data-bs-parent="#accordion-megamenu" data-bs-toggle="collapse" aria-expanded="false" id="navbarToggleExternalContent-Search" >
                <div class="accordion-body">

                    <div class="row mb-5">
                        <!-- LEFT COLUMN -->
                        <div class="col-md-11 col-12">
                        

                        <!-- SEARCH FORM -->
                        <div class="row mb-5">

                                <div class="input-group search-form">
                                    
                                    <span class="input-group-text bg-transparent border-right-0">{% include icons.html type='searchbar-search-icon' %}</span>
                                   
                                    <input class="form-control py-2 border-left-0 border" type="search" value="..." id="example-search-input">
                                    
                                    <span class="input-group-text bg-transparent border-left-0">{% include icons.html type='searchbar-close-icon' %}</span>
                                    
                                </div>
                        </div>
                        <!-- SEARCH RESULTS -->
                        <div class="row mb-5">
                        </div>
                    </div>                        

                    </div>



                    <!-- BOTTOM TRIANGLE ICON -->
                    <div class="position-relative">
                        <div class="nav-drawer-triangle position-absolute bottom-0 end-0" >
                            {% include icons.html type=data_search_dropdown.BottomTriangleIcon %}
                        </div>
                    </div>
        

                </div>
    
            </div>
        </div>
    </div>

</div>
