<div class="full-width-layout--header">
    {% if include.breadcrumbs %}
        <div class="full-width-layout--header--category-area">
            {% assign icon_type = include.breadcrumbs.icon %}
            {% assign breadcrumb_items = include.breadcrumbs.items %}
            {% if icon_type %}
                <div class="full-width-layout--header--icon">
                    {% include icons.html type=icon_type %}
                </div>
                {% if breadcrumb_items %}
                    {% for item in breadcrumb_items %}
                        <div class="full-width-layout--header--breadcrumbs--item">
                            {% if item.url -%}
                                <a href="{{ item.url }}">{{ item.title }}</a>
                            {%- else -%}
                                {{- item.title -}}
                            {%- endif %}
                        </div>
                        {% unless forloop.last %}
                            <div class="full-width-layout--header--breadcrumbs--item-separator">&gt;</div>
                        {% endunless %}
                    {% endfor %}
                {% endif %}
            {% endif %}
        </div>
    {% endif %}
    <div class="full-width-layout--header--title">
        {% if include.primary_title %}
            <h1>{{ include.primary_title }}</h1>
        {% elsif include.title %}
            <h1>{{ include.title }}</h1>
        {% endif %}
    </div>
</div>
{%- unless page.collection == 'posts' -%}
    {% comment %} Titles on posts tend to be too verbose or lengthy to be useful as a breadcrumb text. {% endcomment %}
    {%- if include.is_breadcrumbs_from_layout -%}
        <template id="last-breadcrumb-from-layout-template">
            <div class="full-width-layout--header--breadcrumbs--item-separator">&gt;</div>
            <div class="full-width-layout--header--breadcrumbs--item">
                <a></a>
            </div>
        </template>
        <script type="module">
            {%- if include.primary_title -%}
                const lastBreadcrumbTitle = "{{ include.primary_title }}";
            {%- elsif include.title -%}
                const lastBreadcrumbTitle = "{{ include.title }}";
            {%- else -%}
                const lastBreadcrumbTitle = '';
            {%- endif -%}
            
            if (lastBreadcrumbTitle !== '') {
                const lastBreadcrumbTemplate = document.getElementById('last-breadcrumb-from-layout-template')?.content?.cloneNode?.(true);
                if (lastBreadcrumbTemplate) {
                    const breadcrumbUrl = `${window.location}`;
                    const breadcrumbLink = lastBreadcrumbTemplate.querySelector('a');
                    if (breadcrumbLink) {
                        breadcrumbLink.setAttribute('href', breadcrumbUrl);
                        breadcrumbLink.textContent = lastBreadcrumbTitle;
                        const breadcrumbItemsSelector = '.full-width-layout--header > .full-width-layout--header--category-area > .full-width-layout--header--breadcrumbs--item';
                        const breadcrumbItems = document.querySelectorAll(breadcrumbItemsSelector);
                        const breadcrumbItemsLength = breadcrumbItems.length;
                        if (breadcrumbItemsLength > 0) {
                            const insertionPoint = breadcrumbItems.item(breadcrumbItemsLength - 1);
                            insertionPoint.after(lastBreadcrumbTemplate);
                        }
                    }
                }
            }
        </script>
    {%- endif - %}
{%- endunless -%}
