{% case include.name %}
    {% when 'Search' %}
        <div>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="10" cy="10" r="10" fill="#003B5C"/>
            </svg>
        </div>
        {% if include.include_label %}
            <div>Search</div>
        {% endif %}
    {% when 'Analytics, Observability, and Security' %}
        <div>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="10" cy="10" r="10" fill="#963CBD"/>
            </svg>
        </div>
        {% if include.include_label %}
            <div>
                Analytics, Observability, and Security
            </div>
        {% endif %}
    {% when 'Community' %}
        <div>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="10" cy="10" r="10" fill="#00A3E0"/>
            </svg>
        </div>
        {% if include.include_label %}
            <div>
                Community
            </div>
        {% endif %}
    {% when 'Operating OpenSearch' %}
        <div>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="10" cy="10" r="10" fill="#FFB81C"/>
            </svg>
        </div>
        {% if include.include_label %}
            <div>
                Operating OpenSearch
            </div>
        {% endif %}
{% endcase %}
