<div class="resource-grid--item">
    {%- if inclucde.aspect_ratio != "" -%}
        <div class="resource-grid--item--thumbnail" 
            style="padding-top: {{ include.aspect_ratio }}"
        >
    {%- else -%}
        <div class="resource-grid--item--thumbnail">
    {%- endif -%}
        {%- if include.thumbnail -%}
            <a class="resource-grid--item--link" 
                href="{{ include..url }}"
            >
                <img src="{{ include.thumbnail }}" 
                    alt="Thumbnail for blog post titled {{ include.title }}"
                >
            </a>
        {%- endif -%}
    </div>
    <div class="resource-grid--item--title-type">{{ include.category }}</div>
    <div class="resource-grid--item--title">
        <div>
            <a class="resource-grid--item--link" 
                href="{{ include.url }}" 
            ><span>{{ include.title }}</span></a>
        </div>
    </div>
    {%- if include.author or include.twitter -%}
        <div class="resource-grid-item--byline">
            <span>{{ include.author }}</span>
            {%- if include.author and include.twitter -%}<span> | </span>{%- endif -%}
            {%- if include.twitter -%}<span>@{{ include.twitter }}</span>{%- endif -%}
        </div>
    {%- endif -%}
</div>
