{%  case include.name %}
    {% when 'download' %}
        <label for="download-button" class="redesign-buttons--label">Download OpenSearch</label>
        <div class="redesign-button--wrapper">
            <a href="/downloads" class="redesign-button--anchor" id="download-button">
                <div class="redesign-button--contents redesign-buttons--download__large">
                    <div class="redesign-button--contents--text-slot">
                        <span class="download-button--mouseout-logo redesign-button--contents__mouseout">
                            {%- include icons.html type='opensearch-logo-darkmode' -%}
                        </span>
                        <span class="download-button--mouseover-logo redesign-button--contents__mouseover">
                            {%- include icons.html type='opensearch-logo-darkmode-2' -%}
                        </span>
                        <span class="download-button--disabled-logo redesign-button--contents__disabled">
                            {%- include icons.html type='opensearch-logo-monochrome-1' %}
                        </span>
                    </div>
                    <div class="redesign-button--contents--icon-slot">
                        <span class="download-button--mouseout-icon redesign-button--contents__mouseout">
                            {%- include icons.html type='angle-double-down' -%}
                        </span>
                        <span class="download-button--mouseover-icon redesign-button--contents__mouseover">
                            {%- include icons.html type='angle-double-down-2' -%}
                        </span>
                        <span class="download-button--disabled-icon redesign-button--contents__disabled">
                            {%- include icons.html type='angle-double-down-monochrome-1' -%}
                        </span>
                    </div>
                </div>
            </a>
        </div>
    {% when 'documentation' %}
        <label for="documentation-button" class="redesign-buttons--label">Learn More</label>
        <div class="redesign-button--wrapper">
            <a href="https://opensearch.org/docs/latest/" class="redesign-button--anchor" id="documentation-button">
                <div class="redesign-button--contents redesign-buttons--documentation">
                    Documentation
                </div>
            </a>
        </div>
    {% when 'community' %}
        <label class="redesign-buttons--label">Join Our Community</label>
        <div class="redesign-button-pair--wrapper">
            <div class="redesign-button--wrapper">
                <a href="https://opensearch.org/community/" class="redesign-button--anchor">
                    <div class="redesign-button--contents redesign-buttons--forum">
                        Forum
                    </div>
                </a>
            </div>
            <div class="redesign-button--wrapper">
                <a href="/slack.html" class="redesign-button--anchor">
                    <div class="redesign-button--contents redesign-buttons--slack">
                        Slack
                    </div> 
                </a>
            </div>
        </div>
    {% when 'project' %}
        <label for="project-button" class="redesign-buttons--label">Join the Project</label>
        <opensearch-button
            size="large"
            icon-position="right"
            no-outline="true"
            theme-color="{{ include.theme_color | default: 'primary' }}"
            class="redesign-buttons--project__large"
        >
            <div slot="icon-slot">
                {%- include icons.html type='chevron-right-circle' -%}
            </div>
            <div slot="text-slot">
                <div class="opensearch-button--label__combined-text-icon">
                    <div 
                        class="opensearch-button--label__combined-text-icon--icon"
                    >{%- include icons.html type='github' -%}</div>
                    <div 
                        class="opensearch-button--label__combined-text-icon--text"
                    >OpenSearch Project Org</div>
                </div>
            </div>
        </opensearch-button>
{% endcase %}

