<div class="resource-grid">
    {% for resource in include.resources %}
        <div class="resource-grid--item">
            {% assign aspect_ratio = resource.aspect_ratio | default: "" %}
            {% if aspect_ratio != "" %}
                <div class="resource-grid--item--thumbnail" style="padding-top: {{ aspect_ratio }}">
            {% else %}
                <div class="resource-grid--item--thumbnail">
            {% endif %}
                {% if resource.thumbnail %}
                    <a href="{{ resource.url }}" target="_blank">
                        <img src="{{ resource.thumbnail }}" alt="{{ resource.title }}">
                    </a>
                {% endif %}
            </div>
            <div class="resource-grid--item--title-type">{{ resource.type }}</div>
            <div class="resource-grid--item--title">
                <div>
                    <a href="{{ resource.url }}" target="_blank"><span>{{ resource.title }}</span></a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

