<template id="resource_grid_element_tpl">
    <style>
        @media screen and (max-width: 819px) {
            .grid {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                row-gap: 1.5em;
            }
        }
        @media screen and (min-width: 820px) {
            .grid {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(Min(260px, 100%), 1fr));
                column-gap: 20px;
                row-gap: 1em;
            }
        }
        @media screen and (min-width: 820px) and (max-width: 919px) {
            .grid {
                row-gap: 2em;
            }
        }
    </style>
    <div class="grid">
        <slot name="grid-item"></slot>
    </div>
</template>
<template id="resource_grid_item_element_tpl">
    <style>
        .grid-item {
            background-color: #f5f7f7;
            padding: 1em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            height: 300px;
            min-width: calc(270px - 1em);
        }
        .thumbnail {
            text-align: center;
            padding: 0;
        }
        @media screen and (min-width: 1270px) {
            .thumbnail {
                height: auto;
            }
        }
        .thumbnail img {
            width: 100%;
            height: auto;
        }
        .title {
            flex-grow: 1;
            text-align: left;
            width: 100%;
        }
        .title > div {
            display: inline-flex;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .title-type {
            text-transform: capitalize;
            width: 100%;
            text-align: left;
            padding: 0;
            color: #002a3a;
            font-weight: bold;
        }
        .title-text {
            vertical-align: text-top;
        }
        a {
            text-decoration: none;
            line-height: 1;
        }
        @media screen and (max-width: 819px) {
            .grid-item {
                min-height: auto;
                max-height: unset;
                min-width: auto;
                max-width: unset;
                height: auto;
                justify-content: flex-start;
            }
            .thumbnail {
                height: auto;
            }
        }
        @media screen and (max-width: 861px) {
            .grid-item {
                height: auto;
            }
        }
        @media screen and (min-width: 820px) and (max-width: 919px) {
            .grid-item {
                min-width: calc(270px - 1em);
            }
        }
        @media screen and (min-width: 920px) and (max-width: 1000px) {
            .grid-item {
                min-width: calc(270px - 1.5em);
                max-width: calc(360px - 1.5em);
            }
        }
        @media screen and (min-width: 1221px) {
            .grid-item {
                min-width: calc(270px - 2em);
                max-width: calc(360px - 2em);
            }
        }
    </style>
    <div class="grid-item">
        <div class="thumbnail">
            <a href="" target="_blank">
                <img>
            </a>
        </div>
        <div class="title-type"></div>
        <div class="title">
            <div>
                <a href="" target="_blank">
                    <span class="title-text"></span>
                </a>
            </div>
        </div>
    </div>
</template>
<script type="module">
    class ResourceGridElement extends HTMLElement {
        constructor() {
            super();
            this.attachShadow({ mode: 'open' });
            const tpl = document.getElementById('resource_grid_element_tpl');
            this.shadowRoot.appendChild(tpl.content.cloneNode(true));
        }
        connectedCallback() {
            window.customElements.whenDefined('resource-grid-item').then(() => {
                this.resizeGridItems();
            });
        }

        resizeGridItems() {
            // TODO: Determine if there's a clean way to do this at all,
            //       or if we should just be really deliberate about 
            //       what images we are using. The latter is probably
            //       the choice with the most predicatable outcome.
            const gridItemSlot = this.shadowRoot.querySelector('slot[name="grid-item"]');
            const gridItemElements = Array.from(gridItemSlot.assignedElements());
            Promise.all(gridItemElements.map(e => e.getThumbnailHeights())).then((thumbHeights) => {
                const naturalHeights = thumbHeights.map(h => h.natural);
                const heights = thumbHeights.map(h => h.height);
                const minHeight = Math.min(...naturalHeights);
                const maxHeight = Math.max(...heights);
                gridItemElements.forEach(e => e.setThumbnailHeight(minHeight, maxHeight));
            });
        }
    }

    class ResourceGridItemElement extends HTMLElement {
        static get observedAttributes() {
            return ['url', 'type', 'title', 'thumbnail'];
        }
        attributeChangedCallback(name, oldValue, newValue) {
            if (oldValue !== newValue) {
                this.render();
            }
        }
        getThumbnailHeights() {
            return new Promise((resolve, reject) => {
                const img = this.shadowRoot.querySelector('img');
                if (!img.hasAttribute('src') || img.getAttribute('src').trim() === '') {
                    reject();
                }
                if (img.complete) {
                    resolve({natural: img.naturalHeight, height: img.height});
                } else {
                    img.addEventListener('load', () => {
                        resolve({natural: img.naturalHeight, height: img.height});
                    });
                    img.addEventListener('error', () => {
                        reject();
                    });
                }
            });
        }

        setThumbnailHeight(height, wrapperHeight) {
            const img = this.shadowRoot.querySelector('img');
            const imgHeight = img.height;
            // if (imgHeight > height) {
            //     const bottomInset = imgHeight - height;
            //     img.style.clipPath = `inset(0 0 ${bottomInset}px 0)`;
            // }
            // const thumbnail = this.shadowRoot.querySelector('.thumbnail');
            // thumbnail.style.height = `${wrapperHeight}px`;
            this.getThumbnailCSSClassRule(
                this.findStylesheetMediaRules()
            ).style.height = `${wrapperHeight}px`;
        }

        getThumbnailCSSClassRule(mediaRules) {
            const conditionText = 'screen and (min-width: 1270px)';
            const rules = Array.from(mediaRules);
            const rule = rules.find(r => r.conditionText === conditionText);
            const thumbnailRule = Array.from(rule.cssRules).find(r => r.selectorText === '.thumbnail');
            return thumbnailRule;
        }

        findStylesheetMediaRules() {
            const stylesheet = this.shadowRoot.styleSheets.item(0);
            const rules = Array.from(stylesheet.cssRules);
            const mediaRules = rules.filter(r => r.type === CSSRule.MEDIA_RULE);
            return mediaRules;
        }

        render() {
            if (!this.hasAttribute('url') || !this.hasAttribute('title')) {
                console.error('ResourceGridItemElement needs a url attribute');
                return;
            }
            const url = this.getAttribute('url')?.trim() ?? '';
            const title = this.getAttribute('title')?.trim() ?? '';
            if (!url || !title) {
                console.error('ResourceGridItemElement needs a url and title attribute');
                return;
            }
            const thumbnail = this.getAttribute('thumbnail');
            if (thumbnail) {
                const img = this.shadowRoot.querySelector('img');
                img.src = this.getAttribute('thumbnail');
            } else {
                const thumbnail = this.shadowRoot.querySelector('.thumbnail');
                thumbnail.style.visibility = 'hidden';
            }
            const type = this.getAttribute('type') || 'Uncategorized';
            const titleType = this.shadowRoot.querySelector('.title-type');
            titleType.textContent = this.getAttribute('type');

            const titleText = this.shadowRoot.querySelector('.title-text');
            titleText.textContent = title;

            const allA = this.shadowRoot.querySelectorAll('a');
            allA.forEach(a => a.href = url);
        }

        constructor() {
            super();
            this.attachShadow({ mode: 'open' });
            const tpl = document.getElementById('resource_grid_item_element_tpl');
            this.shadowRoot.appendChild(tpl.content.cloneNode(true));
        }
    }

    customElements.define('resource-grid', ResourceGridElement);
    customElements.define('resource-grid-item', ResourceGridItemElement);
</script>
