<template id="responsive_collapsible_panel_tpl">
    <style>
        @media screen and (max-width: 739px) {
            .collapsible-content {
                position: sticky;
                top: 0;
                width: 100%;
                overflow-x: hidden;
                max-height: 100vh;
                transition-property: all;
                transition-duration: 0.3s;
                transition-delay: 0.1s;
                transition-timing-function: ease-out;
                height: 0;
                opacity: 0.3;
            }
            .collapsible-content.expanded {
                height: 575px;
                opacity: 1;
            }
            .collapsible-toggle {
                background: #D9E1E2;
                font-weight: 300;
                line-height: 1.3;
                font-size: 24px;
                display: flex;
                min-height: 60px;
                align-items: center;
                display: block;
            }
            .collapsible-toggle a {
                padding: 12.8px 10px 14.8px;
                display: flex;
                height: 100%;
                align-items: center;
                text-decoration: none;
                color: #0055A6;
            }
            .collapsible-toggle a:link,
            .collapsible-toggle a:visited,
            .collapsible-toggle a:hover,
            .collapsible-toggle a:active {
                color: #0055A6;
            }
            .collapsible-toggle a svg {
                width: 24px;
                height: 24px;
                color: #0055A6;
                margin-left: 4px;
                margin-top: 2px;
            }
        }
        @media screen and (min-width: 740px) {
            .collapsible-toggle {
                display: none;
            }
        }
    </style>
    <div class="collapsible-toggle">
        <a href="#" class="toggle-button">
            <slot name="heading-slot">Collapsible Details</slot> <svg xmlns="http://www.w3.org/2000/svg" 
                width="24" 
                height="24" 
                viewBox="0 0 24 24" 
                fill="none" 
                stroke="currentColor" 
                stroke-width="1" 
                stroke-linecap="round" 
                stroke-linejoin="round" 
                class="feather feather-grid"
            >
                <rect x="3" y="3" width="7" height="7"></rect>
                <rect x="14" y="3" width="7" height="7"></rect>
                <rect x="14" y="14" width="7" height="7"></rect>
                <rect x="3" y="14" width="7" height="7"></rect> 
            </svg>
        </a>
    </div>
    <div class="collapsible-content">
        <slot name="content-slot"></slot>
    </div>
</template>
<script type="module">

    class ResponsiveCollapsiblePanelElement extends HTMLElement {
        constructor() {
            super();
            this.attachShadow({mode: 'open'});
            this.shadowRoot.appendChild(document.getElementById('responsive_collapsible_panel_tpl').content.cloneNode(true));
        }
        
        static get observedAttributes() {
            return ['expanded-height', 'transition-delay', 'transition-duration', 'transition-timing-function'];
        }

        connectedCallback() {
            this.shadowRoot.querySelector('.toggle-button').addEventListener('click', (e) => {
                e.preventDefault();
                this.shadowRoot.querySelector('.collapsible-content').classList.toggle('expanded');
            });
        }
        disconnectedCallback() {
            this.shadowRoot.querySelector('.toggle-button').removeEventListener('click');
        }
        attributeChangedCallback(name, oldValue, newValue) {
            if (name === 'expanded-height' && oldValue !== newValue) {
                this.findCollapsibleContentExpandedClassCSSRule(
                    this.findMobileBreakpointCSSMediaRule()
                ).style.height = newValue;
            } else if (name === 'transition-delay' && oldValue !== newValue) {
                this.findCollapsibleContentClassCSSRule(
                    this.findMobileBreakpointCSSMediaRule()
                ).style.transitionDelay = newValue;
            } else if (name === 'transition-duration' && oldValue !== newValue) {
                this.findCollapsibleContentClassCSSRule(
                    this.findMobileBreakpointCSSMediaRule()
                ).style.transitionDuration = newValue;
            } else if (name === 'transition-timing-function' && oldValue !== newValue) {
                this.findCollapsibleContentClassCSSRule(
                    this.findMobileBreakpointCSSMediaRule()
                ).style.transitionTimingFunction = newValue;
            }
        }

        findMobileBreakpointCSSMediaRule() {
            const styleSheet = this.shadowRoot.styleSheets.item(0);
            const rules = Array.from(styleSheet.cssRules);
            const mediaRule = rules.find(rule => rule?.conditionText === 'screen and (max-width: 739px)' ?? false);            
            return mediaRule;
        }

        findCollapsibleContentExpandedClassCSSRule(mediaRule) {
            const rules = Array.from(mediaRule.cssRules);
            const rule = rules.find(rule => rule?.selectorText === '.collapsible-content.expanded' ?? false);
            return rule;
        }

        findCollapsibleContentClassCSSRule(mediaRule) {
            const rules = Array.from(mediaRule.cssRules);
            const rule = rules.find(rule => rule?.selectorText === '.collapsible-content' ?? false);
            return rule;
        }
    }
    customElements.define('responsive-collapsible-panel', ResponsiveCollapsiblePanelElement);
</script>
