<div class="tall-card__no-image--grid--card solutions-card-grid--card-wrapper--card">
    {% if include.category %}<h4 class="tall-card__no-image--grid--card--category">{{ include.category }}</h4>{% endif %}
    {% if include.title %}
        <h3 class="tall-card__no-image--grid--card--title">
            {%- if include.url -%}
                <a href="{{ include.url }}">{{ include.title }}</a>
            {%- else -%}
                {{ include.title }}
            {%- endif -%}
        </h3>
    {% endif %}
    {% if include.icon or include.date %}
        <div class="tall-card__no-image--grid--card--footer">
            {%- if include.icon -%}
                <div class="tall-card__no-image--grid--card--footer--icon">
                    {% include icons.html type=include.icon %}
                </div>
            {%- endif -%}
            {%- if include.date -%}
                <div class="tall-card__no-image--grid--card--footer--date">
                    {{ include.date }}
                </div>
            {%- endif -%}
        </div>
    {% endif %}
</div>
