<div class="testimonial {{ include.testimonial.logo_shape }}">
    {{ include.key }}
    {{ include.testimonial.content }}
    <div class="attribution">
       
        <div class="readable">
            {{ include.testimonial.author.name }}<br />
            {{ include.testimonial.author.title }}<br />
            {{ include.testimonial.author.organization }}
        </div>
        {% if include.testimonial.logo %}
        <img src="{{include.testimonial.logo}}" />
        {% endif %}
        
    </div>
</div>