<div class="carousel-slide {{ include.testimonial.logo_shape }}">
    {{ include.key }}
    {{ include.testimonial.content }}
    <div class="attribution" style="border: 0px; padding: 0px; margin: 0px;">
       
        <div class="readable">
            {{ include.testimonial.author.name }}<br />
            {{ include.testimonial.author.title }}<br />
            {{ include.testimonial.author.organization }}
        </div>
        {% if include.testimonial.logo %}
			<img src="{{include.testimonial.logo}}" />
        {% endif %}
        
    </div>
</div>
