.filter-chip__community {
    @include filter-chip($event-category-community);
    max-width: 123px;
}
.filter-chip__development {
    @include filter-chip($event-category-development);
    max-width: 187px;
}
.filter-chip__events {
    @include filter-chip($event-category-events);
    max-width: 86px;
}
