// Navbar

$searchIcon-hover-effect-color: #006D97; // OpenSky blue
$primary-color: #B9D9EB; // 













.button-dark {
    background-color: #F4F8FB;
    border-radius: 6px;
    border-color: #B9D9EB;
    color: $searchIcon-hover-effect-color;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;

    &:hover {
        border-color: $searchIcon-hover-effect-color;
        color: #003551; 
        background-color: #C7DFEE;
    }  
}

.button-light {
    width: 100%;
    height: 100%;
    padding-left: 50px; 
    padding-right: 50px; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    background-color: #F4F8FB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    // border-color: #B9D9EB;

    // FONT
    color: #003B5C;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;

    &:hover {
        border-color: $searchIcon-hover-effect-color;
        color: #003551; 
        background-color: #C7DFEE;
    }  
}

.top-nav-desktop {
    background-color: #F4F8FB !important;
    // padding: 0;
    // margin: 0;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // height: 60px;
    // position: fixed;
    // width: 100%;
    // z-index: 1000;
    // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.nav-link {
    color: #003551;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    background-color: #F4F8FB !important;
    padding: 0;


    

    &.accordion-button {
        --bs-accordion-btn-icon-width: 12px;
        --bs-accordion-transition: 0.5s;
        
        &::after {
            background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.82322 2.32322C3.92085 2.22559 4.07915 2.22559 4.17678 2.32322L7.17678 5.32322C7.27441 5.42085 7.27441 5.57915 7.17678 5.67678C7.07915 5.77441 6.92085 5.77441 6.82322 5.67678L4 2.85355L1.17678 5.67678C1.07915 5.77441 0.920854 5.77441 0.823223 5.67678C0.725592 5.57915 0.725592 5.42085 0.823223 5.32322L3.82322 2.32322Z' fill='black'/%3E%3C/svg%3E%0A");
            transition: all 0.5s;
            margin-left:8px;
        }



    }

    &:active,
    &:focus,
    &:hover {
        color: $hover-effect-color;
        text-decoration: underline;
        box-shadow: none;
        outline: none;
    }


}

.nav-drawer-triangle {
    z-index: 1;


}

// style="display: flex; justify-content: flex-end; align-items: flex-end; position: relative; bottom: 0; right: 0; width: 100px; height: 100px; transform: rotate(-90deg); transform-origin: 0 0; background: #003551"


.nav-search-icon {
    background-color: $primary-color;
    padding-top: 100px;


    &:active,
    &:focus,
    &:hover {
        background-color: $searchIcon-hover-effect-color;
        box-shadow: none;
        outline: none;
        
    }


    &.accordion-button {
        &::after {
            background-image: initial;
            width: 0;
        }

        &:not(.collapsed)::after {
            background-image: initial;
            width: 0;
        }
    }
}

.top-nav-button {
    background-color: #F4F8FB;
    border-radius: 6px;
    border-color: #B9D9EB;
    color: $searchIcon-hover-effect-color;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;

    &:hover {
        border-color: $searchIcon-hover-effect-color;
        color: #003551; 
        background-color: #C7DFEE;
    }  
}

.icon-div-box {
    width: 50px;
    height: 50px;
    padding: 0;
    margin-left: 10px;
}



.nav-drawer {

    .drawer-content-header {
        color: #003551;
        font-family: 'Open Sans Condensed';
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: 700;
        text-decoration: none;
    }
    .drawer-content-header-link {
        color: #003551;
        font-family: 'Open Sans Condensed';
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: 700;
        text-decoration: underline;
    }

    .drawer-content-subheader {
        color: #006D97;
        font-size: 21px;
        font-weight: 700;
        line-height: 36px;
        text-decoration: none;
    }
    .drawer-content-text {
        color: #003551;
        font-size: 15px;
        font-weight: 600;
        line-height: 24px;
        word-wrap:break;
        text-decoration: none;
    }
    .drawer-content-text-link {
        color: #003551;
        font-size: 15px;
        font-weight: 600;
        line-height: 24px;
        word-wrap:break;
        text-decoration: underline;
    }

    .hero-card {
        box-shadow: none;

        // &:hover {
        //     outline: none;
        // }
    }

    .blog-table {

        
        .megamenu-table-heading {
            color: #006D97;
            font-size: 21px;
            font-weight: 700;
            line-height: 24px;
            text-decoration: none;
            height: 50px;
        }

        .megamenu-blog-title {
            color: #003551;
            font-size: 18px;
            font-weight: 700;
            line-height: 24px;
            text-decoration: none;
            word-wrap: break-word;
            height: 100px;
        }
        .megamenu-blog-date {
            color: #193442;
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            text-decoration: none;
            word-wrap: break-word;
        }
    }
}


.dropdown-menu.show {
    display: flex !important;
    flex-direction: row; 
}

.dropdown-menu {
    display: none;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    li {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}


.search-form {
    outline: 0 !important;
    border-color: initial;
    box-shadow: none !important;
}

