dl.list-features {
    counter-reset: list-features;
    h2 {
        margin: 0;
    }

    dt {
        counter-increment: list-features;

    }
    dt:before {
        opacity: 0.6;
        content: counter(list-features) ". ";
    }
}

.blog-nav {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    .next, .prev {
        display: block;
        flex: 1;
    }
    .next {
        padding-right: 0.5em;
    }
    .prev {
        padding-left: 0.5em;
        text-align: right;
    }
}

// This is the sum of the logo + the navigation menu items + the search field.
$header-banner-min-width: 1019px;
$header-logo-max-left: 80px;
$header-navigation-max-right: 40px;
$max-container: 1440px;

[role="banner"] [role="navigation"] {
    margin-top: 17px;
    margin-right: 40px;
    @media screen and (max-width: 1339px) {
        margin-right: 0;
    }
    li {
        color: $primary-open-sky-s3;
        text-transform: none;
        @media screen and (min-width: 1250px) {
            margin-right: 2em;
        }
        @media screen and (min-width: 1150px) and (max-width: 1249px) {
            margin-right: 1em;
        }
        margin-right: 0.5em;
    }
    li a {
        display: inline;
        @include header-level6($primary-open-sky-s3);
    }
    .nested-nav a.in-category,
    .nested-nav a:hover {
        color: $primary-open-sky-s2;
        text-decoration: underline;
        text-decoration-color: $primary-open-sky-s2;
        text-decoration-thickness: 2px;
        text-underline-offset: 6px;
    }
}

.whats-new {
    .whats-new-post {
        h4 {
            margin-top: 20px;
            margin-bottom: 0;
        }
        p {
            margin-top: 0.5em;
        }
    }
    .whats-new-post + .whats-new-post h4{
        margin-top: 30px;
    }
}

.sidebar {

    .feature-box {
        margin-top: 2em; 
        .feature-content {
            padding-right: 70px;
        }
        img {
            height: 55px;
            width: 55px;
            float: right;
        }
        margin-bottom: 2em;
    }
}

.events-page {

    .list-events {
        .icon {
            color: $core;
        }
        li {
            border-top-color: $highlight;
        }
        p {
            font-size: 0.9em;
        }
        ul {
            list-style-type: disc;
            li { 
                border-top: none; 

            }
        }
    }
}

.source-page {
    dt {
        a {
            text-decoration: none;
            display: inline-block;
            color: $core;
            background-color: $background-darker;
            padding: 0.25em 1em 0 1em;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
        }
    }
    dd {
        padding: 0.5em 1em;
        
        background-color: $background-darker;
        margin-bottom: 1em;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    dd p {
        margin-top: 0;
        margin-bottom: 0.5em;
    }
    .link-readmore {
        display: inline-block;
        margin-right: 1.5em;
    }
}

.homepage .sidebar .cta + .link-readmore {
    margin-bottom: 0;
}
.homepage .latest-version {
    color: $text-light;
    text-align: center;
    font-size: 1.25rem;
}
.homepage .list-features p {
    margin-bottom: 0;
}

.homepage .list-features dt {
    @include sans-serif;
}

.homepage .list-features p + dt {
    padding-top: 0.5em;
}

.author-photo {
    width: 180px;
    height: auto;
}


#faq {
    li{
        list-style-type: none;
    }
    li h3 a i {
        float: right;
        display: block;
    }
    li h3 span {
        opacity: 0.9;
    }
    ol li ul li {
        list-style-type: disc;
    }
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border: 1px solid $line-lighter;
}
.img-centered {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    border: 1px solid $line-lighter;
}
.downloads-page {
    .layout-2col {
        .col {
            width: 48%;
            margin: 0 4% 0 0 ;
        }
        .col + .col {
            margin: 0;
        }
    }
}

.banner-alert, .version-alert {
    @include sans-serif;
    @include warning-stripes;
}

.version-alert {
    padding: 0.5em;
    margin-top: 1em;
    position:-webkit-sticky; 
    position:sticky; 
    top:0;
    p {
        margin: 0;
    }
}

.imported-post {
    margin-left: -1em;
    margin-right: -1em;
    background-color: #ffe761;
    padding: 1em;
    @include sans-serif;
    @include warning-stripes;
}

.share-container {
    @include sans-serif;
    color: $text-light;

    padding-bottom: 2em;    
}

#share-buttons {
    display: inline-block; 
    vertical-align: middle;
    :after {
        content: ""; 
        display: block; 
        clear: both;
    }
    > div {
        position: relative;
        text-align: left; 
        height: 36px; 
        width: 32px; 
        float: left; 
        text-align: center;
        > svg {
            height: 16px; 
            fill: $background-darkest; 
            margin-top: 10px;
        }
    }
    > div:hover {
        cursor: pointer;
    }
    > div.facebook:hover > svg {fill: #3B5998;}
    > div.twitter:hover > svg {fill: #55ACEE;}
    > div.linkedin:hover > svg {fill: #0077b5;}
    > div.mail:hover > svg {fill: #7D7D7D;}
    > div.facebook > svg {
        height: 18px; 
        margin-top: 9px;
    }
    > div.twitter > svg {
        height: 20px; 
        margin-top: 8px;
    }
    > div.linkedin > svg {
        height: 19px; 
        margin-top: 7px;
    }
    > div.mail > svg {
        height: 14px; 
        margin-top: 11px;
    }
}

.author-social-media {
    a {
        text-decoration: none;
    }
    ul {
        list-style-type: none;
        padding-left: 0;
    }
}

.tree, .tree ul {
    margin:0;
    padding:0;
    list-style:none
  }
  .tree ul {
    margin-left:1em;
    position:relative
  }
  .tree ul ul {
    margin-left:.5em
  }
  
  .tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid
  }
  .tree li {
    margin:0;
    line-height:2em;
    position:relative
  }
  .tree li li {
  padding:0 1em;
  }
  .tree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
  }
  .tree ul li:last-child:before {
    background:#fff;
    height:auto;
    top:1em;
    bottom:0
  }

.artifact-download-tree {
    margin: 1em;
    padding: 1em;
    background-color: #fff;
    @include sans-serif;
}
.artifact-name {
    margin-bottom:0;
}
.artifact-and-heading {
    margin-left: 1em;
    padding-bottom: 1em;
   
}
.artifact-and-heading + .artifact-and-heading {
    border-top: 1px solid $line;
}

.artifact-group {
    h2 {
        padding-top: 0.75em;
        border-top: 1px solid $line;
    }
}
#content-main .artifact-group:first-child h2 {
    border-top: none;
}
.artifact-container {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;

    .artifact-explain { 
        width : 66%;
        flex-grow: 1;

        >p:last-child {
            margin-bottom: 0;
        }
    }
    .download-panel {
        flex-grow: 1;
        @include sans-serif;

        select {
            width: 100%;
        }
        label, 
        .extra_links a {
            font-size: 1.2rem;
            display: block;
        }
        .extra_links .cta {
            font-size: 1.5rem;
            max-width: none;
        }
    }
    .extra-instructions-group {
        width: 100%;
        flex-shrink: 0;

        .highlight {
            margin: 0 0 15px;
        }
    }

    .instruction-label {
        margin: 0 0 .2rem;

        a {
            @include sans-serif;
            font-weight: 400;
            font-size: 1.2rem;
            float: right;
            margin-top: .6rem;
            line-height: 1;

            &:visited {
                color: inherit;
            }
        }
    }
}

.artifact-standalone {
    @include sans-serif;
    .cta {
        display: inline-block;
    }
}

.tag-pick {
    padding: 0.25em;
    cursor: pointer;
    display: inline-block;
    border: 1px solid $line;
    margin-bottom: 1em;
}
.tag-pick.tag-off {
    background-color: $highlight;
    color: $white;
}


.testimonial {
    &.square {
        .attribution {
            img {
                height: 8em;
            }
        }
    }
    p {
        //font-size: 2.25rem;
        margin: 0;
        font-style: italic;
        padding-bottom: 0.25em;
    }

    .attribution {
        color: $text-light;
        text-align: right;
        @include sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 0.75em;
        display: flex;
        justify-content: flex-end;
        margin-top: 1em;
        .readable {
            margin-right: 1em;
        }
        img {
            padding-left: 1em;
            padding-right: 1em;
            border-left: 1px solid $line;
            height: 4em;
            width: auto;
        }
    }
    border-top: 1px solid $line;
    padding: 0.5em;
    border-left: 1px solid $line;
    margin-bottom: 3em;
    padding-left: 1em;
    margin-left: 4em;
    margin-right: 4em;
}

.tutorial-layout {
    img.img-fluid {
        padding: 1em;
        border: 1px solid $text;
    }
    background-color: $white;
    padding: 1em 2em;
    body {
        background-color: $white;
    }
    .simple-banner {
        top: 1em;
        bottom: 1em;
        border-bottom: 1px solid $line;
        img {
            max-width: 200px;
        }
    }
    .highlight pre {
        border: none;
    }
    pre code {
        padding: 0;
    }
    code {
        padding-left: 4px;
        padding-right: 4px;
        border-radius: 4px;
    }
    code, .highlight {
        background-color: $text-light-darkest;
        color: $highlight-lighter;
        &::selection { 
            background-color: $warning; /* WebKit/Blink Browsers */
            color: $text-light-darkest;
        }
    }
    h1,h2,h3,h4,h5,h6 {
        color: $text;
    }
    .simple-footer {
        color: $text-light;
        padding-top: 4em;
        border-top: 1px solid $line;
        font-size: 0.5em;
        a { color: $text-light; }
    }

    .gitpod-visible, 
    body:not(.gitpod-dashboards-ready) .gitpod-dashboards-ready-visible {
        display: none;
    }



    .gitpod {
        
        &.gitpod-dashboards-ready {
            .gitpod-dashboards-ready-visible {
                display : inherit;
            }
            .gitpod-dashboards-ready-hidden {
                display: none;
            } 
        }
        .gitpod-visible {
            display: inherit;
        }
        .gitpod-hidden {
            display: none;
        }
    }
}

.img__outlined {
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
}

.img__no-outline {
    border-radius: 0;
    box-shadow: none;
}

.page--blog-post {
    img {
        @extend .img__outlined;
    }
}

dl.definition-list__same-line-definition {
    display: flex;
    flex-flow: row wrap;
    > dt, 
    > dd {
        margin-bottom: 1em;
        box-sizing: border-box;
        border-bottom-width: 1px;
        border-bottom-color: #ddd;
        border-bottom-style: solid;
        padding-bottom: 1em;
    }
    > dt {
        flex-basis: 20%;
        flex-grow: 0;
        flex-shrink: 0;
        padding-right: 1em;
    }
    > dd {
        flex-basis: 80%;
        flex-grow: 1;
        flex-shrink: 1;
    }
    @include respond-max(959px) {
        > dt {
            border-bottom-style: none;
            margin-bottom: 0;
        }
        > dt,
        > dd {
            flex-basis: 100%;
        }
    }
}
