dl.list-features {
    counter-reset: list-features;
    h2 {
        margin: 0;
    }

    dt {
        counter-increment: list-features;

    }
    dt:before {
        opacity: 0.6;
        content: counter(list-features) ". ";
    }
}

.blog-nav {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    .next, .prev {
        display: block;
        flex: 1;
    }
    .next {
        padding-right: 0.5em;
    }
    .prev {
        padding-left: 0.5em;
        text-align: right;
    }
}

[role="banner"] [role="navigation"] {
    margin: 8px 0 0 10px;

    li {
        color: $attention;
        text-transform: none;
        margin-right: 0.5em;
        
    }
    li a {
        display: inline;
        color: white;
        
    }

    li + li:before {
        content: "/";
        color: $text-light;
        display: inline-block;
        margin-right: 0.5em;
    }
}


.whats-new {
    .whats-new-post {
        h4 {
            margin-bottom: 0;
        }
        p {
            margin-top: 0.5em;
        }
    }
}

.sidebar {

    .feature-box {
        margin-top: 2em; 
        .feature-content {
            padding-right: 70px;
        }
        img {
            height: 55px;
            width: 55px;
            float: right;
        }
    }
}

.events-page {
    h2 {
        margin-top: 0;
    }
    .list-events {
        .icon {
            color: $green;
        }
        li {
            border-top-color: $highlight;
        }
        p {
            font-size: 0.9em;
        }
    }
}

.source-page {
    dt {
        a {
            text-decoration: none;
            display: inline-block;
            background-color: white;
            padding: 0.25em 1em 0 1em;
        }
    }
    dd {
        padding: 0.5em 1em;
        
        background-color: white;
        margin-bottom: 1em;

    }
    dd p {
        margin-top: 0;
        margin-bottom: 0.5em;
    }
    .link-readmore {
        display: inline-block;
        margin-right: 1.5em;
    }
}


.homepage .list-features p {
    margin-bottom: 0;
}

.homepage .list-features p + dt {
    padding-top: 0.5em;
}

.author-photo {
    width: 180px;
    height: auto;
}


#faq {
    li{
        list-style-type: none;
    }
    li h3 a i {
        float: right;
        display: block;
    }
    li h3 span {
        opacity: 0.9;
    }
}

#partners {
    .partner {
        text-align: center;
        float: left;

        width: 100px;
        img {
            height: 60px;
            width: 60px;
        }
    }
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border: 1px solid #eee;
}
.downloads-page {
    .layout-2col {
        .col {
            width: 48%;
            margin: 0 4% 0 0 ;
        }
        .col + .col {
            margin: 0;
        }
    }
}

.banner-alert {
    background-color: #ffe761;
    @include sans-serif;
    background-image: linear-gradient(135deg, rgba(0, 0, 0, .04) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, .04) 50%, rgba(0, 0, 0, .04) 75%, transparent 75%, transparent);
}
  
.imported-post {
    margin-left: -1em;
    margin-right: -1em;
    background-color: #ffe761;
    padding: 1em;
    @include sans-serif;
    background-image: linear-gradient(135deg, rgba(0, 0, 0, .04) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, .04) 50%, rgba(0, 0, 0, .04) 75%, transparent 75%, transparent);
}