.partners-page main.container {
    padding: 0 1em;

    @include respond-min(768px) {
        margin: 0 auto;
        max-width: 1400px;
        padding: 0 (32/768) * 100%;
    }   
}

.partners {
    margin-bottom: 2em;
    transition: all .25s ease-out;

    @include respond-min(580px) {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(Min(260px, 100%), 1fr)); // Min is spelled with capital M to avoid sass' complaining about incompatible units due it's own internal min function
        column-gap: 1em;
        row-gap: 1em;
    }
    
    .partner {
        text-align: center;
        @include sans-serif;
        a {
            display:flex;
            text-decoration: none;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            padding: 1em;

            &:hover, &:active, &:focus {
                text-decoration: underline;
                color: $core;
            }
        }

        & + .partner {
            // adds a border between partners on small screens
            @include respond-max(579px) {
                border-top: 1px solid $line;
            }
        }
        
        img {
            width: 80px;
            height: auto;
            margin-right: 1em;
        }

        @include respond-min(580px) {
            border-radius: 8px;
            border: 2px solid $line;
            transition: all .125s ease-out;
            border-top-width: 2px;

            a {
                flex-direction: column;
            }

            img {
                margin-right: 0;
                margin-bottom: .25em;
            }

            &:hover, &:active, &:focus, &:focus-within {
                border-color: $core;
                transition: all .125s ease-in;
            }
        }
    }
}

.partner-page--branding {
    @include respond-min(740px) {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 2em 0;
        .partner-page--branding--logo {
            flex-grow: 1;
            max-width: 38%;
            & > img {
                width: 100%;
                height: auto;
                max-width: 250px;
            }
        }
        .partner-page--branding--product {
            flex-grow: 2;
            max-width: 62%;
            text-align: right;
            & > img {
                width: 100%;
                height: auto;
                max-width: 750px;
            }
        }
    }
    @include respond-max(739px) {
        padding: 1em 0.5em;
        display: block;
        .partner-page--branding--logo {
            display: inline-block;
            width: 100%;
            height: auto;
            & > img {
                widtH: 100%;
                height: auto;
            }
        }
        .partner-page--branding--product {
            display: none;
        }
    }
    
    
}

.partner-page--layout {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    .partner-page--layout--meta {
        flex-grow: 1;
        @include respond-min(740px) {
            max-width: 25vw;
        }
        .partner-page--layout--meta__vspaced {
            margin-top: 0;
            margin-bottom: 5em;
            dl {
                margin: 0;
                padding: 0;
            }
            dt {
                font-weight: normal;
                color: #002a3a;
            }
            dd {
                padding: 0.5em;
                color: #0053b0;
                ul {
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                    li {
                        margin: 0;
                        padding: 0;
                        color: #0053b0;
                    }
                }
            }
        }
    }
    .partner-page--layout--details {
        flex-grow: 2;
        > h1 {
            margin: 2rem 0;
        }
        .partner-page--layout--details--description {
            padding: 0;
        }
        .partner-page--layout--details--products {
            padding: 0;
            ul {
                margin: 0;
                padding: 0;
                list-style-type: none;
                li {
                    margin: 0;
                    padding: 0;
                    a {
                        color: #0053b0;
                        font-weight: bold;
                        text-decoration: none;
                    }
                    p {
                        color: #002a3a;
                    }
                }
            }
        }
        .partner-page--layout--details--resources {
            padding: 0;
        }
    }
    .partner-page--social-links {
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .partner-page--social-links--icon {
            position: relative;
            height: 36px;
            width: 32px;
            float: left;
            text-align: center;
            
        }
    }
}

@media screen and (max-width: 739px) {
    .partner-page--layout {
        display: flex;
        flex-flow: row nowrap;
        align-content: stretch;
        height: 100%;
        position: relative;
        justify-content: center;
        flex-flow: column nowrap;
        .partner-page--layout--meta {
            .partner-page--layout--meta__vspaced {
                margin-bottom: 0;
            }
        }
        .partner-page--social-links {
            width: auto;
            margin-left: auto;
            justify-content: space-around;
        }
    }
}
@media screen and (min-width: 740px) {
    .partner-page--layout {
        .partner-page--layout--meta {
            display: block; 
        }
        .partner-page--social-links {
            padding-top: 1em;
        }
    }
}
@media screen and (min-width: 740px) and (max-width: 1245px) {
    .partner-page--layout {
        .partner-page--social-links {
            width: 50%;
            margin-left: 25%;
        }
    }
}
@media screen and (min-width: 46.25rem) {
    .partner-page--layout--meta.sidebar[role="complementary"] {
        width: unset;
        margin-right: 0;
    }
}
