.platform-page--solutions--use-cases--table {
    background: #FFF;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
    > thead {
        height: 50px;
        > tr {
            > th {
                @include table-header;
                white-space: nowrap;
            }
        }
    }
    > tbody {
        > tr {
            > td {
                height: 70px;
                @include table-cell;
            }
            > td:nth-of-type(1) {
                @include header-level6;
            }
            > td:nth-of-type(2) {
                @include header-level5($secondary-sanfrancisco-fog-s5);
            }
        }
        > tr:last-child {
            > td {
                border-bottom: none;
            }
        }
    }
}

$platform-header-wide-screen-width: 1200px;
$platform-header-reduce-padding-width: 1199px;

.platform-page--header {
    @media screen and (min-width: $platform-header-wide-screen-width) {
        padding-top: 40px;
        padding-left: 80px;
        padding-bottom: 40px;
    }
    @media screen and (max-width: $platform-header-reduce-padding-width) {
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 20px;
    }
    @media screen and (max-width: 390px) {
        padding-top: 20px;
        padding-left: 5px;
        padding-bottom: 20px;
    }
    @media screen and (max-width: 360px) {
        padding-left: 0;
        overflow-x: hidden;
    }
    background-color: white;
    .platform-page--feature-area {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        .platform-page--feature-area--icon {
            flex-basis: 40px;
            flex-grow: 0;
            flex-shrink: 0;
            width: 40px;
            height: 40px;
            > svg {
                width: 40px;
                height: 40px;
            }
        }
        .platform-page--feature-area--category-name,
        .platform-page--feature-area--solution-name,
        .platform-page--feature-area--category-name-separator {
            min-width: fit-content;
            margin-left: 1em;
            @media screen and (max-width: 390px) {
                margin-left: 10px;
                font-size: 19px;
            }
            @media screen and (max-width: 360px) {
                margin-left: 0;
            }
            @include header-level4($secondary-sanfrancisco-fog-s4)
        }
    }
    .platform-page--title {
        padding-left: 10px;
    }
}
$platform-page-content-wide-screen-width: 1200px;
$platform-page-content-reduce-padding-width: 1199px;
.platform-page--content {
    h2.platform-page--solution--header {
        color: $primary-pacific-blue-s3;
    }
    h2.platform-page--resource--header {
        color: $primary-pacific-blue-s3;
    }
    .platform-solution-page--resources {
        h3 {
            color: $primary-pacific-blue-s3;
        }
    }
    .platform-page--solution--use-cases {
        @media screen and (min-width: $platform-page-content-wide-screen-width) {
            padding-left: 80px;
            padding-right: 40px;
            width: calc(100% - 80px - 40px);
        }
        @media screen and (max-width: $platform-page-content-reduce-padding-width) {
            padding-left: 20px;
            padding-right: 20px;
            width: calc(100% - 20px - 20px);
        }
        @media screen and (max-width: 390px) {
            padding-left: 5px;
            padding-right: 5px;
            width: calc(100% - 5px - 5px);
        }
        background: linear-gradient(180deg, #E1FAFF 0%, #98E3F4 48.15%, #00B7E0 100%);
        padding-top: 40px;
        padding-bottom: 66px;
        h2 {
            color: $primary-pacific-blue-s3;
        }
        > div {
            background: #D9D9D9;
            box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        > table {
            @extend .platform-page--solutions--use-cases--table;
            margin-bottom: 43px;
            width: 100%;
        }
    }
}

.platform-landing-page {
    .landing-page-hero-wrapper {
        @include gradient-open-sky-dark;
        padding: 48px 83px;
        >.landing-page-hero--header {
            @include hero-header-text;
            width: 50%;
        }
        >.landing-page-hero--header-subtext {
            @include hero-header-subtext;
            width: 50%;
        }
    }
    .platform-landing-page--overview {
        background: $secondary-sanfrancisco-fog-t1;
        padding: 68px 83px;
        > article {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            > aside {
                width: 350px;
                height: 233.333px;
                flex-shrink: 0;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background: #D9D9D9;
                > svg {
                    margin: auto;
                    width: 50px;
                    height: 37px;
                }
            }
        }
    }
    .solutions-card-grid {
        padding-left: 83px;
        padding-right: 83px;
        h2 {
            padding-top: 1em;
        }
    }
    .platform-landing-page--community-voices-wrapper {
        height: 600px;
        margin-bottom: 44px;
        .landing-page-solutions-community-voices--wrapper {
            > .landing-page-solutions-community-voices.landing-page-hero-wrapper {
                background: transparent;
                padding: 0;
            }
        }
    }
    .platform-landing-page--toolkit {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        @include gradient-open-sky;
        > h2 {
            flex-basis: 1265px;
            padding-top: 50px;
        }
        > div {
            flex-basis: 1265px;
            height: 400px;
            background: #D9D9D9;
            box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            > svg {
                width: 91.581px;
                height: 68.571px;
                flex-shrink: 0;
                margin: auto;
            }
        }
        > hgroup {
            flex-basis: 1265px;
            height: 400px;
        }
    }
    .platform-landing-page--details {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        > hgroup {
            flex-basis: 1265px;
        }
        >.platform-landing-page--details--2column {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            flex-basis: 1265px;
            >.platform-landing-page--details--2column--content {
                flex-basis: calc(100% - 420px + 40px);
                padding-right: 40px;
            }
            >.platform-landing-page--details--2column--right-panel {
                @include gradient-open-sky;
                flex-basis: calc(420px - 35px - 53px);
                flex-shrink: 0;
                padding: 60px 35px 130px;
            }
        }
    }
}

.platform-solution-page {
    @include thick-edge-top;
    .platform-solution-page--content__gradient {
        @include gradient-open-sky;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        > h3,
        > hgroup,
        > div,
        > .resource-grid {
            flex-basis: 1265px;
            justify-content: space-between;
        }
        .resource-grid--more {
            flex-basis: 1265px;
            justify-content: center;
            padding: 80px 0;
            > div {
                line-height: 2.7;
            }
        }
    }
    .resource-grid--item {
        @include card-shadow;
        max-width: 350px;
        height: 437px;
        background-color: white;
        padding: 0;
        .resource-grid-item--byline {
            padding-left: 2em;
            > span {
                @include header-level5($primary-open-sky-s3);
            }
        }
        .resource-grid--item--title-type {
            @include header-level4;
            position: relative;
            top: -10px;
            padding-left: 2em;
        }
        .resource-grid--item--title {
            position: relative;
            > div {
                position: absolute;
                top: 0;
                left: 14px;
                padding-right: 14px;
                height: auto;
                -webkit-line-clamp: unset;
                overflow: hidden;
                .resource-grid--item--link {
                    @include header-level3;
                }
            }
        }
    }
    > hgroup {
        > h2 {
            color: $primary-open-sky-s3;
            padding-left: 0;
        }
        @media screen and (max-width: 833px) {
            padding: 0 20px 0 20px;
        }
        @media screen and (min-width: 834px) {
            padding: 0 40px 0 80px;
        }
    }
}

.conference-speakers--featured {
    .resource-grid {
        column-gap: 79px;
        row-gap: 51px;

        .resource-grid--item {
            border-bottom: 6px solid $primary-open-sky-s2;
        }
    }
}
.conference-speakers--session-speakers--more {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 0 42px;
    > div {
        @include link-button($primary-open-sky-s1);
        padding: 0;
        > a {
            padding: 10px 50px;
            color: $secondary-sanfrancisco-fog-t1;
            &:hover {
                background: unset;
            }
        }
    }
}
