$logo_width: 170px;
// Colors

$text: #002a3a; //midnight sky
$text-link-alternate: #0053b8; //pacific blue
$text-light: #b9d9eb; //pacific sky
$line: #b8cacc; //sf fog, shade 1
$highlight: #b9d9eb; //pacific sky, formerly $green-very-light
$accent: #2cd5c4; //seafoam mint, formerly $green-light
$attention: #00a3e0; //formerly $green-medium, open sky
$attention-dark: #0082b3; //formerly $green-medium-dark, open sky, tent 1
$core:  #0053b8; //pacific blue
$accent-dark: #003b5c; //formerly $green-dark, $green-dark-text unused
$white: #F1FFF7;
$warning: #ffb81c; //golden poppy
$warning-dark: #cc9316; //golden poppy, shade 1
$background-darker: #f5f7f7; //SF Fog, tint 1
$background-lightest: #fff; //pure white
$alert: #f65275; // malibu sunrise
$alert-light: #f9869e; // malibu sunrise tint 1
$alert-dark: #7b293b; // malibu sunrise shade 3
$font-path: "../fonts/fira-mono";

// @font-face declarations

@font-face {
    font-family: 'Fira Mono';
    src: url('#{$font-path}/FiraMono-Regular.eot');
    src: url('#{$font-path}/FiraMono-Regular.eot') format('embedded-opentype'),
         url('#{$font-path}/FiraMono-Regular.woff') format('woff'),
         url('#{$font-path}/FiraMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Mono';
    src: url('#{$font-path}/FiraMono-Bold.eot');
    src: url('#{$font-path}/FiraMono-Bold.eot') format('embedded-opentype'),
         url('#{$font-path}/FiraMono-Bold.woff') format('woff'),
         url('#{$font-path}/FiraMono-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

// Media Queries Mixin (http://jakearchibald.github.com/sass-ie/)
@mixin respond-min($width) {
    @media screen and (min-width: $width) {
        @content;
    }
}

@mixin device-min($width) {
    @media screen and (min-device-width: $width) {
        @content;
    }
}

// Retina media query mixin
@mixin retina-display {
    @media only screen and
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
        @content;
    }
}

// Font Family Mixins
@mixin serif {
    font-family: Palatino, "Palatino Linotype", "Book Antiqua", "Hoefler Text", Georgia, "Lucida Bright", Cambria, Times, "Times New Roman", serif;
}
@mixin sans-serif {
    font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
}
@mixin monospace {
    font-family: "Fira Mono", Consolas, Menlo, Monaco, "Courier New", Courier, monospace;
    font-variant-ligatures: no-common-ligatures;  // disables the common ligatures only
    text-rendering: optimizeSpeed;  // for Safari 7.x
}

// Font Sizing Mixin (http://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/)
html {
    font-size: 62.5%;
}
@mixin font-size ( $size: 16 ) {
    font-size: $size + px;
    font-size: $size/10 + rem;
}

// Boilerplate Helper mixins (https://github.com/h5bp/html5-boilerplate/blob/v4.1.0/doc/css.md)
@mixin visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin svg-image ( $name ) {
    background-image: url('../img/'+$name+'.png');
    .mdzr-svg & {
        background-image: url('../img/'+$name+'.svg');
    }
}

// Green Link Mixin
@mixin link-green { //todo make non-colour oriented
    color: $text-link-alternate;
    text-decoration: none;
    &:visited {
        color: $text-link-alternate;
    }
    &:hover,
    &:active,
    &:focus {
        color: lighten($text-link-alternate, 6%); //todo make tint
        text-decoration: none;
    }

}

// Secondary content box-shadow:
@mixin secondary-shadow-top {
    -moz-box-shadow: 0 4px 8px rgba(12,60,38,0.07);
    -webkit-box-shadow: 0 4px 8px rgba(12,60,38,0.07);
    box-shadow: 0 4px 8px rgba(12,60,38,0.07);
}

@mixin secondary-shadow-bottom {
    -moz-box-shadow: 0 -4px 8px rgba(12,60,38,0.07);
    -webkit-box-shadow: 0 -4px 8px rgba(12,60,38,0.07);
    box-shadow: 0 -4px 8px rgba(12,60,38,0.07);
}

@mixin framed-image {
    padding: 20px;
    border: 1px solid $line;
    border-radius: 4px;
}
