---
layout: fullwidth
title: Testimonials
primary_title: Testimonials
body_class: testimonials-page
intro: OpenSearch is helping developers solve a range of problems. This page highlights what people are saying about OpenSearch and how they are participating in the project.
conclusion: "Interested in sharing your OpenSearch story? To add your testimonial to this page, please create a fork the [project website](https://github.com/opensearch-project/project-website), add a markdown file for your project under `/_testimonials/your-testimonial.md` , and submit a pull request."
---

{{page.intro | markdownify }}

<div class="testimonials">
    {% assign filter_testimonial = site.testimonials | where: "featured","true" %}
    {% for testimonial in filter_testimonial %}
        {% include testimonial.html testimonial=testimonial %}
    {% endfor %}
</div>

{{page.conclusion | markdownify }}