---
layout: fullwidth
title: Testimonials
primary_title: Testimonials
body_class: testimonials-page
intro: Fusce imperdiet blandit sapien, nec mollis justo scelerisque nec. Vivamus convallis neque lacinia, vehicula nulla a, congue justo. Praesent mollis justo at libero cursus, vitae hendrerit orci venenatis. Nunc eu tellus id urna tristique consequat. Quisque interdum libero semper, dictum elit in, mattis lorem. Sed in tortor blandit, rhoncus justo sed, tincidunt nisi. Nulla non lacinia ex, ut accumsan libero. Curabitur id consectetur velit.
conclusion: Ut dictum leo ac sapien pharetra hendrerit. Praesent tincidunt tempor ante, sit amet luctus tortor interdum sed. Integer neque mauris, consectetur sit amet sapien efficitur, elementum rutrum lorem. 
---

<p>{{page.intro}}</p>

<div class="testimonials">
    {% assign filter_testimonial = site.testimonials | where: "featured","true" %}
    {% for testimonial in filter_testimonial %}
        {% include testimonial.html testimonial=testimonial %}
    {% endfor %}
</div>

<p>{{page.conclusion}}</p>