---
layout: fullwidth-with-breadcrumbs
title: Blog
primary_title: Blog
breadcrumbs:
  icon: community
  items:
    - title: Community
    - title: Blog
      url: '/blog/'
notice: true
---

<ul class="site-content--blog-list">
    {% for post in paginator.posts %}
      <li>
          <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
          <div class="meta">{{ post.date | date: "%a, %b %d, %Y" }}</div>
          <p>{{ post.excerpt | strip_html | truncatewords: 60 }}</p>
          <a class="link-readmore" href="{{ post.url }}">Read More</a> 
      </li>
    {% endfor %}
</ul>
{% if paginator.total_pages > 1 %}
    <div class="pagination">
      {%- if paginator.previous_page -%}
          <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
      {%- else -%}
          <span>&laquo; Prev</span>
      {%- endif -%}

      {% for page in (1..paginator.total_pages) %}
          {% if page == paginator.page %}
          <em>{{ page }}</em>
          {% elsif page == 1 %}
          <a href="{{ '/' | relative_url }}">{{ page }}</a>
          {% else %}
          <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
          {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
      {% else %}
          <span>Next &raquo;</span>
      {% endif %}
    </div>
{% endif %}