---
layout: blog
title: Blog
primary_title: Blog
---

<style>
    /* Container for the cards */
    .row.mb-2 {
    display: flex;
    flex-wrap: wrap;
    }

    /* Card element */
    .col-md-6 {
    display: flex;
    flex-direction: column;
    }

    .row.g-0.border.rounded.overflow-hidden.flex-md-row.mb-4.shadow-sm.h-md-250.position-relative {
    flex: 1; /* Makes each card stretch to the same height */
    display: flex;
    flex-direction: column;
    }

    .col.p-4.d-flex.flex-column.position-static {
    flex: 1; /* Makes the content area of the card stretch */
    }


    .cropped-img {
        width: 100%;
        /* height: 500px; */
        object-fit: cover;
        object-position: center;

    }


</style>


{% assign paginator = paginator %}
{% assign featured_post = site.posts | where: "featured_blog_post", true | first %}
 

<main class="container">
    <div class= "page-with-hero">
        {% include page-title.html 
            primary_title=page.primary_title 
            title=page.title 
        %}
    </div> 
    <div class="full-width-layout--content">
        <div class="pt-4"
            <!-- FEATURED CONTENT: only shown on the first page  -->
            {% if paginator.page == 1 %}
                {% assign post_metadata_string = "" %}
                <!-- Date -->
                {% assign post_metadata_string = post_metadata_string | append: featured_post.date | date: "%b %d %Y" %}

                {% assign post_metadata_string = post_metadata_string | append: " &bull; " %}
                <!-- Categories -->
                {% for category in featured_post.categories %}
                    {% assign post_metadata_string = post_metadata_string | append: category %}
                    {% if forloop.length > 1 and forloop.last != true %}
                        {% assign post_metadata_string = post_metadata_string | append: ", " %}
                    {% endif %}
                {% endfor %}
                <div class="card mb-4 border shadow-sm rounded text-body-emphasis bg-body-secondary">
                    <img class="card-img-top cropped-img" src="{{featured_post.featured_image | default: '/assets/img/blog-hero-placeholder.png'}}" alt="Card image cap">
                    <div class="card-body">
                        <div class="p-4">
                            <h1 class=" display-6 ">{{ featured_post.title }}</h1>
                            <div class="mb-1 text-body-secondary">{{ post_metadata_string }}</div>
                            <p class="card-text mb-auto">{{ featured_post.excerpt | strip_html | truncatewords: 50 }}</p>
                            <a href="{{  featured_post.url }}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            {% endif %}

            <!-- normal posts: the single "featured_post" is not shown here, but previous featured posts will be shown. -->
            {% for post in paginator.posts %}
                {% if post != featured_post %}
                    {% assign post_metadata_string = "" %}
                    <!-- Date -->
                    {% assign post_metadata_string = post_metadata_string | append: post.date | date: "%b %d, %Y" %}

                    {% assign post_metadata_string = post_metadata_string | append: " &bull; " %}
                    <!-- Categories -->
                    {% for category in post.categories %}
                        {% assign post_metadata_string = post_metadata_string | append: category %}
                        {% if forloop.length > 1 and forloop.last != true %}
                            {% assign post_metadata_string = post_metadata_string | append: ", " %}
                        {% endif %}
                    {% endfor %}
                    <div class="row m-2">
                        <div class="card row g-0 border rounded overflow-hidden flex-md-row mb-4 mx-6 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                                <!-- <strong class="d-inline-block mb-2 text-primary-emphasis">{{ post_category_string }}</strong> -->
                                <h2 class="mb-0">{{ post.title }}</h2>
                                <div class="mb-1 text-body-secondary">{{ post_metadata_string }}</div>
                                    <p class="card-text mb-auto">{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
                                    <a href="{{  post.url }}" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

        {% if paginator.total_pages > 1 %}

            <nav aria-label="Paginator">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        {%- if paginator.previous_page -%}
                            <a class="page-link" href="{{ paginator.previous_page_path | relative_url }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        {%- else -%}
                            <a class="page-link disabled" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        {% endif %}
                    </li>
                    {% for page in (1..paginator.total_pages) %}
                        {% if page == paginator.page %}
                            <li class="page-item active"><a class="page-link" href="#">{{ page }}</a></li>
                            
                        {% elsif page == 1 %}
                            <li class="page-item"><a class="page-link" href="{{ '/blog' | relative_url }}">{{ page }}</a></li>
                        
                        {% else %}
                            <li class="page-item"><a class="page-link" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a></li>
                        
                        {% endif %}
                    {% endfor %}

        
                    
                    <li class="page-item">
                        {% if paginator.next_page %}
                            <a class="page-link" href="{{ paginator.next_page_path | relative_url }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        {% else %}
                            <a class="page-link disabled" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        {% endif %}
                    </li>
                    </ul>
            </nav>

        {% endif %}
        </div>
    </div>
</main>

