---
layout: default
title: Community
primary_title: Community
body_class: community-page
permalink: /community/

---


<main>

    
  <!-- MAIN DATAFILE -->
  {% assign Community_pageContent = site.data.page_community_datafile['Community'] %}

  {% assign data_HeroBanner = Community_pageContent['HeroBanner']  %}
  {% assign data_MainBody = Community_pageContent['MainBody']  %}

  {% assign data_MainBody_FourImage_Array_Desktop = data_MainBody['Image_Row_Desktop']  %}
  {% assign data_MainBody_TwoImage_Array_Mobile = data_MainBody['Image_Row_Mobile']  %}


  {% assign data_MainBody_EventsRow = data_MainBody['TwoColumn_Events_row']  %}


  {% assign data_MainBody_OpenSearchCon_Row = data_MainBody['TwoColumn_OpenSearchCon_row']  %}


  {% assign data_MainBody_Contributing_Row = data_MainBody['TwoColumn_Contributing_row']  %}



  {% assign data_MainBody_AnomalyRow = data_MainBody['ImageRight_row']  %}
  {% assign data_MainBody_FurtherResourcesRow = data_MainBody['TwoColumn_FurtherResources_row']  %}
  
  {% assign data_MainBody_GetStartedBannerRow = data_MainBody['GetStartedBanner_row']  %}
  {% assign data_MainBody_PlaygroundsRow = data_MainBody['ImageLeft_row']  %}

  
  <!-- {% assign data_CTABanner = solutionProviders_pageContent['Banner_CallToAction']  %}
  
  
  {% assign data_SearchBar = solutionProviders_pageContent['SearchBar']  %}
  {% assign data_SearchBar_ProviderType = data_SearchBar['ProviderType_Dropdown']  %}
  {% assign data_SearchBar_OpenSearchSpeciality = data_SearchBar['OpenSearchSpecialization_Dropdown']  %}
  {% assign data_SearchBar_Region = data_SearchBar['Regions_Dropdown']  %}
  {% assign data_SearchBar_FilterButton = data_SearchBar['FilterButton']  %} -->

    <!-- MOBILE HERO -->
    <div class="container-fluid community-hero-banner-background-mobile-wrapper d-block d-lg-none">
      <div class="container community-hero-heading-background-container d-flex flex-column justify-content-center align-items start pt-2 px-0">

        <h1 class="h1--hero-heading">{{ data_HeroBanner.Title }}</h1>

      </div>
    </div>

    <!-- DESKTOP HERO -->
    <div class="container-fluid community-hero-banner-background-wrapper d-none d-lg-block">
        <div class="container ps-5 community-hero-heading-background-container d-flex flex-column align-items-start justify-content-center">

          <h1 class="h1--hero-heading">{{ data_HeroBanner.Title }}</h1>

        </div>
    </div>


  <!-- MAIN SECTION -->
  <div class="container community-mainbody-container p-0">

    <!-- COMPLETE OPENING PARAGRAPH -->
    <p class="h4--text pt-4 pb-3 px-5">{{ data_MainBody.BeginningParagraph }}</p>

    <!-- COMPLETE FOUR IMAGE ARRAY -->
    <div class="container pb-5 px-3 px-md-5">
      <div class="row row-cols-1 row-cols-lg-4 g-3">

        {% for community-image in data_MainBody_FourImage_Array_Desktop %}
            <div class="col">
                <card class="card community-img-card shadow d-flex">

                    <img class="full-width-image" src="{{ community-image.ImagePath }}">

                </card>
            </div>

        {% endfor %}

      </div>
    </div>

    <!--         EVENTS SECONDARY BACKGROUND -- MOBILE  -->
    <div class="container-fluid community-two-column-blueBackground-container  d-block d-xl-none p-0">
        <div class="d-flex flex-column">
            <div class="primary-section d-flex flex-column align-items-start justify-content-center p-4">
            <div class="card community-events-card">
                <p class="card-body h4--text p-4 ">{{ data_MainBody_FeatureListRow['left_Paragraph'].Text }}</p>
            </div>
            
    
            </div>
            <div class="secondary-section p-4">
            <div class="row row-cols-1 row-cols-lg-2 g-5">
                {% for feature in data_MainBody_FeatureListRow['right_FeatureList'].Feature_array %}
                <div class="col pt-3 mt-4">
                    <div class="d-flex flex-column justify-content-center align-items-start">
    
                    <h2 class="h2--subheader-secondary">{{ feature.Title }}</h2>
                    <p class="bodycontent--text-secondary p-0 m-0">{{ feature.SubText }}</p>
                    
                    </div>
                </div>
    
                {% endfor %}
            </div> 
    
            </div>
        </div>
    </div>

    <!-- COMPLETE EVENTS SECONDARY BACKGROUND -- DESKTOP  -->
    <div class="container community-two-column-blueBackground-container  d-none d-xl-block">
        <div class="row">
            <div class="col-4 primary-section d-flex flex-column align-items-center justify-content-center p-4">
                <div class="card community-events-card p-4 shadow">
                    <h2 class="header--h1-primary">{{ data_MainBody_EventsRow['left_Card'].Title }}</h2>
                    <p class="card-body h4--text-smallerFont mt-0 mb-4 p-0 ">{{ data_MainBody_EventsRow['left_Card'].SubText }}</p>

                    <!-- EVENT LIST -->
                    {% for event-type in data_MainBody_EventsRow['left_Card'].EventType_array %}
                    <div class="col">
                        <div class="d-flex flex-column justify-content-center align-items-start my-2">

                            <div class="d-flex flex-row justify-content-center align-items-start">
                                <!-- ICON -->
                                <!-- <div class="community-event-calendar-icon">{{ event-type.IconPath }}</div> -->
                                <img src="{{ event-type.IconPath }}" alt="Usecase icon" class="flex-image community-event-calendar-icon me-4">

                                <!-- TITLE -->
                                <div class="community-event-categories p-0">{{ event-type.Title }}</div>
                            </div>

                        </div>
                    </div>
                    {% endfor %}

                    <!-- BUTTON -->
                    <div class="d-flex flex-column justify-content-center align-items-center mt-4 mb-2">
                        <a class="btn btn-primary-dark-community shadow " href="{{ data_MainBody_EventsRow['left_Card'].Button.ButtonLink }}" aria-current="Events button">
                    
                            <div class="row button-content justify-content-center">
                                <div class="button-content-text col-auto">
                                    {{  data_MainBody_EventsRow['left_Card'].Button.ButtonText }}
                                </div>
                                <div class="button-content-icon col-auto px-0 ms-1 me-1 align-self-center">
                                    {% include icons_navbar.html type='chevron-in-circle' %}
                                </div>
                            </div>
                
                        </a>

                    </div>



                </div>


            

            </div>
            <div class="col-8 secondary-section p-5">
                <div class="d-flex flex-column justify-content-start align-items-start">

                    <h1 class="header--h1-primary">{{ data_MainBody_EventsRow['right_Section'].Title }}</h1>
                    <p class="subheading--text p-0 mt-1">{{ data_MainBody_EventsRow['right_Section'].SubText }}</p>
                    
                </div>
                <div class="row row-cols-1 row-cols-lg-2 g-5 mt-3">
                    {% for CommunityType in data_MainBody_EventsRow['right_Section'].CommunityType_array %}

                    <div class="row mb-4">
                        <!-- ICON -->
                        <div class="col-4 icon-div-box">
                            {% include icons_navbar.html type=CommunityType.Icon class='object-fit-contain' %}
                        </div>
                        <!-- HEADING -->
                        <div class="col pe-0">

                            <div class="row mb-1">
                                <a href='{{ CommunityType.URL }}' class="subheader--h3-link">{{ CommunityType.Name }}</a>
                            </div>

                            <div class="row">
                                <span class="mb-0 pe-0 "h4--text-smallerFont">{{ CommunityType.SubText }}</span>
                            </div>



                        </div>
                    </div>
                {% endfor %}
                </div> 


            </div>
        </div>
    </div>




    <!-- OPENSEARCH CON SECTION -- MOBILE-->
    <div class="container two-column-primary-container d-block d-xxl-none">

        <div class="d-flex flex-column justify-content-center align-items-center pt-5">

            <h2 class="h2--subheader align-self-start">{{ data_MainBody_FurtherResourcesRow['left_BlogColumn'].Title }}</h2>
            <div class="d-flex flex-column justify-content-center align-items-center px-1">
            {% for resourceCard in data_MainBody_FurtherResourcesRow.left_BlogColumn['Blog_array'] %}
            <div class="col mb-5">
                <card class="card blog-card shadow">

                <div class="card-body d-flex flex-column  p-4">
                    <a href="{{ resourceCard.Link }}" class="stretched-link"></a>
                    <span class="card-text">{{ resourceCard.Type }}</span>
                    <h5 class="card-title py-2">{{ resourceCard.Title }}</h5>
                    <span class="card-subtext">{{ resourceCard.SubText }}</span>
                </div>

                </card>
            </div>

            {% endfor %}
            </div>
            
            
        </div>

        <div class="d-flex flex-column justify-content-start align-items-start py-5">

            <h2 class="h2--subheader">{{ data_MainBody_FurtherResourcesRow['right_LargeImageColumn'].Title }}</h2>
            <div class="d-flex flex-column justify-content-center align-items-center px-1">

            {% for resourceGraphic in data_MainBody_FurtherResourcesRow.right_LargeImageColumn['Feature_array'] %}

            <div class="col mt-4">
                <div class="d-flex flex-column justify-content-start align-items-start">

                <!-- ICON -->
                <img src="{{ resourceGraphic.Icon }}" alt="Usecase icon" class="flex-image usecase-icon  align-self-center">
                <!-- CONTENT -->
                <span class="usecase-header mb-2">{{ resourceGraphic.Title }}</span>
                <span class="usecase-subtext">{{ resourceGraphic.SubText }}</span>
                

                </div>
            </div>

            {% endfor %}

            </div>

        </div>
        
    </div>

    <!-- OPENSEARCH CON SECTION -- DESKTOP-->
    <div class="container community-two-column-primary-container d-none d-xxl-block">
        <div class="row">

            <div class="col-8 d-flex flex-column justify-content-start align-items-start  py-5 px-4">

                <h1 class="header--h1-primary">{{ data_MainBody_OpenSearchCon_Row['left_LargeImage_Column'].Title }}</h1>

                <div class=" d-flex flex-row justify-content-center align-items-center">
                    <div class="secondary-section largeImage-twoColumn p-3">

                        <img src="{{ data_MainBody_OpenSearchCon_Row['left_LargeImage_Column'].ImagePath }}" alt="OpenSearch keynote image" class="flex-image shadow">
            
                    </div>
                    <div class="primary-section py-5">
            
                        <div class="h4--text-smallerFont m-0 pb-4">{{ data_MainBody_OpenSearchCon_Row['left_LargeImage_Column'].Text }}</div>
                        
                    </div>
                </div>


            </div>
            <div class="secondarySection-dark-background col-4 d-flex flex-column align-items-start justify-content-start px-3 py-5">

            
                <!-- HEADER AND ICON -->
                <div class="col d-flex flex-row align-items-start justify-content-center">
    
                    <img src="{{ data_MainBody_OpenSearchCon_Row['right_OpenSearchConSchedule_Column'].IconPath }}" alt="OpenSearch {{data_MainBody_OpenSearchCon_Row['right_OpenSearchConSchedule_Column'].Title}}" class="icon-homepage-community-withSurroundingCircle icon-div-box me-3">
                    <span class="header--h1-primary">{{ data_MainBody_OpenSearchCon_Row['right_OpenSearchConSchedule_Column'].Title }}</span>
        
                </div>

                <!-- OPENSEARCH CON LIST -->
                <ul class="mx-4">
                    {% for Conference in data_MainBody_OpenSearchCon_Row['right_OpenSearchConSchedule_Column'].Conferance_array %}
                        <li class="text--listItem-darkBackground"><a href="{{ Conference.URL }}"" class="{{ Conference.ClassValue }} ">{{ Conference.Name }}</a></li>
                    {% endfor %}

                </ul>
                
                
            </div>


        </div>
    </div>







    <!-- CONTRIBUTING SECTION -- DESKTOP-->
    <div class="container community-twoColumn-contributing-container d-none d-lg-block">
        <div class="row">

            <div class="col-6  primary-section ">
                <div class="d-flex flex-column justify-content-start align-items-start  py-5 px-4">

                    <h1 class="header--h1-primary">{{ data_MainBody_Contributing_Row['left_Column'].Title }}</h1>
                    <div class="h4--text-smallerFont p-0 mt-1">{{ data_MainBody_Contributing_Row['left_Column'].SubText }}</div>

                </div>

                <div class="row row-cols-1 row-cols-lg-2 g-5 mt-3">
                    {% for ContributionType in data_MainBody_Contributing_Row['left_Column'].contributingCards_grid %}

                        <div class="card card-verticallystacked-icon homepage-community-icon-card {{ ContributionType.card_ClassValue }}">
     
                            <img src="{{ContributionType.IconPath}}" alt="OpenSearch {{ContributionType.Name}}" class="iconography card-icon {{ContributionType.ClassValue}}">
                            <span class="card-title">{{ ContributionType.Name }}</span>
                            <a href="{{ ContributionType.URL }}" class="stretched-link"></a>

                        </div>
                    {% endfor %}
                </div>



            </div>
            
            <div class="secondary-section col-6 d-flex flex-column align-items-start justify-content-start px-3 py-5">

                <div class="d-flex flex-column justify-content-start align-items-start  py-5 px-4">

                    <h1 class="header--h1-primary">{{ data_MainBody_Contributing_Row['right_Column'].Title }}</h1>
                    <div class="h4--text-smallerFont p-0 mt-1">{{ data_MainBody_Contributing_Row['right_Column'].SubText }}</div>

                </div>
                <!-- HEADER AND ICON -->
                <div class="col d-flex flex-column align-items-center justify-content-center">
    
                    <img src="{{ data_MainBody_Contributing_Row['right_Column'].ImagePath }}" alt="Builders wanted image" class="flex-image">
                    
                    <!-- BUTTON -->
                    <div class="d-flex flex-column justify-content-center align-items-center mt-4 mb-2">
                        <a class="btn btn-primary-dark-community shadow " href="{{ data_MainBody_Contributing_Row['right_Column'].Button.ButtonLink }}" aria-current="User Groups button">
                    
                            <div class="row button-content justify-content-center">
                                <div class="button-content-text col-auto">
                                    {{  data_MainBody_Contributing_Row['right_Column'].Button.ButtonText }}
                                </div>
                                <div class="button-content-icon col-auto px-0 ms-1 me-1 align-self-center">
                                    {% include icons_navbar.html type='chevron-in-circle' %}
                                </div>
                            </div>
                
                        </a>

                    </div>
        
                </div>


                
                
            </div>

        </div>
        
    </div>





    <!-- GET STARTED BANNER -- MOBILE -->
    <div class="container-fluid green-background-container d-flex flex-column justify-content-center align-items-center py-3 d-block d-lg-none shadow">
      <h1 class="header--h1-primary m-0 px-2 pb-3 text-center" >{{ data_MainBody_GetStartedBannerRow.Text }}</h1>
      <a class="btn shadow rounded-pill btn-dark-tertiary-midnight" href="{{ data_MainBody_GetStartedBannerRow.ButtonLink }}">{{ data_MainBody_GetStartedBannerRow.ButtonText }}</a>
    </div>
    <!-- GET STARTED BANNER -- DESKTOP -->
    <div class="green-background-container py-4 d-none d-lg-block shadow">
      <div class="d-flex flex-row justify-content-center align-items-center">
        <h1 class="header--h1-primary m-0 flex-grow" >{{ data_MainBody_GetStartedBannerRow.Text }}</h1>
        <a class="ms-4 btn shadow rounded-pill btn-dark-tertiary-midnight" href="{{ data_MainBody_GetStartedBannerRow.ButtonLink }}">{{ data_MainBody_GetStartedBannerRow.ButtonText }}</a>
      </div>

    </div>



    <!-- PLAYGROUNDS -- MOBILE-->
    <div class="container d-block d-lg-none">
      <div class="d-flex flex-column justify-content-center align-items-center py-5">
        
        <h2 class="h2--subheader pb-3">{{ data_MainBody_PlaygroundsRow.Subheader }}</h2>
        <img src="{{ data_MainBody_PlaygroundsRow.ImagePath }}" alt="Playgrounds image" class="flex-image shadow pb-4 px-2">
        <p class="h4--text m-0 pt-2 pb-4 text-center">{{ data_MainBody_PlaygroundsRow.SubText }}</p>
        <a class="btn btn-primary-dark-usecase shadow " href="{{ data_MainBody_PlaygroundsRow.ButtonLink }}" aria-current="Playground button">           
          <div class="row button-content">
              <div class="button-content-text col-auto">
                {{ data_MainBody_PlaygroundsRow.ButtonText }}
              </div>
              <div class="button-content-icon col-auto px-0 ms-1 me-1 align-self-center">
                  {% include icons_navbar.html type='chevron-in-circle' %}
              </div>
          </div>
        </a>


      </div>
    </div>


    <!-- PLAYGROUNDS -- DESKTOP-->
    <div class="container d-none d-lg-block">
      <div class="row">
        <div class="col-7 secondary-section d-flex flex-column justify-content-center align-items-center p-5">

          <img src="{{ data_MainBody_PlaygroundsRow.ImagePath }}" alt="Playgrounds image" class="flex-image shadow">

        </div>
        <div class="col-5 primary-section d-flex flex-column align-items-start justify-content-center py-5">

          <h2 class="h2--subheader">{{ data_MainBody_PlaygroundsRow.Subheader }}</h2>
          <p class="h4--text m-0 pb-4">{{ data_MainBody_PlaygroundsRow.SubText }}</p>
          
          <a class="btn btn-primary-dark-usecase shadow " href="{{ data_MainBody_PlaygroundsRow.ButtonLink }}" aria-current="Playground button">
                        
            <div class="row button-content">
                <div class="button-content-text col-auto">
                  {{ data_MainBody_PlaygroundsRow.ButtonText }}
                </div>
                <div class="button-content-icon col-auto px-0 ms-1 me-1 align-self-center">
                    {% include icons_navbar.html type='chevron-in-circle' %}
                </div>
                
            </div>

        </a>
        </div>

      </div>
    </div>




  </div>








    

</main>

    


    
        

