---
layout: default
title: Partners
primary_title: Partners
body_class: partners-page

---





<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-8 col-md-8 mx-auto">
        <h1 class="fw-light">OpenSearch Partnerships</h1>
        <p class="lead text-body-secondary">The OpenSearch Project works with a wide range of open-source community partners that represent organizations in search, analytics, observability, security, machine learning, and other data-intensive applications.</p>
        <p>
          <a href="https://github.com/opensearch-project/project-website/issues/new?assignees=&labels=enhancement%2C+untriaged&projects=opensearch-project%2FWebsite+Update+Project&template=partner_add_new_partner.yml&title=%5BPARTNER%5D+%7B%7B+Company+name+%7D%7D+" class="btn btn-primary my-2">Become a Partner</a>
          <a href="https://github.com/opensearch-project/project-website/issues/new?assignees=&labels=enhancement%2C+untriaged&projects=&template=partner_update.md&title=%5BPARTNER%5D+update+%7B%7B+Company+name+%7D%7D+" class="btn btn-outline-primary my-2">Partner update</a>
        </p>
      </div>
    </div>
  </section>


  <div class="album py-5 bg-body-tertiary">
    {% assign solutionProviders_pageContent = site.data.page_SolutionProviders_datafile['SolutionProviders'] %}
    {% assign data_HeroBanner = solutionProviders_pageContent['HeroBanner']  %}
    {% assign data_MainBody = solutionProviders_pageContent['MainBody']  %}
    {% assign data_SearchBar = solutionProviders_pageContent['SearchBar']  %}
    {% assign data_SearchBar_BusinessType = data_SearchBar['BusinessType_Dropdown']  %}
    {% assign data_SearchBar_OpenSearchSpeciality = data_SearchBar['OpenSearchSpecialization_Dropdown']  %}
    {% assign data_SearchBar_Region = data_SearchBar['Regions_Dropdown']  %}
    {% assign data_SearchBar_FilterButton = data_SearchBar['FilterButton']  %}

    <div class="container ">




      <!-- INPUT GROUP TRY 3 -->
      <!-- VARIABLE: data_SearchBar -->

      <div class="filter-bar-wrapper input-group justify-content-center mb-5 px-3" id="filter-bar">

        <!-- Business Type dropdown -->
        <div class="d-none d-md-block">
          <button type="button" class="filter-bar-button btn-group-rounded-left btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="filter-bar-empty-span"></span>
            {{data_SearchBar_BusinessType.Title}} 
            <span class="ms-1 me-auto" id="{{data_SearchBar_BusinessType.ButtonCategoryCountID}}"></span>
            <span class="filter-bar-empty-span"></span>
            
          </button>
  
          <ul class="dropdown-menu dropdown-menu-end w-25 px-4">
            <li><h5 class="dropdown-header">Select all that apply</h5></li>
            {% for category in data_SearchBar_BusinessType.Categories %}
              <!-- <li><a class="dropdown-item" href="#">Action</a></li> -->
              <div class="form-check m-0">
                <input 
                  type="checkbox" 
                    class="form-check-input fs-base" 
                    id="{{data_SearchBar_OpenSearchSpeciality.DataAttribute}}" 
                    onclick="updateFilterCount('{{ data_SearchBar_BusinessType.ButtonCategoryCountID }}', '{{data_SearchBar_OpenSearchSpeciality.DataAttribute}}')" 
                    data-count-id="{{ data_SearchBar_BusinessType.ButtonCategoryCountID }}">
                <label 
                  for="{{data_SearchBar_OpenSearchSpeciality.DataAttribute}}" 
                  class="form-check-label d-flex align-items-end">
                  {{ category.Name }}
                  <span class="fs-xs text-body-secondary ps-2 ms-auto">{{ category.CategoryCount }}</span>
                </label>
              </div>
            {% endfor %}
  
          </ul>
        </div>


        <!-- OpenSearch Specialization dropdown -->
        <div class="d-none d-md-block">
          <button type="button" class="filter-bar-button btn-group-middle-element btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            {{data_SearchBar_OpenSearchSpeciality.Title}} 
            <span class="ms-1 me-auto" id="{{data_SearchBar_OpenSearchSpeciality.ButtonCategoryCountID}}"></span>
            <span class="filter-bar-empty-span"></span>
            
          </button>
  
          <ul class="dropdown-menu dropdown-menu-end w-25 px-4">
            <li><h5 class="dropdown-header">Select all that apply</h5></li>
            {% for category in data_SearchBar_OpenSearchSpeciality.Categories %}
              <!-- <li><a class="dropdown-item" href="#">Action</a></li> -->
              <div class="form-check m-0">
                <input 
                  type="checkbox" 
                    class="form-check-input fs-base" 
                    id="{{category.DataAttribute}}" 
                    onclick="updateFilterCount('{{ data_SearchBar_OpenSearchSpeciality.ButtonCategoryCountID }}', '{{category.DataAttribute}}')" 
                    data-count-id="{{ data_SearchBar_OpenSearchSpeciality.ButtonCategoryCountID }}">
                <label 
                  for="{{data_SearchBar_OpenSearchSpeciality.DataAttribute}}" 
                  class="form-check-label d-flex align-items-end">
                  {{ category.Name }}
                  <span class="fs-xs text-body-secondary ps-2 ms-auto">{{ category.CategoryCount }}</span>
                </label>
              </div>
            {% endfor %}
  
          </ul>   
        </div>
     

        <!-- Region dropdown -->
        <div class="d-none d-lg-block">
          <button type="button" class="filter-bar-button btn-group-middle-element btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            {{data_SearchBar_Region.Title}} 
            <span class="ms-1 me-auto" id="{{data_SearchBar_Region.ButtonCategoryCountID}}"></span>
            <span class="filter-bar-empty-span"></span>
            
          </button>
  
          <ul class="dropdown-menu dropdown-menu-end w-25 px-4">
            <li><h5 class="dropdown-header">Select all that apply</h5></li>
            {% for category in data_SearchBar_Region.Categories %}
              <!-- <li><a class="dropdown-item" href="#">Action</a></li> -->
              <div class="form-check m-0">
                <input 
                  type="checkbox" 
                    class="form-check-input fs-base" 
                    id="{{data_SearchBar_OpenSearchSpeciality.DataAttribute}}" 
                    onclick="updateFilterCount('{{ data_SearchBar_Region.ButtonCategoryCountID }}')" 
                    data-count-id="{{ data_SearchBar_Region.ButtonCategoryCountID }}">
                <label 
                  for="{{data_SearchBar_Region.DataAttribute}}" 
                  class="form-check-label d-flex align-items-end">
                  {{ category.Name }}
                  <span class="fs-xs text-body-secondary ps-2 ms-auto">{{ category.CategoryCount }}</span>
                </label>
              </div>
            {% endfor %}
  
          </ul>  
        </div>


        <!-- Search button -->
        <div class="d-none d-md-block">
          <button 
            type="button" 
            class="filter-bar-button btn-group-rounded-right btn btn-outline-primary"
            onclick="onScreenElements_ApplyFilters()" >
            {{ data_SearchBar_FilterButton.ButtonText }}
            <span class="filter-bar-empty-span"></span>
          </button>
        </div>
      </div>
    </div>

    <div class="container filter-criteria-selection-wrapper">

      
    </div>

    <div class="container title-wrapper">
      
      <div class="row">
        <!-- Page title -->
        <h1 class="col align-self-start position-relative mb-5" style="z-index: 1021">{{ data_MainBody.Title }}</h1>

        <!-- Returned results -->
        <div class="col align-self-end returned-results-wrapper hide order-last"></div>
          <span>Viewing </span>
          <span id="partner-filter-returned-results"></span>
          <span>Solutions Providers (Total = </span>
          <span id="partner-filter-total-count"></span>
          <span>)</span>
        </div>
        
      </div>
    </div>




    <div class="container">
      <hr/>
      <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-3">

        {% for partner in site.partners %}
          <div 
            class="col partner-card-wrapper"
            id="{{partner.name}}-id"
            data-partner-name = "{{partner.name}}"
            data-partner-specializations = "{{partner.opensearch_tech}}"
          >
            <card 
              class="card shadow-sm d-flex show px-0">

                <a href="{{ partner.url | relative_url }}" class="stretched-link p-4">
                  <img src="{{ partner.logo_large }}" alt="{{ partner.name }} Logo" class="partner-logo card-img-top"/>
                </a>
                <h5 class="card-title ps-3">{{ partner.name }}</h5>
                
                {% if partner.opensearch_tech %}
                  <div class="card-footer">
                    <i class="fa-solid fa-tag"></i>
                    <span class="text-body-secondary">{{ partner.opensearch_tech }}</span>
                  </div>
                {% endif %}
                
            </card>
          </div>

        {% endfor %}

      </div>
    </div>

    <!-- Back to top button -->
    <div class="floating-buttons position-fixed top-50 end-0 z-sticky me-3 me-xl-4 pb-4">
      <a class="btn-scroll-top btn btn-sm bg-body border-0 rounded-pill shadow animate-slide-end" href="#top">
        <i class="fa-solid fa-chevron-right"></i>
        Top

      </a>
    </div>
    <script>
        let partnerArray = []
        let specializationFilters = []
        // Dynamically update count number of selected items inside filter dropdown
        
        document.addEventListener("DOMContentLoaded", (event) => {
          console.log("DOM fully loaded and parsed");
        });
        
        window.onload = () => {
          

          // find all partners and enter each partner object into the partnerArray
          let partnerObjectsOnScreen = document.querySelectorAll(`div.partner-card-wrapper`);
          let count_partnerObjects = partnerObjectsOnScreen.length;
          console.log("PARTNER COUNT:")
          console.log(count_partnerObjects)

          partnerObjectsOnScreen.forEach(partnerObject => {
            let partnerName = partnerObject.getAttribute('data-partner-name');
            let partnerSpecializationArray = partnerObject.getAttribute('data-partner-specializations');
            let partnerId = partnerObject.getAttribute('id');
            partnerArray.push(
              { name: partnerName, 
                id: partnerId, 
                specializations: partnerSpecializationArray 
              });
          });

          console.log(partnerArray);
          
          
        }

        const updateFilterCount = (countId, filterName) => {
          console.log(countId, filterName);
          const checkedCheckboxes = document.querySelectorAll(`[data-count-id="${countId}"]:checked`)
          const countElement = document.getElementById(countId)
          if (checkedCheckboxes.length > 0) {
              countElement.textContent = '(' + checkedCheckboxes.length + ')'
          } else {
              countElement.textContent = ''
          }

          // Update the JS filter array
          if (countId == 'Specialization_CategoryCount') {
            console.log(filterName)

            // Check if filterName is already present in specializationFilters array
            let index = specializationFilters.indexOf(filterName);
            if (index > -1){
              specializationFilters.splice(index,1);
            } else {
              specializationFilters.push(filterName);
            }

            console.log(specializationFilters);
          }
        }

        const gatherAllFilters = () => {
          // const dropdown_IDs = [

          // ]

          let results = document.querySelectorAll('cards > li[data-s-os-tech="Search"][data-s-os-tech=“Observability”]')
          console.log(results)
          // const checkedCheckboxes = document.querySelectorAll(`[data-count-id="${countId}"]:checked`)

          // const test = {{ data_SearchBar_OpenSearchSpeciality }};
          // const test2 = JSON.parse({{ data_SearchBar_OpenSearchSpeciality }})
          // console.log(test2);

          alert('{{ data_SearchBar_OpenSearchSpeciality.Title }} ');
        }

        let onScreenElements_ApplyFilters = () => {

          
          // Hide every item on screen
          let items = partnerArray;
          console.log(items)
          items.forEach((item) => {
            const card = document.getElementById(`${item.name}-id`);
            console.log('HIDING: ', card);
            card.classList.remove("card-show");
            card.classList.add("card-hide");
          });

          // show current filters to the console
          console.log(specializationFilters);
          if (specializationFilters.length === 0) {
            items.forEach((item) => {
              const card = document.getElementById(`${item.name}-id`);
              card.classList.remove("card-hide");
              card.classList.add("card-show");
            });
          } else {
            // specializationFilters
            // for each item, check if it has one of the specializationFilters in its tag category. If so, we want to show it.
            items.forEach((item) => {
              let containsSpecializationTag = specializationFilters.some(filter => item.specializations.includes(filter));
              if (containsSpecializationTag) {
                const card = document.getElementById(`${item.name}-id`);
                card.classList.remove("card-hide");
                card.classList.add("card-show");
              }
            });
          }
          



        }

        


        


    </script>
    
</main>        

