---
layout: default
title: Partners
primary_title: Partners
body_class: partners-page

---





<main>

    
  <!-- MAIN DATAFILE -->
  {% assign solutionProviders_pageContent = site.data.page_SolutionProviders_datafile['SolutionProviders'] %}

  {% assign data_HeroBanner = solutionProviders_pageContent['HeroBanner']  %}
  {% assign data_CTABanner = solutionProviders_pageContent['Banner_CallToAction']  %}
  {% assign data_MainBody = solutionProviders_pageContent['MainBody']  %}
  {% assign data_SearchBar = solutionProviders_pageContent['SearchBar']  %}
  {% assign data_SearchBar_ProviderType = data_SearchBar['ProviderType_Dropdown']  %}
  {% assign data_SearchBar_OpenSearchSpeciality = data_SearchBar['OpenSearchSpecialization_Dropdown']  %}
  {% assign data_SearchBar_Region = data_SearchBar['Regions_Dropdown']  %}
  {% assign data_SearchBar_FilterButton = data_SearchBar['FilterButton']  %}


  <!-- SOLUTIONS PROVIDERS HERO BANNERS -->
  
  <!-- DESKTOP HERO -->
  <div class="container-fluid solutionsProviders-hero-banner-background-wrapper d-none d-lg-block px-0">
      <div class="container solutionsProviders-hero-heading-background-container px-5">
          <div class="row flex-xl-row align-items-center my-5 py-5">
              <div class="col-lg-11 col-xl-10 col-xxl-8">
                  <h1 class="solutionsProviders-hero-heading display-3">{{ data_HeroBanner.Title }}</h1>
                  <p class="solutionsProviders-hero-subtext">{{ data_HeroBanner.SubText }}</p>
              </div>
          </div>
      </div>
  </div>
  <!-- MOBILE HERO -->
  <div class="container-fluid solutionsProviders-hero-banner-background-mobile-wrapper d-block d-lg-none">
      <div class="container solutionsProviders-hero-heading-background-container">
          <div class="row flex-xl-row align-items-center m-1 m-xs-3 py-4 py-xs-5">
              <div class="col">
                  <h1 class="solutionsProviders-hero-heading display-3 pe-sm-5">{{ data_HeroBanner.Title }}</h1>
                  <p class="solutionsProviders-hero-subtext">{{ data_HeroBanner.SubText }}</p>
              </div>
          </div>
      </div>
  </div>

  <!-- CTA BANNER -->
  <div class="container-fluid OpenSearch-banner-dark-backgroundBanner shadow py-1">
    <div class="container OpenSearch-banner-dark-backgroundBanner-container px-5">
      <div class="row justify-content-center">
          <div class="col-lg-11 col-xl-10 col-xxl-8">
            <p class="text-center my-2">
              <span class="openSearch-banner-dark-bannerText">{{ data_CTABanner.Text_startSpan }}</span>
              <a href="{{ data_CTABanner.Link_URL }}" class="openSearch-banner-dark-bannerLink link-offset-1 link-offset-2-hover">{{ data_CTABanner.Link_Text }}</a>
              <span class="openSearch-banner-dark-bannerText">{{ data_CTABanner.Text_endSpan }}</span>
            </p>
          </div>
      </div>
    </div>
  </div>

  <div class="album py-5 solutionsProviders-mainContent-wrapper">


    
    <div class="container ">
      <!-- DESKTOP FILTER BAR -->
      <div class="d-none d-lg-block">
        <div class="filter-bar-wrapper input-group justify-content-center mb-5 px-2" id="filter-bar">

          <!-- Provider Type dropdown -->
          <div>
            <button type="button" class="filter-bar-button btn-group-rounded-left btn btn-outline-primary dropdown-bs-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
              <span class="md-width-empty-span"></span>
              {{data_SearchBar_ProviderType.Title}} 
              <span class="" id="{{data_SearchBar_ProviderType.ButtonCategoryCountID}}"></span>
              <span class="md-width-empty-span"></span>
              <i class="fa-solid fa-chevron-down"></i>
            </button>
  
            <ul class="dropdown-menu dropdown-menu-end w-35 px-4 shadow">
              <li><h5 class="dropdown-header solutionsProviders-dropdownHeader">Select all that apply</h5></li>

              {% for category in data_SearchBar_ProviderType.Categories %}
                <div class="form-check">
                  <input 
                    type="checkbox" 
                      class="form-check-input fs-base" 
                      id="{{category.DataAttribute}}" 
                      autocomplete="off"
                      onclick="updateFilterCount('{{ data_SearchBar_ProviderType.ButtonCategoryCountID }}', '{{category.DataAttribute}}')" 
                      data-count-id="{{ data_SearchBar_ProviderType.ButtonCategoryCountID }}">
                  <label 
                    for="{{category.DataAttribute}}" 
                    class="form-check-label d-flex align-items-end">
                    {{ category.Name }}
                  </label>
                </div>
              {% endfor %}

            </ul>
          </div>

          <!-- OpenSearch Specialization dropdown -->
          <div>
            <button type="button" class="filter-bar-button btn-group-middle-element btn btn-outline-primary dropdown-bs-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
              <span class="md-width-empty-span"></span>
              {{data_SearchBar_OpenSearchSpeciality.Title}} 
              <span class="" id="{{data_SearchBar_OpenSearchSpeciality.ButtonCategoryCountID}}"></span>
              <span class="md-width-empty-span"></span>
              <i class="fa-solid fa-chevron-down"></i>
            </button>
    
            <ul class="dropdown-menu dropdown-menu-end w-15 px-4 shadow">
              <li><h5 class="dropdown-header solutionsProviders-dropdownHeader">Select all that apply</h5></li>
              {% for category in data_SearchBar_OpenSearchSpeciality.Categories %}
                <div class="form-check">
                  <input 
                    type="checkbox" 
                      class="form-check-input fs-base" 
                      id="{{category.DataAttribute}}" 
                      autocomplete="off"
                      onclick="updateFilterCount('{{ data_SearchBar_OpenSearchSpeciality.ButtonCategoryCountID }}', '{{category.DataAttribute}}')" 
                      data-count-id="{{ data_SearchBar_OpenSearchSpeciality.ButtonCategoryCountID }}">
                  <label 
                    for="{{category.DataAttribute}}" 
                    class="form-check-label d-flex align-items-end">
                    {{ category.Name }}
                  </label>
                </div>
              {% endfor %}
    
            </ul>   
          </div>
      
          <!-- Region dropdown -->
          <div>
            <button type="button" class="filter-bar-button btn-group-middle-element btn btn-outline-primary dropdown-bs-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
              <span class="md-width-empty-span"></span>
              {{data_SearchBar_Region.Title}} 
              <span class="" id="{{data_SearchBar_Region.ButtonCategoryCountID}}"></span>
              <span class="md-width-empty-span"></span>
              <i class="fa-solid fa-chevron-down"></i>
              
            </button>
    
            <ul class="dropdown-menu dropdown-menu-end w-15 px-4 shadow">
              <li><h5 class="dropdown-header solutionsProviders-dropdownHeader">Select all that apply</h5></li>
              {% for category in data_SearchBar_Region.Categories %}
                <div class="form-check">
                  <input 
                    type="checkbox" 
                      class="form-check-input fs-base" 
                      id="{{category.DataAttribute}}" 
                      autocomplete="off"
                      onclick="updateFilterCount('{{ data_SearchBar_Region.ButtonCategoryCountID }}', '{{category.DataAttribute}}')" 
                      data-count-id="{{ data_SearchBar_Region.ButtonCategoryCountID }}">
                  <label 
                    for="{{category.DataAttribute}}" 
                    class="form-check-label d-flex align-items-end">
                    {{ category.Name }}
                  </label>
                </div>
              {% endfor %}
    
            </ul>  
          </div>

          <!-- Search button -->
          <div>
            <button 
              type="button" 
              class="filter-bar-button btn-group-rounded-right btn btn-outline-primary"
              onclick="onScreenElements_ApplyFilters()" >
              <span class="md-width-empty-span"></span>
              {{ data_SearchBar_FilterButton.ButtonText }}
              <span class="md-width-empty-span"></span>
            </button>
          </div>

        </div>
      </div>

      <!-- MOBILE FILTER BAR -->
      <div class="d-block d-lg-none">
        <span>MOBILE</span>
      </div>
    </div>

    <!-- FILTER CHIPS -->
    <div class="container filter-criteria-selection-wrapper">
    </div>

    <!-- SOLUTIONS PROVIDERS RESULTS  -->
    <div class="container title-wrapper">
      
      <div class="d-flex">
        <!-- Page title -->
        <h1 class="align-self-start position-relative {{data_MainBody.ClassValue }} mb-0">{{ data_MainBody.Title }}</h1>

        <!-- Returned results -->
        <div class="ms-auto returned-results-wrapper hide">
          <p class="returned-solutions-providers-text">
            <span>Viewing </span>
            <span id="solutions-providers-returned-results" class="solutions-providers-returned-results-count"></span>
            <span> Solutions Providers</span>
          </p>
        </div>
      </div>


    </div>




    <div class="container px-5">
      <hr/>
      <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4">

        {% for partner in site.partners %}
          <div 
            class="col card-solutionsProvider-wrapper"
            id="{{partner.name}}-id"
            data-partner-name = "{{partner.name}}"
            data-partner-specializations = "{{ partner.opensearch_tech }}"
            data-partner-providerTypes = "{{ partner.business_type }}"
            data-partner-regions = "{{ partner.region }}"
          >
            <card 
              class="card card-solutionsProvider shadow-sm d-flex show px-0">

                <a href="{{ partner.url | relative_url }}" class="stretched-link p-4">
                  {% if partner.logo %}
                    <!-- If the partner has a favicon logo attached to their profile. -->
                    <img src="{{ partner.logo }}" alt="{{ partner.name }} Logo" class="partner-logo card-img-top"/>
                  {% else %}
                    <!-- otherwise use the full width -->
                    <img src="{{ partner.logo_large }}" alt="{{ partner.name }} Logo" class="partner-logo card-img-top"/>
                  {% endif %}
                </a>
                
                <div class="card-footer">
                  <h5 class="card-title ps-3">{{ partner.name }}</h5>
                </div>

                
            </card>
          </div>

        {% endfor %}

      </div>
    </div>

    <!-- Back to top button -->
    <!-- <div class="floating-buttons position-fixed top-50 end-0 z-sticky me-3 me-xl-4 pb-4">
      <a class="btn-scroll-top btn btn-sm bg-body border-0 rounded-pill shadow animate-slide-end" href="#top">
        <i class="fa-solid fa-chevron-right"></i>
        Top

      </a>
    </div> -->


  </div>
</main>

    
<script>
    let partnerArray = [];
    let specializationFilters = [];
    let providerTypeFilters = [];
    let regionFilters = [];
    let resultsObject;
    
    window.onload = () => {
      

      // find all partners and enter each partner object into the partnerArray
      let partnerObjectsOnScreen = document.querySelectorAll(`div.card-solutionsProvider-wrapper`);
      let count_partnerObjects = partnerObjectsOnScreen.length;
      console.log("PARTNER COUNT:")
      console.log(count_partnerObjects)

      partnerObjectsOnScreen.forEach(partnerObject => {
        let partnerName = partnerObject.getAttribute('data-partner-name');
        let partnerSpecializationArray = partnerObject.getAttribute('data-partner-specializations');
        let partnerProviderTypeArray = partnerObject.getAttribute('data-partner-providerTypes');
        let partnerRegionArray = partnerObject.getAttribute('data-partner-regions');
        let partnerId = partnerObject.getAttribute('id');
        partnerArray.push(
          { name: partnerName, 
            id: partnerId, 
            specializations: partnerSpecializationArray,
            providerTypes: partnerProviderTypeArray,
            regions: partnerRegionArray
          });
      });

      resultsObject = document.getElementById(`solutions-providers-returned-results`);
      resultsObject.innerText = partnerArray.length;
      console.log(resultsObject);
      
      
    }

    // Update the filter counts on the filter bar buttons
    const updateFilterCount = (countId, filterName) => {
      console.log(countId, filterName);

      const checkedCheckboxes = document.querySelectorAll(`[data-count-id="${countId}"]:checked`)
      const countElement = document.getElementById(countId)
      if (checkedCheckboxes.length > 0) {
          countElement.textContent = '(' + checkedCheckboxes.length + ')'
      } else {
          countElement.textContent = ''
      }

      // update the backend filter array with this element
      switch (countId) {
        case 'Specialization_CategoryCount':
          // Check if filterName is already present in specializationFilters array
          let indexSpecialization = specializationFilters.indexOf(filterName);
          if (indexSpecialization > -1){
            specializationFilters.splice(indexSpecialization,1);
          } else {
            specializationFilters.push(filterName);
          }
          console.log(`SpecializationFilters: ${specializationFilters}.`);
          break;

        case 'ProviderType_CategoryCount':
          let indexProvider = providerTypeFilters.indexOf(filterName);
          if (indexProvider > -1){
            providerTypeFilters.splice(indexProvider,1);
          } else {
            providerTypeFilters.push(filterName);
          }
          console.log(`ProviderTypeFilters: ${providerTypeFilters}.`);
          break;

        case 'Region_CategoryCount':
          let indexRegion = regionFilters.indexOf(filterName);
          if (indexRegion > -1){
            regionFilters.splice(indexRegion,1);
          } else {
            regionFilters.push(filterName);
          }
          console.log(`RegionFilters: ${regionFilters}.`);
          break;
        default: 
          console.log(`ID not found for filter: ${countId}.`);
      }
    }

    let onScreenElements_ApplyFilters = () => {
      // allElements
      // filterSelectionArray - and we need to know what type of filter it is... 
      // we need to build the array of elements, that meet the criteria... and then its like a waterfall. At the end we show all the elements that are in the array that survived. 
      
      // Hide every item on screen
      let items = partnerArray;
      console.log(items)
      items.forEach((item) => {
        const card = document.getElementById(`${item.name}-id`);
        // console.log('HIDING: ', card);
        card.classList.remove("card-show");
        card.classList.add("card-hide");
      });

      // show current filters to the console
      console.log(providerTypeFilters);
      console.log(specializationFilters);
      console.log(regionFilters);


      //
      //
      //  iterate through the items in the array. If the specializationFilters.length is zero, we do nothing. 
      // otherwise, remove the items from the array that do not meet the filter criteria.
      temp_specializationArray_filteredItems = [];
      if (specializationFilters.length !== 0) {
        items.forEach((item) => {
          let containsSpecializationTag = specializationFilters.some(filter => item.specializations.includes(filter));
          if (containsSpecializationTag) {
            temp_specializationArray_filteredItems.push(item);
            // if the item contains the specializationTag...push it onto the temp array
          }
        });
      } else {
        temp_specializationArray_filteredItems = items;
      }
      console.log()
      temp_providerTypeArray_filteredItems = [];
      if (providerTypeFilters.length !== 0) {
        temp_specializationArray_filteredItems.forEach((item) => {
          let containsProviderTag = providerTypeFilters.some(filter => item.providerTypes.includes(filter));
          if (containsProviderTag) {
            temp_providerTypeArray_filteredItems.push(item);
          }
        });
      } else {
        temp_providerTypeArray_filteredItems = temp_specializationArray_filteredItems;
      }

      temp_regionArray_filteredItems = [];
      if (regionFilters.length !== 0) {
        temp_providerTypeArray_filteredItems.forEach((item) => {
          let containsRegionTag = regionFilters.some(filter => item.regions.includes(filter));
          if (containsRegionTag) {
            temp_regionArray_filteredItems.push(item);
          }
        });
      } else {
        temp_regionArray_filteredItems = temp_providerTypeArray_filteredItems;
      }

      // Finally, show all the items that survived the filtering process. 
      temp_regionArray_filteredItems.forEach((item) => {
          const card = document.getElementById(`${item.name}-id`);
          card.classList.remove("card-hide");
          card.classList.add("card-show");
        });
      
      resultsObject.innerText = temp_regionArray_filteredItems.length;

    }

    


    


</script>
    
        

