---
layout: fullwidth-with-breadcrumbs
title: Partners
primary_title: Partners
body_class: partners-page
notice: true
breadcrumbs:
  icon: community
  items:
    - title: Community
    - title: Partners
      url: '/partners/'
---

<p>OpenSearch is a team effort, we are grateful to all our partners.</p>
<p>Want to join the partner program? This <a href="../new-partner.html">guide describes how to join as an OpenSearch partner</a>.
<div class="partners">
  {% for partner in site.partners %}
    <div class="partner">
        {% if partner.name_long %}
            <a href="{{ partner.url | relative_url }}">
        {% elsif partner.link %}
            <a href="{{ partner.link }}" target="_blank">
        {% endif %}
        <img src="{{ partner.logo }}" alt="{{ partner.name }} Logo" />
        <span class="partner-name"> {{ partner.name }} </span>
        {% if partner.name_long or partner.link %}
        </a>
        {% endif %}
    </div>
  {% endfor %}
</div>
