---
layout: fullwidth-with-breadcrumbs
breadcrumbs:
  icon: opensearch-admin
  items:
    - title: Download
      url: /downloads.html
    - title: Artifacts
      url: /artifacts/index.html
pretty:
  download: 'Download'
  sig_verify: 'Signature verification how to'
  sig_link: Signature
---

{% assign primary_title = 'Artifacts'%}

{% if page.security_warning %}
  {% capture warning %}
    {% include artifact_security_warning.markdown %}
  {% endcapture %}
  {{ warning | markdownify }}
{% endif %}

<h2>{{page.slug}}</h2>

<div class="artifact-standalone">
  <strong>Version:</strong> {{page.version}} <br />
  {% if page.architecture -%}
    <strong>Architecture:</strong> {{page.architecture}}<br />
  {%- endif %}
  {% if page.platform -%}
    <strong>Platform:</strong> {{page.platform}}<br />
  {%- endif %}

  {% if page.artifact_url -%}
    <br /><a class="cta" href="{{page.artifact_url}}">{{layout.pretty.download}}</a><br />
  {%- endif %}
  {% if page.signature -%}
    <a href="{{page.signature}}"> {{layout.pretty.sig_link}} </a>
    (<a href="/verify-signatures.html">{{layout.pretty.sig_verify}}</a>)<br />
  {%- endif %}
</div>
