---
layout: fullwidth-with-breadcrumbs
---
<template id="empty-calendar-message">
    <p class="events--calendar--no-events-message">No events scheduled at this time.</p>
</template>
<template id="empty-filter-results-message">
    <p class="events--calendar--empty-filter-results-message">No events found, try adjusting your filters.</p>
</template>

{% assign start_date = page.date_of_first_sunday %}
{% assign end_date = page.date_of_last_saturday %}
{% assign month_number = page.month_number | times: 1 %}
{% assign month_index = page.month_index | times: 1 %}
{% assign calendar_events = site.events %}
{% assign days_in_month = site.data.calendars.days_in_month[month_index].day_count %}
{% if page.month_index > 0 %}
    {% assign previous_month_index = month_index | minus: 1 %}
    {% assign days_in_previous_month = site.data.calendars.days_in_month[previous_month_index].day_count %}
    {% if month_number == 3 %}
        {% assign years_mod_4 = page.year | modulo: 4 %}
        {% if years_mod_4 == 0 %}
            {% assign days_in_previous_month = days_in_previous_month | plus: 1 %}
        {% endif %}
    {% endif %}
{% else %}
    {% assign days_in_previous_month = site.data.calendars.days_in_month[11].day_count %}
{% endif %}
{% if page.month_index == 1 %}
    {% assign years_mod_4 = page.year | modulo: 4 %}
    {% if years_mod_4 == 0 %}
        {% assign days_in_month = days_in_month | plus: 1 %}
    {% endif %}
{% endif %}
{% assign week_offset = 0 %}
{% assign day_date = start_date %}
{% assign weeks_in_calendar = page.calendar_view_week_count %}
{% assign weeks_classname = 'events--calendar--body--weeks__' | append: weeks_in_calendar %}
<div class="events--calendar--wrapper">
    <div class="events--calendar--filters">
        <div class="events--calendar--filters--view-mode-toggle">
            <div class="events--calendar--filters--view-mode-toggle--item events--calendar--filters--view-mode-toggle--item__selected">
                <a href="{{ page.url }}">
                    {% include icons.html type="calendar" %}
                </a>
            </div>
            <div class="events--calendar--filters--view-mode-toggle--item">
                <a href="/events/">
                    {% include icons.html type="list" %}
                </a>
            </div>
        </div>
        {% include content-filter-dropdown.html
            component_classname="events--calendar--filters--category-selector"
            filterable_content_block_element_classname="events--calendar"
            filter_categories=site.data.calendars.filter_categories
        %}
        <div class="events--calendar--filters--in-person-toggle">
            <div role="button" id="in-person-toggle-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="20" viewBox="0 0 40 20" fill="none">
                    <rect x="39.5" y="19.5" width="39" height="19" rx="9.5" transform="rotate(-180 39.5 19.5)" fill="#006D97" stroke="#006D97"/>
                    <circle cx="30" cy="10" r="9.5" transform="rotate(-180 30 10)" fill="white" stroke="#006D97"/>
                </svg>
            </div>
            <div>
                <label for="in-person-toggle-button">Include In-Person Events</label>
            </div>
        </div>
    </div>
    <div class="events--calendar">
        <div class="events--calendar--head">
            {% comment %} The .events--calendar--head--month-year text will be populated with a localized string at run time. {% endcomment %}
            <div class="events--calendar--head--month-year"></div>
            <div class="events--calendar--head--prev-next">
                <div class="events--calendar--head--prev-next--prev">
                    {% if page.previous %}
                        <a class="events--calendar--head--prev-next--anchor" href="{{ page.previous.url }}">&lt;&nbsp;Previous</a>
                    {% else %}
                        <span>Previous</span>
                    {% endif %}
                </div>
                <div class="events--calendar--head--prev-next--next">
                    {% if page.next %}
                        <a class="events--calendar--head--prev-next--anchor" href="{{ page.next.url }}">Next&nbsp;&gt;</a>
                    {% else %}
                        <span>Next&nbsp;&gt;</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="events--calendar--body">
            {% comment %} The list of weekday names will be populated with a localized set of elements at run time. {% endcomment %}
            <div class="events--calendar--body--weekday-names"></div>
            <div class="events--calendar--body--weeks {{ weeks_classname }}">
                {% for calendar_week_number in (1..weeks_in_calendar) %}
                    <div class="events--calendar--body--week">
                        {% for i in (0..6) %}
                            {% assign event_date_selection_expression = "event.calendar_date == '" | append: day_date | append: "'" %}
                            {% assign events_for_day = calendar_events | where_exp: "event", event_date_selection_expression %}
                            {% assign weekday_name = site.data.calendars.weekday_names[i] %}
                            {% assign weekday_classname = "events--calendar--body--week--day__" | append: weekday_name %}
                            <div class="events--calendar--body--week--day {{ weekday_classname }}">
                                <div class="events--calendar--body--week--day--number">
                                    {{ day_date | split: "-" | last }}
                                </div>
                                {% if events_for_day -%}
                                    {% for event in events_for_day -%}
                                        {% assign event_category = event.category | default: "community" %}
                                        {% assign event_category_classname = "events--calendar--body--week--day--event__" | append: event_category %}
                                        {% assign online_event_card_class = "events--calendar--body--week--day--event__online" %}
                                        {% if event.online %}
                                            {% assign event_category_classname = event_category_classname | append: " " | append: online_event_card_class %}
                                        {% endif %}
                                        <div class="events--calendar--body--week--day--event {{ event_category_classname }}">
                                            <div class="events--calendar--body--week--day--event--name">
                                                <a class="events--calendar--body--week--day--event--name--anchor"
                                                    href="{{ event.url }}" 
                                                    title="{{ event.title }}"
                                                >{{ event.title }}</a>
                                            </div>
                                            <div class="events--calendar--body--week--day--event--details" data-eventurl="{{ event.url }}">
                                                <div class="events--calendar--body--week--day--event--details--close-button">
                                                    <a href="#" class="events--calendar--body--week--day--event--details--close-button--anchor">
                                                        {% include icons.html type="close-x" %}
                                                    </a>
                                                </div>
                                                <h4 class="events--calendar--body--week--day--event--details--category">
                                                    {{ event_category }}
                                                </h4>
                                                <h3 class="events--calendar--body--week--day--event--details--name">
                                                    <a href="{{ event.url }}">{{ event.title }}</a>
                                                </h3>
                                                <h6 class="events--calendar--body--week--day--event--details--date" data-eventdate="{{ event.eventdate }}">
                                                    {{ event.eventdate | date: "%a %d %b %Y at %I:%M %p %Z" }}
                                                </h6>
                                                {% if event.excerpt %}
                                                    <p>{{ event.excerpt }}</p>
                                                {% else %}
                                                    {{ event.content }}
                                                {% endif %}
                                                <h5 class="events--calendar--body--week--day--event--details--host"><a href="{{ event.url }}">Learn more</a></h5>
                                            </div>
                                        </div>
                                    {%- endfor %}
                                {% endif -%}
                            </div>
                            {% if day_date != end_date %}
                                {% assign day_date_parts = day_date | split: "-" %}
                                {% assign day_date_year = day_date_parts | first %}
                                {% assign day_date_month_number = day_date_parts[1] %}
                                {% assign day_date_day_number = day_date_parts | last %}
                                {% assign day_date_day_number_parts = day_date_day_number | split: "" %}
                                {% assign day_date_month_number_parts = day_date_month_number | split: "" %}
                                
                                {% if day_date_day_number_parts[0] == "0" %}
                                    {% assign day_date_day_number = day_date_day_number_parts[1] | times: 1 %}
                                {% else %}
                                    {% assign day_date_day_number = day_date_day_number | times: 1 %}
                                {% endif %}
                                {% if day_date_month_number_parts[0] == "0" %}
                                    {% assign day_date_month_number = day_date_month_number_parts[1] | times: 1 %}
                                {% else %}
                                    {% assign day_date_month_number = day_date_month_number | times: 1 %}
                                {% endif %}
                                
                                {% if day_date_month_number < month_number %}
                                    {% if day_date_day_number < days_in_previous_month %}
                                        {% assign day_date_day_number = day_date_day_number | plus: 1 %}
                                        {% if day_date_month_number < 10 %}
                                            {% assign day_date_month_number = day_date_month_number | prepend: "0" %}
                                        {% endif %}
                                        {% assign day_date = day_date_year | append: "-" | append: day_date_month_number | append: "-" | append: day_date_day_number %}
                                    {% else %}
                                        {% assign day_date_month_number = day_date_month_number | plus: 1 %}
                                        {% if day_date_month_number < 10 %}
                                            {% assign day_date_month_number = day_date_month_number | prepend: "0" %}
                                        {% endif %}
                                        {% assign day_date_day_number = "01" %}
                                        {% assign day_date = day_date_year | append: "-" | append: day_date_month_number | append: "-" | append: day_date_day_number %}
                                    {% endif %}
                                {% elsif day_date_month_number == month_number %}
                                    {% if day_date_day_number < days_in_month %}
                                        {% assign day_date_day_number = day_date_day_number | plus: 1 %}
                                        {% if day_date_day_number < 10 %}
                                            {% assign day_date_day_number = day_date_day_number | prepend: "0" %}
                                        {% endif %}
                                        {% if day_date_month_number < 10 %}
                                            {% assign day_date_month_number = day_date_month_number | prepend: "0" %}
                                        {% endif %}
                                        {% assign day_date = day_date_year | append: "-" | append: day_date_month_number | append: "-" | append: day_date_day_number %}
                                    {% else %}
                                        {% assign day_date_month_number = day_date_parts[1] %}
                                        {% assign day_date_month_number_parts = day_date_month_number | split: "" %}
                                        {% if day_date_month_number_parts[0] == "0" %}
                                            {% assign day_date_month_number = day_date_month_number_parts | last | times: 1 %}
                                        {% else %}
                                            {% assign day_date_month_number = day_date_month_number | times: 1 %}
                                        {% endif %}
                                        {% if day_date_month_number == '12' %}
                                            {% assign year = day_date_parts | first | times: 1 %}
                                            {% assign next_year = year | plus: 1 %}
                                            {% assign day_date = next_year | append: "-" | append: "01-01" %}
                                        {% else %}
                                            {% assign next_month = day_date_month_number | plus: 1 %}
                                            {% if next_month < 10 %}
                                                {% assign next_month = next_month | prepend: "0" %}
                                            {% endif %}
                                            {% assign year = day_date_parts | first %}
                                            {% assign day_date = year | append: "-" | append: next_month | append: "-01" %}
                                        {% endif %}
                                    {% endif %}
                                {% elsif day_date_month_number == 12 and month_number == 1 %}
                                    {% if day_date_day_number < days_in_previous_month %}
                                        {% assign day_date_day_number = day_date_day_number | plus: 1 %}
                                        {% assign day_date = day_date_year | append: "-" | append: day_date_month_number | append: "-" | append: day_date_day_number %}
                                    {% else %}
                                        {% assign day_date_year = day_date_year | plus: 1 %}
                                        {% assign day_date_month_number = "01" %}
                                        {% assign day_date_day_number = "01" %}
                                        {% assign day_date = day_date_year | append: "-" | append: day_date_month_number | append: "-" | append: day_date_day_number %}
                                    {% endif %}
                                {% else %}
                                    {% assign day_date_day_number = day_date_day_number | plus: 1 | prepend: "0" %}
                                    {% if day_date_month_number < 10  %}
                                        {% assign day_date_month_number = day_date_month_number | prepend: "0" %}
                                    {% endif %}
                                    {% assign day_date = day_date_year | append: "-" | append: day_date_month_number | append: "-" | append: day_date_day_number %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="events--secondary-content">
  {% include callout-cards.html 
    heading="Hosting an OpenSearch event?" 
    callouts=page.callouts 
    subheading='Add it so the community knows! Looking for a past event? Take a look at the <a href="/events/past.html">past events page.</a>'
  %}
  <div class="landing-page-content__right-panel">
    <div class="landing-page-content__right-panel--content">
      <hgroup class="landing-page-content__right-panel--content--body">
        <h2 class="platform-page--solution--header">Connect with the community</h2>
        <p>To learn more or start a discussion, join the <a href="/slack.html">Slack channel</a> or check out the <a href="https://forum.opensearch.org/">user forum</a> and follow <a href="/blog">our blog</a> for the latest on OpenSearch search tools.</p>
      </hgroup>
      <div class="landing-page-content__right-panel--content--side-panel landing-page-content__right-panel--content--side-panel__without-card-grid">
        <div class="draft-3-landing-page--button-stack">
          <div class="draft-3-landing-page--button-stack--button">
            {% include redesign_buttons.html name="project" %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="module">

    const locale = new Intl.Locale(navigator.language);
    const pageFirstCalendarDate = "{{ page.date_of_first_sunday }}";
    const pageCalendarYear = {{ page.year }};
    const pageCalendarMonthIndex = {{ page.month_index }};
    const dateOfFirstSundayParts = pageFirstCalendarDate.split('-').map((part, index) => {
        const numericPart = Number(part);
        if (index !== 1) {
            return numericPart;
        }
        return numericPart - 1;
    });
    const dateOfFirstSunday = new Date(Date.UTC(dateOfFirstSundayParts[0], dateOfFirstSundayParts[1], dateOfFirstSundayParts[2]));
    
    document.addEventListener('DOMContentLoaded', () => {

        function writeMonthYear(date) {
            const formatter = new Intl.DateTimeFormat(locale.baseName, {
                year: "numeric",
                month: "long",
            });
            const actualUTCDate = new Date(
                date.getUTCFullYear(),
                date.getUTCMonth(),
                date.getUTCDate(),
                date.getUTCHours(),
                date.getUTCMinutes(),
                date.getUTCSeconds(),
                date.getUTCMilliseconds(),
            );
            const formatted = formatter.format(actualUTCDate);
            const selector = '.events--calendar--head--month-year';
            const element = document.querySelector(selector);
            element.textContent = formatted;
        }

        function createLocalizedWeekdayNames(date, formatter) {
            const weekdayNames = Array.from(Array(7).keys()).map(i => {
                const actualUTCDate = new Date(
                    date.getUTCFullYear(),
                    date.getUTCMonth(),
                    date.getUTCDate() + i,
                    date.getUTCHours(),
                    date.getUTCMinutes(),
                    date.getUTCSeconds(),
                    date.getUTCMilliseconds(),
                );
                const weekdayName = formatter.formatToParts(actualUTCDate).find(part => part.type === 'weekday').value;
                return weekdayName;
            });
            return weekdayNames;
        }

        function writeWeekdayNames(date) {
            const formatter = new Intl.DateTimeFormat(locale.baseName, {
                weekday: "short",
            });
            const actualUTCDate = new Date(
                date.getUTCFullYear(),
                date.getUTCMonth(),
                date.getUTCDate(),
                date.getUTCHours(),
                date.getUTCMinutes(),
                date.getUTCSeconds(),
                date.getUTCMilliseconds(),
            );
            const names = createLocalizedWeekdayNames(actualUTCDate, formatter);
            const parentSelector = '.events--calendar--body--weekday-names';
            const weekdayClassName = 'events--calendar--body--weekday-names--name';
            const parent = document.querySelector(parentSelector);
            const nameElements = names.map(name => {
                const div = document.createElement('div');
                div.classList.add(weekdayClassName);
                div.textContent = name;
                return div;
            });
            parent.append(...nameElements);
        }
        writeMonthYear(new Date(Date.UTC(pageCalendarYear, pageCalendarMonthIndex, 1, 0, 0, 0, 0)));
        writeWeekdayNames(dateOfFirstSunday);

        
        function updateFilterByCategoryLabelCount() {
            const filterChipsParent = document.querySelector('.events--calendar--filters--category-selector--filter-chips');
            const chipCount = filterChipsParent?.querySelectorAll?.('.filter-chip')?.length ?? 0;
            const defaultLabelText = 'Filter by Category';
            const labelSelector = '.events--calendar--filters--category-selector--dropdown .labeled-dropdown--label';
            const label = document.querySelector(labelSelector);
            if (chipCount > 0) {    
                const labelTextWithCount = `${defaultLabelText} (${chipCount})`;
                label.textContent = labelTextWithCount;
            } else {
                label.textContent = defaultLabelText;
            }
        }

        function addFilterChip(chipType) {
            const templateId = `${chipType}-filter-chip`;
            const chipTemplate = document.getElementById(templateId);
            if (chipTemplate) {
                const templateContent = chipTemplate.content.cloneNode(true);
                const filterChipsParent = document.querySelector('.events--calendar--filters--category-selector--filter-chips');
                filterChipsParent?.appendChild(templateContent);
                updateFilterByCategoryLabelCount();
            }
        }

        document.getElementById('in-person-toggle-button')?.addEventListener?.('click', (e) => {
            const { currentTarget } = e;
            const parent = currentTarget.closest('.events--calendar--filters--in-person-toggle');
            const disabledClassName = 'events--calendar--filters--in-person-toggle__disabled';
            if (parent.classList.contains(disabledClassName)) {
                e.preventDefault();
                return;
            }
            parent.classList.toggle('events--calendar--filters--in-person-toggle__toggled-off');
            const calendar = document.querySelector('.events--calendar');
            calendar?.classList?.toggle?.('events--calendar__online-only');
        });

        let eventDetailsAction = null;
        let showHideTimerId = 0;
        const showDetailsDelay = 250;

        function showEventDetails(element) {
            element?.closest?.('.events--calendar--body--week--day--event')?.classList?.add?.('events--calendar--body--week--day--event__visible-details');
            element?.classList?.add?.('events--calendar--body--week--day--event--details__show');
            eventDetailsAction = null;
            showHideTimerId = 0;
        }

        function hideEventDetails(element) {
            element?.classList?.remove?.('events--calendar--body--week--day--event--details__show');
            element?.closest?.('.events--calendar--body--week--day--event__visible-details')?.classList?.remove?.('events--calendar--body--week--day--event__visible-details');
            eventDetailsAction = null;
            showHideTimerId = 0;
        }

        function isWaitingToShow() {
            return eventDetailsAction?.name === 'showEventDetails';
        }

        function isWaitingToHide() {
            return eventDetailsAction?.name === 'hideEventDetails';
        }

        function getVisibleDetails() {
            return document.querySelector('.events--calendar--body--week--day--event--details__show');
        }

        function onClickAwayCloseDetails(e) {
            const currentlyVisibleDetails = getVisibleDetails();
            if (currentlyVisibleDetails) {
                // There is a visible event details card.
                const closeAnchorClass = 'events--calendar--body--week--day--event--details--close-button--anchor';
                const findAnchor = (element) => {
                    if (!element) {
                        return null;
                    }
                    if (element.tagName === 'A' && element.classList.contains(closeAnchorClass)) {
                        return element;
                    }
                    if (element.classList.contains('events--calendar--body--week--day--event--details')) {
                        return null;
                    }
                    return findAnchor(element.parentElement);
                };
                const closeButtonClicked = findAnchor(e.target);
                if (closeButtonClicked) {
                    // The close icon (X in the top right corner) was clicked.
                    // Hide the event details card.
                    hideEventDetails(currentlyVisibleDetails);
                    event.preventDefault();
                } else {
                    // Determine if the click did NOT occur within the card iteself (say for example in a link).
                    // Hide it if there was a "click-away" event.
                    const detailsCard = e.target.closest('.events--calendar--body--week--day--event--details');
                    const clickWasInsideCard = detailsCard !== null;
                    if (!clickWasInsideCard) {
                        hideEventDetails(currentlyVisibleDetails);
                        const allowableAnchorClassNames = [
                            'events--calendar--head--prev-next--anchor',
                            'events--calendar--body--week--day--event--name--anchor',
                        ];
                        if (!allowableAnchorClassNames.some(className => e.target.classList.contains(className))) {
                            // If an event name was NOT clicked then prevent the default action.
                            // Otherwise allow the navigation to the clicked event to be performed.
                            event.preventDefault();
                        }
                    }
                }
            }
        }

        function onEventMouseOver(e) {
            if (showHideTimerId) {
                window.clearTimeout(showHideTimerId);
                showHideTimerId = 0;
            }
            if (eventDetailsAction && isWaitingToHide()) {
                eventDetailsAction();
            }
            const targetEventDetails = e.currentTarget.querySelector('.events--calendar--body--week--day--event--details');
            const targetEventUrl = targetEventDetails.getAttribute('data-eventurl');
            const currentlyVisibleDetails = getVisibleDetails();
            if (currentlyVisibleDetails && targetEventUrl && (targetEventUrl !== currentlyVisibleDetails.getAttribute('data-eventurl'))) {
                hideEventDetails(currentlyVisibleDetails);
            } else if (e.target.closest('.events--calendar--body--week--day--event--details')) {
                // Do nothing if the event occurs within a details card.
                return;
            }
            eventDetailsAction = showEventDetails.bind(null, e.currentTarget.querySelector('.events--calendar--body--week--day--event--details'));
            showHideTimerId = window.setTimeout(eventDetailsAction, showDetailsDelay);
        }

        document.querySelectorAll('.events--calendar--body--week--day--event').forEach(eventElement => {
            eventElement.addEventListener('mouseover', onEventMouseOver);
        });
        document.body.addEventListener('click', onClickAwayCloseDetails);

        function setEventsBreadcrumbsUrlToThisMonth(calendarViewUrl) {
            const selector = '.full-width-layout--header--breadcrumbs--item > a[href*="/events/calendar/"]';
            const link = document.querySelector(selector);
            link?.setAttribute?.('href', calendarViewUrl);
        }
            
        function setEventsPageLinksToThisMonthCalendar() {
            const today = new Date();
            const monthIndex = today.getUTCMonth();
            const year = today.getUTCFullYear();
            const calendarViewUrl = `/events/calendar/${year}-${monthIndex + 1}.html`;
            setEventsBreadcrumbsUrlToThisMonth(calendarViewUrl);
        }

        function localizeEventDates() {
            const eventDateAttributeName = 'data-eventdate';
            const selector = `[${eventDateAttributeName}]`;
            const eventDateElements = document.querySelectorAll(selector);
            if (eventDateElements?.length) {
                eventDateElements.forEach(dateElement => {
                    const eventDateValue = dateElement.getAttribute(eventDateAttributeName);
                    // example 2023-12-28 12:00:00 -0500
                    const datePartsPattern = /^(\d{4}-\d{1,2}-\d{1,2})\s+(\d{1,2}:\d{1,2}:\d{1,2})\s+(\+|-)(\d{2}:?\d{2}?)$/;
                    const datePartsPatternMatches = datePartsPattern.exec(eventDateValue);
                    if (datePartsPatternMatches) {
                        const [ , datePartMatch, timePartMatch, utcOffsetOperatorMatch, utcOffsetMatch] = datePartsPatternMatches;
                        const [year, monthNumber, day] = datePartMatch.split('-').map(part => Number.parseInt(part, 10));
                        const monthIndex = monthNumber - 1;
                        const [hour, minute, second] = timePartMatch.split(':').map(part => Number.parseInt(part, 10));
                        const eventUtcTimestamp = Date.UTC(year, monthIndex, day, hour, minute, second);

                        let utcHoursOffset = 0, utcMinutesOffset = 0;
                        if (utcOffsetMatch.indexOf(':') > -1) {
                            const splitUtcOffsetMatch = utcOffsetMatch.split(':').map(part => {
                                return Number.parseInt(part.replace(/^0+/, ''), 10);
                            });
                            utcHoursOffset = splitUtcOffsetMatch[0];
                            utcMinutesOffset = splitUtcOffsetMatch[1];
                        } else {
                            const splitUtcOffsetPattern = /^(\d{2})(\d{2}?)$/;
                            const splitUtcOffsetMatches = splitUtcOffsetPattern.exec(utcOffsetMatch);
                            if (splitUtcOffsetMatches?.length) {
                                const utcOffsetsNumbers = splitUtcOffsetMatches.slice(1).map(part => {
                                    return Number.parseInt(part.replace(/^0+/, ''), 10);
                                });
                                utcHoursOffset = utcOffsetsNumbers[0];
                                utcMinutesOffset = utcOffsetsNumbers[1] || 0;
                            }
                        }
                        const timezoneOffset = (
                            1000 * 60 * 60 * utcHoursOffset
                        ) + (
                            1000 * 60 * utcMinutesOffset
                        ) * (
                            utcOffsetOperatorMatch === '-' ? -1 : 1
                        );
                        const eventUtcDate = new Date(eventUtcTimestamp + timezoneOffset);
                        const formatter = new Intl.DateTimeFormat(navigator.language, {
                            weekday: 'long',
                            year: 'numeric',
                            month: 'long',
                            day: 'numeric',
                            dayPeriod: 'long',
                            hour: 'numeric',
                            hourCycle: 'h12',
                            minute: 'numeric',
                            timeZoneName: 'short',
                        });
                        dateElement.textContent = formatter.format(eventUtcDate);
                    }
                });
            }
        }

        const filterStateStorageName = 'events--calendar--filters';
        function readFilterState() {
            const filterStateJson = window.sessionStorage.getItem(filterStateStorageName);
            if (filterStateJson) {
                const parsedFilterState = JSON.parse(filterStateJson);
                return parsedFilterState;
            }
            return null;
        }

        function writeFilterState() {
            const defaultFilterState = {
                categories: [],
                showInPersonEvents: true,
            };
            const filteredCategoriesSelector = '.events--calendar.events--calendar__filtered';
            const selectedCategoriesAttributeName = 'data-filtercategory';
            const filteredCategories = (
                document.querySelector(
                    filteredCategoriesSelector
                )?.getAttribute?.(
                    selectedCategoriesAttributeName
                ) ?? ''
            ).split(',').filter(category => category !== '');
            const onlineOnlySelector = '.events--calendar.events--calendar__filtered.events--calendar__online-only';
            const onlineOnly = !!document.querySelector(onlineOnlySelector);
            const filterState = {
                ...defaultFilterState,
                categories: [...filteredCategories],
                showInPersonEvents: !onlineOnly,
            };
            const filterStateJson = JSON.stringify(filterState, null, 2);
            window.sessionStorage.setItem(filterStateStorageName, filterStateJson);
        }

        function initializeFilterStateDOM(filterState) {
            if (!filterState) {
                return;
            }
            const { 
                categories = [], 
                showInPersonEvents = true
            } = filterState;
            const calendarSelector = '.events--calendar';
            const eventsCalendarElement = document.querySelector(calendarSelector);
            const selectedCategoriesAttributeName = 'data-filtercategory';
            const selectedCategoryCount = categories?.length ?? 0;
            if (!showInPersonEvents) {
                const inPersonToggleSelector = '.events--calendar--filters--in-person-toggle';
                const onlineOnlyClass = 'events--calendar--filters--in-person-toggle__toggled-off';
                const onlineOnlyCalendarClass = 'events--calendar__online-only';
                eventsCalendarElement?.classList?.add?.(onlineOnlyCalendarClass);
                document.querySelector(inPersonToggleSelector)?.classList?.add?.(onlineOnlyClass);
            }

            if (selectedCategoryCount > 0) {
                const categoryList = categories.join(',');
                const calendarFilteredClassName = 'events--calendar__filtered';
                eventsCalendarElement?.setAttribute?.(selectedCategoriesAttributeName, categoryList);
                eventsCalendarElement?.classList?.add?.(calendarFilteredClassName);

                const categorySelectElementId = 'category-filter-selectorFilter-by-Category';
                const categorySelectElement = document.getElementById(categorySelectElementId);
                const labelSelector = `label[for="${categorySelectElementId}"]`;
                const labelText = `Filter by Category (${selectedCategoryCount})`;
                const labelElement = document.querySelector(labelSelector);

                categories.forEach(category => {
                    categorySelectElement?.querySelector?.(`option[value="${category}"]`)?.setAttribute?.('selected', '');
                    addFilterChip(category);
                });
                if (labelElement) {
                    labelElement.textContent = labelText;
                }
            }
        }

        function disableFilterControls() {
            const categoryFilterDropdownId = 'category-filter-selectorFilter-by-Category';
            const categoryFilterDropdownElement = document.getElementById(categoryFilterDropdownId);
            categoryFilterDropdownElement?.setAttribute?.('disabled', '');
            categoryFilterDropdownElement?.closest?.('.labeled-dropdown')?.classList?.add?.('labeled-dropdown__disabled');
            const inPersonToggleClass = 'events--calendar--filters--in-person-toggle';
            const inPersonToggleDisabledClass = `${inPersonToggleClass}__disabled`;
            const inPersonToggleSelector = `.${inPersonToggleClass}`;
            const inPersonToggleElement = document.querySelector(inPersonToggleSelector);
            inPersonToggleElement?.classList?.add?.(inPersonToggleDisabledClass);
        }

        function conditionallyShowNoEventsMessage() {
            const eventSelector = '.events--calendar--body--week--day--event';
            const count = document.querySelectorAll(eventSelector).length;
            if (count === 0) {
                const emptyCalendarTemplate = document.getElementById('empty-calendar-message');
                const templateContent = emptyCalendarTemplate.content.cloneNode(true);
                const messageParentSelector = '.events--calendar--filters--category-selector--filter-chips';
                const messageParentElement = document.querySelector(messageParentSelector);
                messageParentElement?.appendChild?.(templateContent);
                disableFilterControls();
            }
        }
        setEventsPageLinksToThisMonthCalendar();
        localizeEventDates();
        initializeFilterStateDOM(readFilterState());
        conditionallyShowNoEventsMessage();
        window.addEventListener('beforeunload', () => {
            writeFilterState();
        });
    });
</script>
