---
layout: fullwidth-with-breadcrumbs
breadcrumbs:
  icon: meetings-and-events
  items: 
    - title: Community
    - title: Events
      url: /events/calendar/2023-12.html
---

{% if page.hero_banner_image %}
    <div class="hero-banner__fullwidth__responsive">
        <div>
            <img src="{{ page.hero_banner_image }}" alt="{{ page.title }}">
        </div>
    </div>
{% endif %}
<div class="landing-page-content__right-panel conference-speaker-session-page">
    {% if page.youtube_video_id %}
        <div class="conference-speaker-session-page--embedded-video">
            {% include youtube-player.html id=page.youtube_video_id width="100%" height="" %}
        </div>
    {% endif %}
    <div class="landing-page-content__right-panel--content">
        <div class="landing-page-content__right-panel--content--body">
            {{ content }}
        </div>
        <div class="landing-page-content__right-panel--content--side-panel landing-page-content__right-panel--content--side-panel__events-page">
            {% assign category = page.category | default: "community" %}
            {% assign event_date = page.eventdate | date: "%A %e %B %Y %l%P %Z" %}
            {% assign category_card_class = "events--calendar__list-view--event-card__" | append: category %}
            {% assign online_event_card_class = "events--calendar__list-view--event-card__online" %}
            {% if page.online %}
                {% assign category_card_class = category_card_class | append: " " | append: online_event_card_class %}
            {% endif %}
            <div class="events--calendar--details--card {{ category_card_class }} events--calendar--details--card__events-page">
                <h4 class="events--calendar--body--week--day--event--details--category">
                    {{ category }}
                </h4>
                <h3 class="events--calendar--body--week--day--event--details--name" data-eventdate="{{ page.eventdate }}">
                    {{ event_date }}
                </h3>
                <p class="events--calendar--details--card--hosts">
                    {% assign meeting_link_title = page.signup.title | default: "Join the meeting" %}
                    <a href="{{ page.signup.url }}">{{ meeting_link_title }}</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="conference-speaker-session-page--view-all">
    <div class="conference-speaker-session-page--view-all--link-button">
        {% assign year_month = site.time | date: "%Y-%m" %}
        <a href="/events/calendar/{{ year_month }}.html">View All Events</a>
    </div>
</div>
{% include card-clickability.html card_classname="speaker-session--speaker-cards--card" card_container_selector=".speaker-session--speaker-cards" %}
{% include interactive-states.html element_classname="conference-speaker-session-page--view-all--link-button" container_selector=".conference-speaker-session-page--view-all" %}
<script type="module">
    document.addEventListener('DOMContentLoaded', () => {
        function setEventsBreadcrumbsUrlToThisMonth(calendarViewUrl) {
            const selector = '.full-width-layout--header--breadcrumbs--item > a[href*="/events/calendar/"]';
            const link = document.querySelector(selector);
            link?.setAttribute?.('href', calendarViewUrl);
        }

        function setViewAllEventsButtonUrl(url) {
            const selector = '.conference-speaker-session-page--view-all--link-button > a';
            const button = document.querySelector(selector);
            button?.setAttribute?.('href', url);
        }

        function setCalendarViewToggleUrlToThisMonth(calendarViewUrl) {
            const selector = '.events--calendar--filters--view-mode-toggle--item:first-of-type > a';
            const toggleButton = document.querySelector(selector);
            toggleButton?.setAttribute?.('href', calendarViewUrl);
        }
            
        function setEventsPageLinksToThisMonthCalendar() {
            const today = new Date();
            const monthIndex = today.getUTCMonth();
            const year = today.getUTCFullYear();
            const calendarViewUrl = `/events/calendar/${year}-${monthIndex + 1}.html`;
            setCalendarViewToggleUrlToThisMonth(calendarViewUrl);
            const isMobile = window.matchMedia('only screen and (max-width: 834px)').matches; 
            if (!isMobile) {
                setEventsBreadcrumbsUrlToThisMonth(calendarViewUrl);
                setViewAllEventsButtonUrl(calendarViewUrl);
            } else {
                const listViewUrl = '/events/index.html';
                setEventsBreadcrumbsUrlToThisMonth(listViewUrl);
                setViewAllEventsButtonUrl(listViewUrl);
            }
        }

        function localizeEventDates() {
            const eventDateAttributeName = 'data-eventdate';
            const selector = `[${eventDateAttributeName}]`;
            const eventDateElements = document.querySelectorAll(selector);
            if (eventDateElements?.length) {
            eventDateElements.forEach(dateElement => {
                const eventDateValue = dateElement.getAttribute(eventDateAttributeName);
                // example 2023-12-28 12:00:00 -0500
                const datePartsPattern = /^(\d{4}-\d{1,2}-\d{1,2})\s+(\d{1,2}:\d{1,2}:\d{1,2})\s+(\+|-)(\d{2}:?\d{2}?)$/;
                const datePartsPatternMatches = datePartsPattern.exec(eventDateValue);
                if (datePartsPatternMatches) {
                const [ , datePartMatch, timePartMatch, utcOffsetOperatorMatch, utcOffsetMatch] = datePartsPatternMatches;
                const [year, monthNumber, day] = datePartMatch.split('-').map(part => Number.parseInt(part, 10));
                const monthIndex = monthNumber - 1;
                const [hour, minute, second] = timePartMatch.split(':').map(part => Number.parseInt(part, 10));
                const eventUtcTimestamp = Date.UTC(year, monthIndex, day, hour, minute, second);

                let utcHoursOffset = 0, utcMinutesOffset = 0;
                if (utcOffsetMatch.indexOf(':') > -1) {
                    const splitUtcOffsetMatch = utcOffsetMatch.split(':').map(part => {
                        return Number.parseInt(part.replace(/^0+/, ''), 10);
                    });
                    utcHoursOffset = splitUtcOffsetMatch[0];
                    utcMinutesOffset = splitUtcOffsetMatch[1];
                } else {
                    const splitUtcOffsetPattern = /^(\d{2})(\d{2}?)$/;
                    const splitUtcOffsetMatches = splitUtcOffsetPattern.exec(utcOffsetMatch);
                    if (splitUtcOffsetMatches?.length) {
                        const utcOffsetsNumbers = splitUtcOffsetMatches.slice(1).map(part => {
                        return Number.parseInt(part.replace(/^0+/, ''), 10);
                        });
                        utcHoursOffset = utcOffsetsNumbers[0];
                        utcMinutesOffset = utcOffsetsNumbers[1] || 0;
                    }
                }
                const timezoneOffset = (
                    1000 * 60 * 60 * utcHoursOffset
                ) + (
                    1000 * 60 * utcMinutesOffset
                ) * (
                    utcOffsetOperatorMatch === '-' ? -1 : 1
                );
                const eventUtcDate = new Date(eventUtcTimestamp + timezoneOffset);
                const formatter = new Intl.DateTimeFormat(navigator.language, {
                    weekday: 'long',
                    year: 'numeric',
                    month: 'long',
                    day: 'numeric',
                    dayPeriod: 'long',
                    hour: 'numeric',
                    hourCycle: 'h12',
                    minute: 'numeric',
                    timeZoneName: 'short',
                });
                dateElement.textContent = formatter.format(eventUtcDate);
                }
            });
            }
        }
        setEventsPageLinksToThisMonthCalendar();
        localizeEventDates();
    });
</script>