---
layout: default
---
{% if page.has_hero %}
    {% assign page_type_class = "page-with-hero" %}
{% else %}
    {% assign page_type_class = "page-without-hero" %}
{% endif %}
<main class="container">
    <div class="{{ page_type_class }}">
        {% include page-breadcrumbs-and-title.html 
            breadcrumbs=page.breadcrumbs
            primary_title=page.primary_title
            title=page.title
        %}
        <div class="full-width-layout--content">
            <div class="full-width-layout--content--body">
                {{ content }}
                {% if page.content_cta_button %}
                    <div class="content-body--cta-button content-body--cta-button__centered">
                        {% include redesign_buttons.html name=page.content_cta_button %}
                    </div>
                {% endif  %}
            </div>
            {%- if page.content_with_side_button_stack -%}
                {%- for additional_content in page.content_with_side_button_stack -%}
                    {%- assign side_panel_location = additional_content.side_panel_location | default: "left" -%}
                    <div class="landing-page-content__{{side_panel_location}}-panel">
                        <div class="landing-page-content__{{side_panel_location}}-panel--content">
                            <div class="landing-page-content__{{side_panel_location}}-panel--content--body">
                                {% if additional_content.heading %}
                                    <h2 class="platform-page--solution--header">{{ additional_content.heading }}</h2>
                                {% endif %}
                                {% for paragraph in additional_content.paragraphs %}
                                    <p>{{ paragraph }}</p>
                                {% endfor %}
                            </div>
                            <div class="landing-page-content__{{side_panel_location}}-panel--content--side-panel landing-page-content__{{side_panel_location}}-panel--content--side-panel__without-card-grid landing-page-content__left-panel--content--side-panel__vertical-gradient">
                                {%- for button_stack in additional_content.button_stacks -%}
                                    <div class="draft-3-landing-page--button-stack__with-label">
                                        <div class="draft-3-landing-page--button-stack__with-label--label">
                                            <h2>{{ button_stack.heading }}</h2>
                                        </div>
                                        <div class="draft-3-landing-page--button-stack">
                                            {%- for button in button_stack.buttons -%}
                                                <div class="draft-3-landing-page--button-stack--button draft-3-landing-page--button-stack--button__hide-labels">
                                                    {% include redesign_buttons.html name=button %}
                                                </div>
                                            {%- endfor -%}
                                        </div>
                                    </div>
                                    {%- assign button_stack_container_selector = ".landing-page-content__" | append: side_panel_location | append: "-panel--content--side-panel > .draft-3-landing-page--button-stack__with-label:nth-of-type(" | append: forloop.index | append: ") .draft-3-landing-page--button-stack" -%}
                                    {% include interactive-states.html 
                                        element_classname=button_stack.interactive_button_class 
                                        container_selector=button_stack_container_selector
                                    %}
                                {%- endfor -%}
                            </div>
                        </div>
                    </div>
                {%- endfor -%}
            {%- endif -%}
            {%- if page.resources -%}
                <div class="solutions-card-grid">
                    {%- if page.resources.heading -%}
                        <h2 {% if page.resources.heading_id %}id="{{ page.resources.heading_id }}{% endif %}">{{ page.resources.heading }}</h2>
                    {%- endif %}
                    <div class="tall-card__no-image--grid solutions-card-grid--card-wrapper">
                        {%- for item in page.resources.items -%}
                            {% include tall-card-no-image.html
                                title=item.title
                                url=item.url
                                category=item.category
                                icon=item.icon
                                date=item.date
                            %}
                        {%- endfor -%}
                    </div>
                </div>
            {%- endif -%}
        </div>
    </div>
</main>
{%- if page.content_reposition_rules -%}
    {% include reposition-content.html 
        source_selector=page.content_reposition_rules.source_selector 
        insert_before_selector=page.content_reposition_rules.insert_before_selector 
    %}
{%- endif -%}
{%- if page.card_clickability_rules -%}
    {% include card-clickability.html 
        card_container_selector=page.card_clickability_rules.card_container_selector 
        card_classname=page.card_clickability_rules.card_classname 
    %}
{%- endif -%}
