---
layout: default
---
{% comment %} {% load weblog fundraising_extras %} {% endcomment %}

{% capture sectionid %}homepage{% endcapture %}
{% capture body_class %}homepage{% endcapture %}
{% capture layout_class %}sidebar-right{% endcapture %}

{% capture header %}
  <h1 class="visuallyhidden">Django</h1>
    <p>
        <em>Django makes it easier to build better Web apps more quickly and with less code.</em>
    </p>
    <p>
        <a href="" class="cta">Get started with Django</a>
    </p>
{% endcapture %}

{% capture content %}
    <div class="section">
        <h1>{{ page.greeting }}</h1>
        <p>
          {{ page.long_description }}
        </p>
        <dl class="list-features">
          {% for callout in page.callouts %}
            <dt>{{callout.title}}</dt>
            <dd><p>{{callout.description}}</p></dd>
            </dd>
          {% endfor %}

          <a href="" class="cta outline">I want to know more about OpenSearch</a>
    </div>

    {% comment %}

    <div class="section">
        <h1>Who is Django for?</h1>

        <p>
          You’ve probably used a site that uses Django. Find out why Django was the right solution for these organizations, and why you should start building your project with Django today.
        </p>

        <ul class="list-case-study">
          <li>
            <h3 class="logo" title="Mozilla">Mozilla</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
            <a href="{% url 'case_study' %}">Read Case Study</a>
          </li>
          <li>
            <h3 class="logo" title="Disqus">Disqus</h3>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <a href="{% url 'case_study' %}">Read Case Study</a>
          </li>
          <li>
            <h3 class="logo" title="Knight Foundation">Knight Foundation</h3>
            <p>When the Knight Foundation began redesigning their <a href="https://www.knightfoundation.org">site</a>, they were on multiple content management systems they’d outgrown, with a site that couldn’t handle traffic spikes. Knight needed a future-proof solution.</p>
            <a href="{% url 'case_study' %}">Read Case Study</a>
          </li>
        </ul>

        <a href="{% url 'case_study_index' %}" class="cta outline">See all case studies</a>

    </div>

    {% endcomment %}


{% endcapture %}

{% capture content_secondary %}
  <div class="section">
  <h1>Stay in the loop</h1>
  <p>Lorem ipsum look at the forums</p>
  </div>

  <!-- END #content-secondary -->
{% endcapture %}

{% capture content_related %}
  <div role="complementary">
      <a href="" class="cta">
          Download OpenSearch {{ site.latest_version }}
      </a>
      <a href="#" class="link-readmore">OpenSearch documentation</a>
      
      <div class="feature-box">
        
        <h3>Looking for Open Distro?</h3>
        <img src="/assets/img/logo-opendistro.svg" alt="Open Distro Logo" />
        <div class="feature-content">
          <p>Open Distro has been folded into the OpenSearch project.</p>
          <a href="http://www.example.com/" class="link-readmore">Learn More</a>
        </div>
        
      </div>
      
      <h3>What's new?</h3>
      {% for post in site.posts limit:5 %}
        <div>
          <h4><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>
          <p>{{ post.excerpt | strip_html | truncatewords: 20 }}</p>
        </div>
      {% endfor %}
      <a href="#" class="link-readmore">More news</a>
      {% for sidebar_category in page.sidebar %}
        <h3>{{sidebar_category.title}}</h3>
        <ul class="list-links-small">
          {% for link in sidebar_category.links %}
          <li><a href="{{ link.url }}">{{ link.title}}</a></li>
          {% endfor %}
        </ul>
        <a href="sidebar_category.more.url" class="link-readmore">{{sidebar_category.more.title}}</a>
      {% endfor %}
      
  </div>

{% endcapture %}

{% capture alert %}
  {% comment %}
  <div role="alert">
    <div class="container">
      <dl>
        <dt>
          <i class="icon icon-bullhorn"></i>
          <a href="#">Django Fundraising Drive 2014</a>
        </dt>
        <dd>
          The quickest &amp; most fun way to support Django.
          <a href="#" class="link-readmore">Learn more</a>
        </dd>
      </dl>
    </div>
  </div>
  {% endcomment %}
{% endcapture %}

{% include base_3col.html %}