---
layout: fullwidth-with-breadcrumbs
---

<ul>
    {% assign versions = site.versions | sort_versions: 'version_sort' | reverse %}
    {% for version in versions %}
        {% assign major_version =  version.version | split: "." | first %}
        {% if major_version == page.major_version %}
            <li><a href="{{version.url}}">OpenSearch {{version.version}}</a> <br /><small>(Released on {{version.date  | date_to_string: "ordinal", "US"}})</small> </li>
        {% endif %}
    {% endfor %}
</ul>

{{ page.content }}
