---
layout: default-base-template
title: Partners
primary_title: Partners
---

{% include address-custom-element.html %}
{% include partner-social-links.html %}
{% include responsive-collapsible-panel.html %}
{% include uppercase-first-word.html %}
{% include contact-info-element.html %}

{% assign primary_title = page.name_long %}

<div class="container text-left py-4 bg-body-tertiary p-0">
    <div class="row align-items-start">
        <!-- large logo -->
        <div class="col">
            <img src="{{ page.logo_large }}" alt="{{ page.name_long }} Logo" style="height: 75px;">
        </div>
    </div>
  </div>
</div>


<div class="container text-left">
    <div class="row align-items-start">
        <!-- sidbar -->
        <div class="col">
            <div class="partner-page--branding--product">
                {% if page.product_image %}
                    <img src="{{ page.product_image }}" alt="{{ page_long }} Product">
                {% endif %}
            </div>
        </div>
        <!-- main content -->
        <div class="col">
            Two
        </div>
    </div>
  </div>
</div>

<div class="container sidebar-left">
    <div class="partner-page--branding">
        <!-- <div class="partner-page--branding--logo">
            <img src="{{ page.logo_large }}" alt="{{ page.name_long }} Logo">
        </div> -->
        <div class="partner-page--branding--product">
            {% if page.product_image %}
                <img src="{{ page.product_image }}" alt="{{ page_long }} Product">
            {% endif %}
        </div>
    </div>
    <div class="partner-page--layout">
        <div role="complementary" class="partner-page--layout--meta sidebar">
            <responsive-collapsible-panel>
                <span slot="heading-slot">Company Details</span>
                <div class="partner-page--layout--meta__vspaced" slot="content-slot">
                    <dl>
                        {% if page.business_type %}
                            {% assign business_type_list = page.business_type | split: "," %}
                            <dt>Partner Type</dt>
                            <dd>
                                <ul>
                                    {% for business_type in business_type_list %}
                                        <li><uppercase-first-word>{{ business_type | strip }}</uppercase-first-word></li>
                                    {% endfor %}
                                </ul>
                            </dd>
                        {% endif %}
                        {% if page.region %}
                            {% assign region_list = page.region | split: "," %}
                            <dt>Regions Served</dt>
                            <dd>
                                <ul>
                                    {% for region in region_list %}
                                        <li><uppercase-first-word>{{ region | strip }}</uppercase-first-word></li>
                                    {% endfor %}
                                </ul>    
                            </dd>
                        {% endif %}
                        {% if page.opensearch_tech %}
                            {% assign opensearch_tech_list = page.opensearch_tech | split: "," %}
                            <dt>Technologies</dt>
                            <dd>
                                <ul>
                                    {% for tech in opensearch_tech_list %}
                                        <li><uppercase-first-word>{{ tech | strip }}</uppercase-first-word></li>
                                    {% endfor %}
                                </ul>
                            </dd>
                        {% endif %}
                        {% if page.industries %}
                            {% assign industry_list = page.industries | split: ","  %}
                            <dt>Industries</dt>
                            <dd>
                                <ul>
                                    {% for industry in industry_list %}
                                        <li><uppercase-first-word>{{ industry | strip }}</uppercase-first-word></li>
                                    {% endfor %}
                                </ul>
                            </dd>
                        {% endif %}
                    </dl>
                </div>
                <div class="partner-page--layout--meta__vspaced" slot="content-slot">
                    <dl>
                        {% if page.multiple_office_locations %}
                            <dt>Office Locations</dt>
                            <dd>
                                <dl>
                                    {% for office_location in page.multiple_office_locations %}
                                        <dt>{{ office_location.name }}</dt>
                                        <dd>
                                            <address-custom-element address="{{ office_location.location }}"></address-custom-element>
                                        </dd>
                                    {% endfor %}
                                </dl>
                            </dd>
                        {% elsif page.main_office_location %}
                            <dt>Main Office Address</dt>
                            <dd>
                                <address-custom-element address="{{ page.main_office_location }}"></address-custom-element>
                            </dd>
                        {% endif %}
                        <dt>Contact Info</dt>
                        <dd><contact-info contact-info="{{ page.contact | join: ',' }}"></contact-info></dd>
                        <dt>Website</dt>
                        <dd><a href="{{ page.link }}" target="_blank">{{ page.link }}</a></dd>
                    </dl>
                </div>
            </responsive-collapsible-panel>
        </div>
        <div class="partner-page--layout--details" role="main">
            <h1><a href="{{ page.link }}" target="_blank">{{ page.name_long }}</a></h1>
            <div class="partner-page--layout--details--description">
                <p>{{ page.description }}</p>
            </div>
            {% if page.products %}
                <div class="partner-page--layout--details--products">
                    <h2>Products &amp; Services</h2>
                    <ul>
                        {% for product in page.products %}
                            <li>
                                {% if product.name %}
                                    {% if product.url %}
                                        <a href="{{ product.url }}" target="_blank">{{ product.name }}</a>
                                    {% else %}
                                        <span><strong>{{ product.name }}</strong></span>
                                    {% endif %}
                                {% endif %}
                                {% if product.description %}
                                    <p>{{ product.description }}</p>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div> 
            {% endif %}
            {% if page.resources %}
                {% include resource-grid-element.html %}
                <div class="partner-page--layout--details--resources">
                    <h2>Resources</h2>
                    <resource-grid>
                        {% for resource in page.resources %}
                            <resource-grid-item slot="grid-item"
                                url="{{ resource.url }}"
                                type="{{ resource.type }}"
                                title="{{ resource.title }}"
                                thumbnail="{{ resource.thumbnail }}"
                                aspect-ratio="{{ resource.aspect_ratio }}"
                            ></resource-grid-item>
                        {% endfor %}
                    </resource-grid>
                </div>
            {% endif %}
            {% if page.social_links %}
                <div class="partner-page--social-links">
                    {% for social_link in page.social_links %}
                        <div class="partner-page--social-links--icon">
                            <a href="{{ social_link.url }}" target="_blank">
                                <partner-social-links icon="{{ social_link.icon }}"></partner-social-links>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
