---
layout: fullwidth
title: Partners
primary_title: Partners
body_class: partners-page
notice: true
---

{% include address-custom-element.html %}
{% include partner-social-links.html %}
{% assign primary_title = page.name %}
{% assign layout_class = 'sidebar-left' %}
<div class="container sidebar-left">
    <div class="partner-page--branding">
        <div class="partner-page--branding--logo">
            <img src="{{ page.logo_large }}" alt="{{ page.name }} Logo">
        </div>
        <div class="partner-page--branding--product">
            <img src="{{ page.product_image }}" alt="{{ page.name }} Product">
        </div>
    </div>
    <div class="partner-page--layout">
        {% capture content_related %}
            <div role="complementary" class="partner-page--layout--meta sidebar">
            <div class="partner-page--layout--meta__vspaced">
                <dl>
                    <dt>Partner Type</dt>
                    <dd>{{ page.business_type }}</dd>
                    <dt>Regions Served</dt>
                    <dd>{{ page.region }}</dd>
                    <dt>Technologies</dt>
                    <dd>{{ page.opensearch_tech }}</dd>
                    <dt>Industries</dt>
                    <dd>{{ page.industries }}</dd>
                </dl>
            </div>
            <div class="partner-page--layout--meta__vspaced">
                <dl>
                    <dt>Main Office Address</dt>
                    <dd>
                        <address-custom-element address="{{ page.main_office_location }}"></address-custom-element>
                    </dd>
                    <dt>Contact Info</dt>
                    <dd><a href="mailto:{{ page.contact }}">{{ page.contact }}</a></dd>
                    <dt>Website</dt>
                    <dd><a href="{{ page.link }}" target="_blank">{{ page.link }}</a></dd>
                </dl>
            </div>
            </div>
        {% endcapture %}

        {% capture content %}
            <div class="partner-page--layout--details" role="main">
                <h1><a href="{{ page.link }}" target="_blank">{{ page.name }}</a></h1>
                <div class="partner-page--layout--details--description">
                    <p>{{ page.description }}</p>
                </div>
                {% if page.resources %}
                    {% include resource-grid-element.html %}
                    <div class="partner-page--layout--details--resources">
                        <h2>Resources</h2>
                        <resource-grid>
                            {% for resource in page.resources %}
                                <resource-grid-item slot="grid-item"
                                    url="{{ resource.url }}"
                                    type="{{ resource.type }}"
                                    title="{{ resource.title }}"
                                    thumbnail="{{ resource.thumbnail }}"
                                ></resource-grid-item>
                            {% endfor %}
                        </resource-grid>
                    </div>
                {% endif %}
                {% if page.social_links %}
                    <div class="partner-page--social-links">
                        {% for social_link in page.social_links %}
                            <div class="partner-page--social-links--icon">
                                <a href="{{ social_link.url }}" target="_blank">
                                    <partner-social-links icon="{{ social_link.icon }}"></partner-social-links>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endcapture %}
    </div>
</div>
