---
layout: default
---
{% if page.has_hero %}
    {% assign page_type_class = "page-with-hero" %}
{% else %}
    {% assign page_type_class = "page-without-hero" %}
{% endif %}
{% include opensearch-button.html %}
<main class="container">
    <div class="{{ page_type_class }}">
        {% include page-title.html
            primary_title=page.primary_title 
            title=page.title
        %}
        <div class="platform-page--content">
            <div class="platform-solution-page">
                {% if page.callouts %}
                    <div class="landing-page-content__right-panel">
                        <div class="landing-page-content__right-panel--content">
                            <div class="landing-page-content__right-panel--content--body">
                                {{ content }}
                            </div>
                            <div class="landing-page-content__right-panel--content--side-panel landing-page-content__right-panel--content--side-panel__has-card-grid">
                                {% include callout-cards.html callouts=page.callouts %}
                            </div>
                        </div>
                    </div>
                {% else %}
                    {{ content }}
                {% endif %}
                {% include page-use-cases.html 
                    feature_area_category_name=page.feature_area_category_name 
                    feature_area_solution_name=page.feature_area_solution_name 
                %}
                {% include page-resources.html 
                    feature_area_category_name=page.feature_area_category_name 
                    feature_area_solution_name=page.feature_area_solution_name 
                %}
            </div>
        </div>
    </div>
</main>
