---
layout: default
---
{% if page.has_hero %}
    {% assign page_type_class = "page-with-hero" %}
{% else %}
    {% assign page_type_class = "page-without-hero" %}
{% endif %}
{% include opensearch-button.html %}
<main class="container">
    <div class="{{ page_type_class }}">
        <div class="full-width-layout--header">
            {% if page.breadcrumbs %}
                <div class="full-width-layout--header--category-area">
                    {% assign icon_type = page.breadcrumbs.icon %}
                    {% assign breadcrumb_items = page.breadcrumbs.items %}
                    {% if icon_type %}
                        <div class="full-width-layout--header--icon">
                            {% include icons.html type=icon_type %}
                        </div>
                        {% if breadcrumb_items %}
                            {% for item in breadcrumb_items %}
                                <div class="full-width-layout--header--breadcrumbs--item">
                                    {% if item.url -%}
                                        <a href="{{ item.url }}">{{ item.title }}</a>
                                    {%- else -%}
                                        {{- item.title -}}
                                    {%- endif %}
                                </div>
                                {% unless forloop.last %}
                                    <div class="full-width-layout--header--breadcrumbs--item-separator">&gt;</div>
                                {% endunless %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </div>
            {% endif %}
            <div class="full-width-layout--header--title">
                <h1>{{ page.primary_title }}</h1>
            </div>
        </div>
        <div class="platform-page--content">
            <div class="platform-solution-page">
                {% if page.callouts %}
                    <div class="landing-page-content__right-panel">
                        <div class="landing-page-content__right-panel--content">
                            <div class="landing-page-content__right-panel--content--body">
                                {{ content }}
                            </div>
                            <div class="landing-page-content__right-panel--content--side-panel landing-page-content__right-panel--content--side-panel__has-card-grid">
                                {% include callout-cards.html callouts=page.callouts %}
                            </div>
                        </div>
                    </div>
                {% else %}
                    {{ content }}
                {% endif %}
                {% include page-use-cases.html 
                    feature_area_category_name=page.feature_area_category_name 
                    feature_area_solution_name=page.feature_area_solution_name 
                %}
                {% include page-resources.html 
                    feature_area_category_name=page.feature_area_category_name 
                    feature_area_solution_name=page.feature_area_solution_name 
                %}
            </div>
        </div>
    </div>
</main>
