---
layout: default
---
{% assign primary_title = site.headings.news %}
{% assign layout_class = 'sidebar-right' %}
{% capture content %}
    <h1>{{page.title}}</h1>
    
    <div class="meta">
        {{ page.date | date: "%a, %b %d, %Y" }} 
        
        {% if page.authors %}
            &middot; {% for author_short_name in page.authors %}
                {% assign author = site.authors | where: 'short_name', author_short_name | first %}
                <em>{{ author.name }}</em>{% if forloop.length > 1 and forloop.last != true %}, {% endif %}
            {% endfor %}
        {% endif %}
    </div>


    {{ content }}
    <hr />
    <div class="blog-nav">

        {% if page.next.url %}
            <a class="next" href="{{page.next.url}}">&laquo; {{page.next.title}} </a>
        {% endif %}
        {% if page.previous.url %}
            <a class="prev" href="{{page.previous.url}}">{{page.previous.title}} &raquo; </a>
        {% endif %}
    
    </div>
      
{% endcapture %}

{% capture content_related %}
<div role="complementary">
    {% for author_short_name in page.authors %}
        {% assign author = site.authors | where: 'short_name', author_short_name | first %}
        {% comment %}<h2><a href="{{ author.url }}">{{ author.name }}</a></h2>{% endcomment %}
        <h2>{{ author.name }}</h2>
        {% if author.photo  %} <img class="author-photo" src="{{ author.photo }}" alt="photo of {{author.name}}" /> {% endif %}
        
        <p>{{ author.content | markdownify }}</p>
    {% endfor %}
</div>
{% endcapture %}

{% include copy_banner.html %}
{% include base_3col.html %}