<div class="platform-solution-page--content__gradient platform-page--resources">
    <hgroup>
        <h2 class="platform-page--resource--header">Resources</h2>
        <p>{{ page.description }}</p>
    </hgroup>
    <div class="platform-solution-page--resources">
        {{ content }}
    </div>
     {% if page.resources %}
        <div class="resource-grid">
            {% for resource in page.resources %}
                {% assign default_thumbnail_ordinal = forloop.index0 | modulo: 3 | plus: 1  %}
                {% assign default_thumbnail = "/assets/img/default-3up-thumbnail-" | append: default_thumbnail_ordinal | append: ".png" %}
                {% assign thumbnail = resource.thumbnail | default: default_thumbnail %}
                {% assign category = resource.type | default: "Blog" %}
                {% assign default_aspect_ratio = "67.14%5" %}
                {% assign aspect_ratio = resource.aspect_ratio | default: default_aspect_ratio %}
                {% include redesign-resource-grid-item.html aspect_ratio=aspect_ratio category=category title=resource.title url=resource.url thumbnail=thumbnail %}
            {% endfor %}
        </div>
        <div class="resource-grid--more">
            <div class="link-button">
                <a href="/blog">View All Blog Posts</a>
            </div>
        </div>
        {% include card-clickability.html card_container_selector=".platform-page--resources .resource-grid" card_classname="resource-grid--item" %}
    {% endif %}
</div>
