<div class="platform-page--solution--use-cases">
    <hgroup>
        <h2>{{ page.title }}</h2>
        <p>{{ page.description }}</p>
    </hgroup>
    {{ content }}
</div>
<div class="landing-page-content__right-panel">
    <div class="landing-page-content__right-panel--content">
        <hgroup class="landing-page-content__right-panel--content--body">
            <h2>Getting Started</h2>
            <p>{{ page.how_to_get_started }}</p>
        </hgroup>
        <div class="landing-page-content__right-panel--content--side-panel">
            <div class="draft-3-landing-page--button-stack">
                <div class="draft-3-landing-page--button-stack--button">
                    {% include redesign_buttons.html name="download" %}
                </div>
            </div>
        </div>
    </div>
</div>
