---
layout: default
---
{% if page.has_hero %}
    {% assign page_type_class= "page-with-hero" %}
{% else %}
    {% assign page_type_class = "page-without-hero" %}
{% endif %}
<main class="container">
    <div class="{{ page_type_class }}">
        <div class="full-width-layout--header">
            {% if page.breadcrumbs %}
                <div class="full-width-layout--header--category-area">
                    {% assign icon_type = page.breadcrumbs.icon %}
                    {% assign breadcrumb_items = page.breadcrumbs.items %}
                    {% if icon_type %}
                        <div class="full-width-layout--header--icon">
                            {% include icons.html type=icon_type %}
                        </div>
                        {% if breadcrumb_items %}
                            {% for item in breadcrumb_items %}
                                <div class="full-width-layout--header--breadcrumbs--item">
                                    {% if item.url -%}
                                        <a href="{{ item.url }}">{{ item.title }}</a>
                                    {%- else -%}
                                        {{- item.title -}}
                                    {%- endif %}
                                </div>
                                {% unless forloop.last %}
                                    <div class="full-width-layout--header--breadcrumbs--item-separator">&gt;</div>
                                {% endunless %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </div>
            {% endif %}
            <div class="full-width-layout--header--title">
                <h1>{{ page.primary_title }}</h1>
            </div>
        </div>
        <div class="platform-page--content">
            <div class="platform-solution-page">
                {{ content }}
            </div>
        </div>
    </div>
</main>
