---
layout: default
---
{% if page.has_hero %}
    {% assign page_type_class= "page-with-hero" %}
{% else %}
    {% assign page_type_class = "page-without-hero" %}
{% endif %}
{% assign icon_type = page.feature_area_icon_type | default: layout.feature_area_icon_type %}
{% assign category_name = page.feature_area_category_name | default: layout.feature_area_category_name %}
{% assign solution_name = page.feature_area_solution_name | default: layout.feature_area_solution_name %}
<main class="container">
    <div class="{{ page_type_class }}">
        <div class="platform-page--header">
            <div class="platform-page--feature-area">
                {% if icon_type %}
                    <div class="platform-page--feature-area--icon">
                        {% include icons.html type=icon_type %}
                    </div>
                {% endif %}
                {% if category_name %}
                    <div class="platform-page--feature-area--category-name">
                        {{ category_name }}
                    </div>
                {% endif %}
                {% if solution_name %}
                    <div class="platform-page--feature-area--solution-name">
                        {{ solution_name }}
                    </div>
                {% endif %}
            </div>
            <div class="platform-page--title">
                <h1>{{ page.primary_title }}</h1>
            </div>
        </div>
        <div class="platform-page--content">
            <div class="platform-solution-page">
                {{ content }}
            </div>
        </div>
    </div>
</main>
