---
layout: default
---
{% assign primary_title = site.headings.source %}
{% assign layout_class = 'sidebar-right' %}

{% capture content %}
    {{ content }}
    <dl class="repos">
    {% for repo in site.data.repos %}
        <dt><a href="{{repo.url}}"><span class="icon icon-github"></span> {{repo.title}}</a></dt>
        <dd>
            <p>{{repo.description}}</p>
            {% for special_file in repo.special_files %}
                <a class="link-readmore" href="{{ special_file.url }}">{{ special_file.title }}</a>
            {% endfor %}
        </dd>
    {% endfor %}
    </dl>
{% endcapture %}

{% capture content_related %}
<div role="complementary">
  {% include beta_feedback.html %}
</div>
{% endcapture %}

{% include copy_banner.html %}
{% include base_3col.html %}