---
layout: redesign-fullwidth
---
<div class="landing-page-content__right-panel conference-speaker-session-page">
    <div class="landing-page-content__right-panel--content">
        <div class="landing-page-content__right-panel--content--body">
            <img src="{{ page.speaker_image }}" alt="{{ page.speaker_name_full }}">
        </div>
        <div class="landing-page-content__right-panel--content--side-panel">
            <div class="speaker-session--details-card">
                {%- if page.keynote_speaker -%}
                    {% assign date_modifier_classname = "speaker-session--details-card--date__is_keynote" %}
                    <h4>Keynote Speaker</h4>
                {%- else -%}
                    {%- assign date_modifier_classname = "speaker-session--details-card--date__not_keynote" -%}
                {%- endif -%}
                <h2 class="speaker-session--details-card--date {{date_modifier_classname}}">
                    {{ page.speaker_name_full }}
                </h2>
                <h3>{{ page.speaker_title_and_company }}</h3>
                {%- assign speaker_sessions = site.speaker_sessions | where: "speaker_name", page.speaker_name -%}
                {%- if speaker_sessions.size > 0 -%}
                    <div class="speaker-session--details-card--related">
                        <h4>Sessions</h4>
                        {%- for session in speaker_sessions -%}
                            <h3><a href="{{ session.permalink }}">{{ session.speaker_talk_title }}</a></h3>
                            {% assign session_date_time = session.session_time | split: " - " %}
                            {% assign session_date = session_date_time[0] | date: "%A, %B %e" %}
                            <h5>{{ session_date }} {{ session_date_time[1] }} | {{ session.session_room }}</h5>
                        {%- endfor -%}
                    </div>
                {%- endif -%}
            </div>
        </div>
    </div>    
</div>
{% assign first_name = page.speaker_name_full | split: " " | first %}
<hgroup>
    <h2>About {{ first_name }}</h2>
    {{ content  }}
</hgroup>

{% comment %} 
    Create a base URL path prefix based on whatever is the ID of the latest
    (sorted lexicographically) conference listed in the array of conference IDs
    in the page Front Matter.
    Note: There is a runtime check performed in JavaScript below where the URL
    of the referring page is evaluated to correct this URL if necessary.
    For example, if this template logic produces a base URL path for /2023/us
    when the speaker meta data is listed for both the 2023-us and 2022-us conferences
    but the user actually navigated to this page from a /2022/us page then
    the URLs for the View All Speakers and  View All Sessions buttons 
    will be updated to navigate to the session/speaker pages of the appropriate conference.
{% endcomment %}
{% if page.conference_id %}
    {% assign sorted_conference_ids = page.conference_id | sort %}
    {% assign default_conference_id = sorted_conference_ids | last %}
    {% assign formatted_conference_id = default_conference_id |  replace_first: "-", "/" %}
    {% assign url_path_prefix = "/events/opensearchcon/archive/" | append: formatted_conference_id %}
{% else %}
    {% assign url_path_prefix = "/events/opensearchcon" %}
{% endif %}
<div class="conference-speaker-session-page--view-all">
    <div class="conference-speaker-session-page--view-all--link-button">
        <a href="{{ url_path_prefix }}/sessions/index.html" id="view-all-sessions">View All Sessions</a>
    </div>
    <div class="conference-speaker-session-page--view-all--link-button">
        <a href="{{ url_path_prefix }}/speakers/index.html" id="view-all-speakers">View All Speakers</a>
    </div>
</div>
<script type="module">
    document.addEventListener('DOMContentLoaded', () => {
        
        function extractConferenceArchiveUrlParts(url) {
            const archivePattern = /\/events\/opensearchcon\/archive\/(\d{4})\/([^\/]+)\//i;
            const archiveMatches = archivePattern.exec(url);
            if (archiveMatches) {
                const archiveYear = archiveMatches[1];
                const archiveLocation = archiveMatches[2];
                return {
                    archiveYear,
                    archiveLocation,
                };
            }
            return null;
        }
        
        function extractConferenceArchiveIdParts(id) {
            const conferenceIdParts = id.split('-');
            const [archiveYear, archiveLocation] = conferenceIdParts;
            return {
                archiveYear,
                archiveLocation,
            };
        }

        function updateViewAllUrls({ archiveYear, archiveLocation }) {
            const sessionsUrl = `/events/opensearchcon/archive/${archiveYear}/${archiveLocation}/sessions/index.html`;
            const speakersUrl = `/events/opensearchcon/archive/${archiveYear}/${archiveLocation}/speakers/index.html`;
            const viewAllSessionsLinkId = 'view-all-sessions';
            const viewAllSpeakersLinkId = 'view-all-speakers';
            const viewAllSessionsLink = document.getElementById(viewAllSessionsLinkId);
            const viewAllSpeakersLink = document.getElementById(viewAllSpeakersLinkId);
            if (viewAllSpeakersLink && viewAllSpeakersLink.getAttribute('href') !== speakersUrl) {
                viewAllSpeakersLink.setAttribute('href', speakersUrl);
            }
            if (viewAllSessionsLink && viewAllSessionsLink.getAttribute('href') !== sessionsUrl) {
                viewAllSessionsLink.setAttribute('href', sessionsUrl);
            }
        }

        try {
            {% if page.conference_id -%}
                const archiveConferenceIds = [
                    {%- for conference_id in sorted_conference_ids -%}
                        '{{ conference_id -}}'
                        {%- unless forloop.last -%},{%- endunless %}
                    {%- endfor %}
                ];
            {%- else -%}
                const archiveConferenceIds = [];
            {%- endif %}

            const { referrer } = document;
            if (!referrer && archiveConferenceIds.length === 0) {
                return;
            }

            const archiveUrlParts = extractConferenceArchiveUrlParts(referrer);
            if (archiveUrlParts) {
                updateViewAllUrls(archiveUrlParts);
            } else if (archiveConferenceIds.length > 0) {
                const lastConferenceId = archiveConferenceIds[archiveConferenceIds.length - 1];
                const archiveIdParts = extractConferenceArchiveIdParts(lastConferenceId);
                updateViewAllUrls(archiveIdParts);
            }
            
        } catch (error) {
            console.error(`Error processing conference page referrer check: ${error.message}`);
        }
    });
</script>
{% include interactive-states.html element_classname="conference-speaker-session-page--view-all--link-button" container_selector=".conference-speaker-session-page--view-all" %}
