---
layout: redesign-fullwidth
feature_area_icon_type: community
feature_area_category_name: Speaker Bios
---
<div class="landing-page-content__right-panel conference-speaker-session-page">
    <div class="landing-page-content__right-panel--content">
        <div class="landing-page-content__right-panel--content--body">
            <img src="{{ page.speaker_image }}" alt="{{ page.speaker_name_full }}">
        </div>
        <div class="landing-page-content__right-panel--content--side-panel">
            <div class="speaker-session--details-card">
                {%- if page.keynote_speaker -%}
                    {% assign date_modifier_classname = "speaker-session--details-card--date__is_keynote" %}
                    <h4>Keynote Speaker</h4>
                {%- else -%}
                    {%- assign date_modifier_classname = "speaker-session--details-card--date__not_keynote" -%}
                {%- endif -%}
                <h2 class="speaker-session--details-card--date {{date_modifier_classname}}">
                    {{ page.speaker_name_full }}
                </h2>
                <h3>{{ page.speaker_title_and_company }}</h3>
                {%- assign speaker_sessions = site.speaker_sessions | where: "speaker_name", page.speaker_name -%}
                {%- if speaker_sessions.size > 0 -%}
                    <div class="speaker-session--details-card--related">
                        <h4>Sessions</h4>
                        {%- for session in speaker_sessions -%}
                            <h3><a href="{{ session.permalink }}">{{ session.speaker_talk_title }}</a></h3>
                            {% assign session_date_time = session.session_time | split: " - " %}
                            {% assign session_date = session_date_time[0] | date: "%A, %B %e" %}
                            <h5>{{ session_date }} {{ session_date_time[1] }} | {{ session.session_room }}</h5>
                        {%- endfor -%}
                    </div>
                {%- endif -%}
            </div>
        </div>
    </div>    
</div>
{% assign first_name = page.speaker_name_full | split: " " | first %}
<hgroup>
    <h2>About {{ first_name }}</h2>
    {{ content  }}
</hgroup>
<div class="conference-speaker-session-page--view-all">
    <div class="conference-speaker-session-page--view-all--link-button">
        <a href="/events/opensearchcon/sessions/index.html">View All Sessions</a>
    </div>
    <div class="conference-speaker-session-page--view-all--link-button">
        <a href="/events/opensearchcon/speakers/index.html">View All Speakers</a>
    </div>
</div>
{% include interactive-states.html element_classname="conference-speaker-session-page--view-all--link-button" container_selector=".conference-speaker-session-page--view-all" %}
