---
layout: fullwidth-with-breadcrumbs
title: Past Events
primary_title: Past Events
breadcrumbs:
  icon: community
  items:
    - title: Community
    - title: Past Events
      url: '/events/past.html'
callouts:
  - name: Step One
    description: 'Write some <a href="https://github.com/opensearch-project/project-website/blob/main/_events/_sample.markdown">yaml/markdown</a>'
  - name: Step Two
    description: 'Do a <a href="https://github.com/opensearch-project/project-website/tree/main/_events">pull-request</a> on the events directory'
  - name: Step Three
    description: 'We&apos;ll merge qualifying events and they&apos;ll appear on our calendar'
---
<template id="community-filter-chip">
  {% include filter-chips.html type="community" %}
</template>
<template id="development-filter-chip">
  {% include filter-chips.html type="development" %}
</template>
<template id="events-filter-chip">
  {% include filter-chips.html type="events" %}
</template>
<div class="events--calendar--wrapper">
  <div class="events--calendar--filters">
    <div class="events--calendar--filters--view-mode-toggle">
      <div class="events--calendar--filters--view-mode-toggle--item">
        <a href="{{ site.calendars.first.url }}">
          {% include icons.html type="calendar" %}
        </a>
      </div>
      <div class="events--calendar--filters--view-mode-toggle--item events--calendar--filters--view-mode-toggle--item__selected">
        <a href="{{ page.url }}">
          {% include icons.html type="list" %}
        </a>
      </div>
    </div>
    <div class="events--calendar--filters--category-selector">
      <div class="events--calendar--filters--category-selector--dropdown">
        {% include labeled-dropdown.html
          items=site.data.calendars.filter_categories
          label="Filter by Category"
          id="category-filter-selector"
        %}
      </div>
      <div class="events--calendar--filters--category-selector--filter-chips"></div>
    </div>
    <div class="events--calendar--filters--in-person-toggle">
      <div role="button" id="in-person-toggle-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="20" viewBox="0 0 40 20" fill="none">
          <rect x="39.5" y="19.5" width="39" height="19" rx="9.5" transform="rotate(-180 39.5 19.5)" fill="#006D97" stroke="#006D97"/>
          <circle cx="30" cy="10" r="9.5" transform="rotate(-180 30 10)" fill="white" stroke="#006D97"/>
        </svg>
      </div>
      <div>
        <label for="in-person-toggle-button">Include In-Person Events</label>
      </div>
    </div>
  </div>
  <div class="events--calendar__list-view">
    {% assign now = site.time %}
    {% assign past_events = site.events | where_exp: "event","event.eventdate < now" %}
    {% assign sorted_events = past_events  | sort: "eventdate" | reverse %}
    {% assign current_month = "" %}
    {% assign current_year = "" %}
    {% for event in sorted_events %}
      
      {% assign current_event_date_parts = event.eventdate | split: "-" %}
      {% if current_event_date_parts[0] != current_year or current_event_date_parts[1] != current_month %}
        {% assign current_year = current_event_date_parts[0] %}
        {% assign current_month = current_event_date_parts[1] %}
        <div class="solutions-card-grid">
          <h2>{{ event.eventdate | date: "%b %Y"}}</h2>
          <div class="tall-card__no-image--grid solutions-card-grid--card-wrapper">
      {% endif %}

      {% assign category = event.category | default: "community" %}
      {% assign event_date = event.eventdate | date: "%a, %b %d, %Y" %}
      {% assign category_card_class = "events--calendar__list-view--event-card__" | append: category %}
      {% assign online_event_card_class = "events--calendar__list-view--event-card__online" %}
      {% if event.online %}
        {% assign category_card_class = category_card_class | append: " " | append: online_event_card_class %}
      {% endif %}
      {% include tall-card-no-image.html 
        category=category
        title=event.title
        url=event.url
        icon="community"
        date=event_date
        additional_card_class=category_card_class
      %}
      
      {% if forloop.last %}
          </div></div>
      {% else %}
        {% assign peak_ahead_index = forloop.index0 | plus: 1 %}
        {% assign peak_ahead_date = sorted_events[peak_ahead_index].eventdate %}
        {% assign peak_ahead_date_parts = peak_ahead_date | split: "-" %}
        {% if peak_ahead_date_parts[0] != current_event_date_parts[0] or peak_ahead_date_parts[1] != current_event_date_parts[1] %}
          </div></div>
        {% endif %}
      {% endif %}
    {% endfor %}

  </div>
</div>
    
<div class="events--secondary-content">
  {% include callout-cards.html 
    heading="Hosting an OpenSearch event?" 
    callouts=page.callouts 
    subheading='Add it so the community knows! Looking for a past event? Take a look at the <a href="/events/past.html">past events page.</a>'
  %}
</div>

<script type="module">
  document.addEventListener('DOMContentLoaded', () => {

    function setCalendarViewToggleUrlToThisMonth() {
      const selector = '.events--calendar--filters--view-mode-toggle--item:first-of-type > a';
      const today = new Date();
      const monthIndex = today.getUTCMonth();
      const year = today.getUTCFullYear();
      const calendarViewUrl = `/events/calendar/${year}-${monthIndex + 1}.html`;
      const toggleButton = document.querySelector(selector);
      toggleButton?.setAttribute?.('href', calendarViewUrl);
    }

    function hasFilterChip(chipType) {
        const selector = `.events--calendar--filters--category-selector--filter-chips > [data-category=${chipType}]`;
        const chipElement = document.querySelector(selector);
        return chipElement !== null;
    }

    function hasAnyFilterChips() {
        const selector = '.events--calendar--filters--category-selector--filter-chips > .filter-chip';
        const chips = document.querySelectorAll(selector);
        const chipCount = chips?.length ?? 0;
        return chipCount > 0;
    }

    function updateFilterByCategoryLabelCount() {
        const filterChipsParent = document.querySelector('.events--calendar--filters--category-selector--filter-chips');
        const chipCount = filterChipsParent?.querySelectorAll?.('.filter-chip')?.length ?? 0;
        const defaultLabelText = 'Filter by Category';
        const labelSelector = '.events--calendar--filters--category-selector--dropdown .labeled-dropdown--label';
        const label = document.querySelector(labelSelector);
        if (chipCount > 0) {    
            const labelTextWithCount = `${defaultLabelText} (${chipCount})`;
            label.textContent = labelTextWithCount;
        } else {
            label.textContent = defaultLabelText;
        }
    }

    function removeFilterChip(chipType) {
        const selector = `.events--calendar--filters--category-selector--filter-chips > [data-category=${chipType}]`;
        const chipElement = document.querySelector(selector);
        chipElement?.parentElement?.removeChild?.(chipElement);
        updateFilterByCategoryLabelCount();
    }

    function hideFilterDropdown() {
        const selector = '.events--calendar--filters--category-selector--dropdown .labeled-dropdown--select';
        const dropdown = document.querySelector(selector);
        const parent = dropdown.closest('.labeled-dropdown');
        if (parent) {
            const collapsedClassName = 'labeled-dropdown__collapsed';
            const expandedClassName = 'labeled-dropdown__expanded';
            parent.classList.replace(expandedClassName, collapsedClassName);
        }
    }
    
    function addFilterChip(chipType) {
        const templateId = `${chipType}-filter-chip`;
        const chipTemplate = document.getElementById(templateId);
        if (chipTemplate) {
            const templateContent = chipTemplate.content.cloneNode(true);
            const filterChipsParent = document.querySelector('.events--calendar--filters--category-selector--filter-chips');
            filterChipsParent?.appendChild(templateContent);
            updateFilterByCategoryLabelCount();
        }
    }

    function removeClickedFilterChip(e) {
        const { target } = e;
        const clickedChipSelector = '.filter-chip';
        const clickedChip = target.closest(clickedChipSelector);
        if (clickedChip) {
            const category = clickedChip.getAttribute('data-category');
            const calendarClass = 'events--calendar__list-view';
            const calendarSelector = `.${calendarClass}`;
            const calendarFilteredModifierClass = `${calendarClass}__filtered`;
            const calendar = document.querySelector(calendarSelector);
            if (calendar) {
                const categoryAttribute = 'data-filtercategory';
                const filteredCategory = calendar.getAttribute(categoryAttribute);
                if (filteredCategory) {
                    const updatedFilters = filteredCategory.split(',').filter(value => value !== category).join(',');
                    if (updatedFilters.length > 0) {
                        calendar.setAttribute(categoryAttribute, updatedFilters);
                    } else {
                        calendar.removeAttribute(categoryAttribute);
                        calendar.classList.remove(calendarFilteredModifierClass);
                    }
                }
            }
            removeFilterChip(category);
        }
    }

    function toggleCategoryDropdown(e) {
        const collapsedClassName = 'labeled-dropdown__collapsed';
        const expandedClassName = 'labeled-dropdown__expanded';
        const { currentTarget } = e;
        const parent = currentTarget.closest('.labeled-dropdown');
        if (parent) {
            if (parent.classList.contains(collapsedClassName)) {
                parent.classList.replace(collapsedClassName, expandedClassName);
            } else {
                parent.classList.replace(expandedClassName, collapsedClassName);
            }
        }
        e.stopImmediatePropagation();
        e.stopPropagation();
        e.preventDefault();
    }

    function toggleCategoryFilterSelection(e) {
        const { currentTarget, target : { value = '' } = {} } = e;
        const filterCategories = {{ site.data.calendars.filter_categories | map: "value" | jsonify }};
        if (filterCategories.includes(value)) {
            const calendarClass = 'events--calendar__list-view';
            const calendarSelector = `.${calendarClass}`;
            const calendarFilteredModifierClass = `${calendarClass}__filtered`;
            const calendar = document.querySelector(calendarSelector);
            const adding = !hasFilterChip(value);
            const filterAttribute = 'data-filtercategory';
            if (adding) {
                addFilterChip(value);
            } else {
                removeFilterChip(value);
            }
            if (hasAnyFilterChips()) {
                if (calendar.hasAttribute(filterAttribute)) {
                    const existingFilters = calendar.getAttribute(filterAttribute);
                    if (adding) {
                        const updatedFilters = [...existingFilters.split(','), value].join(',');
                        calendar.setAttribute(filterAttribute, updatedFilters);
                    } else {
                        const updatedFilters = existingFilters.split(',').filter(category => category !== value);
                        if (updatedFilters.length > 0) {
                            calendar.setAttribute(filterAttribute, updatedFilters.join(','));
                            if (!calendar.classList.contains(calendarFilteredModifierClass)) {
                                calendar.classList.add(calendarFilteredModifierClass);
                            }
                        } else {
                            calendar.removeAttribute(filterAttribute);
                            calendar.classList.remove(calendarFilteredModifierClass);
                        }
                    }
                } else {
                    calendar.setAttribute(filterAttribute, value);
                    if (!calendar.classList.contains(calendarFilteredModifierClass)) {
                        calendar.classList.add(calendarFilteredModifierClass);
                    }
                }
            } else {
                calendar.removeAttribute(filterAttribute);
                calendar.classList.remove(calendarFilteredModifierClass);
            }
        }
        hideFilterDropdown();
    }

    document.querySelector(
        '.events--calendar--filters--category-selector--filter-chips'
    )?.addEventListener?.('click', removeClickedFilterChip);

    document.querySelector(
        '.events--calendar--filters--category-selector--dropdown .labeled-dropdown--label-arrow'
    )?.addEventListener?.('click', toggleCategoryDropdown);

    document.querySelector(
        '.events--calendar--filters--category-selector--dropdown .labeled-dropdown--select'
    )?.addEventListener?.('click', toggleCategoryFilterSelection);

    document.getElementById('in-person-toggle-button')?.addEventListener?.('click', (e) => {
        const { currentTarget } = e;
        const parent = currentTarget.closest('.events--calendar--filters--in-person-toggle');
        parent.classList.toggle('events--calendar--filters--in-person-toggle__toggled-off');
        const calendar = document.querySelector('.events--calendar__list-view');
        calendar?.classList?.toggle?.('events--calendar__list-view__online-only');
    });
    
    setCalendarViewToggleUrlToThisMonth();

  });
</script>
{% include card-clickability.html 
  card_classname="tall-card__no-image--grid--card" 
  card_container_selector=".events--calendar__list-view"
%}
