---
layout: fullwidth
title: Past Events
primary_title: Events
body_class: events-page
---

{% assign now =  site.time |  date_to_xmlschema %}
{% assign past_events = site.events | where_exp: "event","event.eventdate  < now" %}
{% assign primary_title = site.headings.events %}
{% assign layout_class = 'sidebar-right events-page' %}

<h2>Past</h2>

<ul class="list-events">
  {% assign sorted_events = past_events | sort: "eventdate" | reverse %}
  {% for event in sorted_events %}
    {% include event.html %}
  {% endfor %}  
</ul>
