---
layout: fullwidth-with-breadcrumbs
title: Community Projects
primary_title: Community Projects
body_class: community_projects-page
breadcrumbs:
  icon: community
  items:
    - title: Community
    - title: Projects
      url: '/community_projects/'
---

<p>This page was made to highlight projects built by the community for the community.</p>
<p> Want your project on this page? Check out this <a href="../new-community-project.html">guide on adding a new community project</a>.</p>

<h2>Projects</h2>
<section class="community_projects">
  {% for community_project in site.community_projects %}
  <div class="community_project">
    <div class="project-info">
      {% if community_project.icon != nil %}
      <a class="image" href="{{ community_project.link }}"><img src="{{ community_project.icon }}" /></a>
      {% endif %}  
      <h3 class="name"><a href="{{community_project.link}}">{{community_project.name}}</a></h3>
      <p class="description">{{community_project.description}}</p>
    </div>
    <div class="extras-group">
      <p class="extra">License: <a href="{{community_project.license_link}}">{{community_project.license}}</a></p>
      {% if community_project.owner_link != nil and community_project.owner != nil %}
      <p class="extra">Owner: <a href="{{community_project.owner_link}}">{{community_project.owner}}</a></p>
      {% elsif community_project.owner != nil %}
      <p class="extra">Owner: {{community_project.owner}}</p>
      {% endif %}      
      {% if community_project.download_link != nil %}
      <a class="download" href="{{community_project.download_link}}">Download</a>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</section>
