---
layout: fullwidth
title: Project Artifacts
primary_title: Artifacts
---
{% assign artifacts_by_id = site.artifacts | sort: "artifact_id" | group_by: "artifact_id" %}
<div class="artifact-download-tree">
  <ul class="tree">
    {% for id_group in artifacts_by_id %}
        <li id="{{id_group.name}}">{{ id_group.name }}
        {% assign artifacts_by_platform = id_group.items | group_by: "platform" %}
        <ul class="tree">
        {% for platform_group in artifacts_by_platform %}    
          {% assign architecture_group = platform_group.items | group_by: "architecture" %}
          {% for artifacts in architecture_group %}
            <li>{{ platform_group.name }}-{{ artifacts.name }}
              <ul class="tree">
                {% for artifact in artifacts.items %}
                  <li><a href="{{ artifact.artifact_url}}">{{ artifact.artifact_url | split: "/" | last }}</a></li>
                {% endfor %}
              </ul> 
            </li>
        {% endfor %}
        {% endfor %}
        </ul>
      </li>
    {% endfor %} 
    </ul>
</div>
